.body {
  min-height: 82vh;
}

.loader {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.loader > img {
  height: 55px;
  width: 55px;
}
.noData {
  display: grid;
  place-items: center;
  height: 100%;
  border-radius: 6px;
  background-color: white;
}
.noData img {
  height: 30vw;
  width: 30vw;
}
