.top {
  width: 100%;
  background-color: #fff;
  padding: 0.5vw;
  border-radius: 0.366vw;
  cursor: pointer;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 15px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.8);
}

.main {
  margin-top: 0.7vw;
  width: 61.493vw;
  height: 20vw;
  background-color: #d9d9d9;
  /* border-top-left-radius: 0.366vw;
  border-top-right-radius: 0.366vw; */
  display: flex;
}

.imageJustify {
  position: relative;
}

.justifyWhite {
  height: 20vw;
}

.imageJustify1 {
  margin-top: -22.5vw;
  width: 41.507vw;
  height: 20vw;
  margin-left: 0vw;
}

.imageJustify2 {
  margin-left: -23.111vw;
  width: 33.382vw;
  height: 20vw;
}
.nameAndAbout {
  width: 29.283vw;
  margin-top: -18vw;
  padding-left: 2.782vw;
}
.name {
  width: 21.376vw;
  height: 6.515vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  line-height: 1.977vw;
  color: #ffffff;
  margin-bottom: 3vw;
}
.name > span {
  font-size: 2.635vw;
}
.name {
  font-size: 1.098vw;
}
.about {
  width: 23.572vw;
  margin-top: -5vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 1.025vw;
  line-height: 1.391vw;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.7);
  height: 15vw;

  overflow: hidden;
  text-overflow: ellipsis !important;
}

.justifyDark {
  height: 20vw;
  background-color: #1c023b;
  width: 20vw;
  /* border-top-left-radius: 0.366vw;
  border-top-right-radius: 0.366vw; */
}
