/* svg {
  width: 35vw !important;
  display: flex !important;
  justify-content: center !important;
} */

.semicircle-container {
  width: 100% !important;
}

.semicircle-container svg {
  width: 100% !important;
}

.semicircle-container {
  width: 100% !important;

  display: flex;
  justify-content: center !important;
}
.semicircle-container svg circle {
  cx: 50% !important ;
}

@media only screen and (max-width: 1245px) {
  .semicircle-container svg circle {
    cx: 55% !important ;
  }
}

@media only screen and (max-width: 1180px) {
  .semicircle-container svg circle {
    cx: 51% !important ;
  }
}

@media only screen and (max-width: 1140px) {
  .semicircle-container svg {
    width: 100% !important;
  }

  .semicircle-container svg circle {
    cx: 50% !important ;
  }
}

@media only screen and (max-width: 1024px) {
  .semicircle-container svg {
    width: 100% !important;
  }

  .semicircle-container svg circle {
    cx: 50% !important ;
    stroke-width: 40 !important;
  }
}

@media only screen and (max-width: 992px) {
  .semicircle-container svg {
    width: 100% !important;
  }

  .semicircle-container svg circle {
    cx: 50% !important ;
    stroke-width: 28 !important;
  }
}

@media only screen and (max-width: 860px) {
  .semicircle-container svg {
    width: 100% !important;
  }

  .semicircle-container svg circle {
    cx: 50% !important ;
    stroke-width: 15 !important;
    r: 120 !important;
  }
}
