.firstRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: 60%;
}
.right {
  width: 40%;
}

.right,
.right div {
  display: flex;
  flex-direction: column;

  align-items: flex-end;
}

.left h5,
.right h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1;
  line-height: 29px;
  /* identical to box height */

  color: #121212;
}

.left p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 21px;
  /* or 139% */

  color: #121212;
}

.right p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 21px;
  /* or 139% */

  color: #121212;
}
.right h5 {
  line-height: 37px !important;
}
.right p {
  line-height: 9px !important;
}
