.last {
  width: 59%;

  background-color: white;
  border-radius: 10px;
}
.top {
  display: flex;
  padding: 1vw;
  justify-content: space-between;
  align-items: center;
}

.setting {
  display: flex;
  align-items: center;
  gap: 0.3vw;
}

.activity {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */

  text-transform: capitalize;

  color: #050505;
}
.setting img {
  height: 1.6vw;
  margin-top: -1.1vw;
}

.setting p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */

  text-transform: capitalize;

  color: #2685df;
}
.user {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.user img {
  margin-top: -1.5vw;
}

.text h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.7vw;
  line-height: 15px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.8);
}
.text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8vw;
  line-height: 13px;

  color: rgba(18, 18, 18, 0.8);
}

.insName,
.joinDate {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 15px;
  width: fit-content !important;
  /* or 136% */

  color: rgba(18, 18, 18, 0.8);
}

.btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.7vw;
  line-height: 18px;
  /* identical to box height */
  background: #420789;
  border-radius: 6px;
  color: #ffffff;
  display: grid;
  place-items: center;
  width: 5vw !important;
  padding: 0.5vw;
}

.table {
  height: 30vw !important;
  background-color: red;
  overflow-y: scroll;
}
