.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  background-color: white;
}

.join_form_container,
.join_form_container_view {
  width: 100%;
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: var(--tab-color);
}
.join_form_container_view {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgba(18, 18, 18, 0.5);
  margin-bottom: 12px;
  margin-top: 15px;
}
.join_form_label_view {
  margin-right: 15px;
}
.join_form_label {
  margin-bottom: 12px;
  margin-top: 15px;
}
.join_form_input_view {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: rgba(18, 18, 18, 0.9);
  margin: 0;
}

.join_form_input,
.join_form_input:focus,
.join_form_select,
.join_form_select:focus {
  width: 100%;
  height: 47px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  outline: 0.1px solid rgb(225, 215, 215);
}
.join_form_input,
.join_form_input:focus,
.join_form_text_area,
.join_form_text_area:focus {
  padding: 15px;
}

.join_form_input::placeholder,
.join_form_text_area::placeholder {
  color: rgba(18, 18, 18, 0.5);
}
.join_form_text_area {
  width: 100%;
  min-height: 47px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  outline: none;
  overflow: hidden;
}
.join_form_select_paragraph {
  margin-bottom: 12px;
  margin-top: 15px;
}
.join_form_select,
.join_form_select:focus {
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
}
.goback_container {
  width: 1128px;
  margin: auto;
  margin-top: 19px;
  background-color: var(--tab-active-bg-color);
  border-radius: 6px 6px 0px 0px;
  text-decoration: none;
}

.goback_container_text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 16px 23px;
  color: var(--tab-active-color);
}
.goback_container_text_go {
  margin: 0;

  font-weight: var(--font-weight-500);
  font-size: var(--font-size-18);
  line-height: 22px;
}
.student_from_container {
  width: 1128px;
  margin: auto;
  margin-top: 19px;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
}
.student_from_fill,
.student_from_fill_edit {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-15);
  line-height: var(--line-height-17);
  color: var(--color-grey-input-text-9);
}
.student_from_fill {
  padding: 18px 0 0 24px;
}
.student_from_fill_edit {
  padding: 18px 24px 0 0;
  cursor: pointer;
}
.form_container {
  min-height: 270px;
  padding: 0 24px 24px 24px;
}

.form_container > h4,
.form_other_field > h4 {
  width: 100%;
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-15);
  line-height: var(--line-height-17);
  color: var(--color-grey-input-text-9);
  margin-top: 12px;
}
.form_other_field > h5 {
  width: 100%;
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-15);
  line-height: 15px;
  color: var(--color-grey-input-text-9);
  margin-top: 12px;
}
.form_container_profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_container_profile_image,
.form_container_profile_photo {
  width: 100px;
  height: 100px;
  border-radius: 12px;
}
.form_container_profile_image_label {
  position: relative;
  cursor: pointer;
}
.form_edit_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form_profile_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.form_other_field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1%;
}
.join_form_file_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 47px;
  background-color: #fff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  outline: none;
}
.join_form_file_choose,
.join_form_file_choosen {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.join_form_file_choose {
  width: 50%;
  background: #dadada;
  color: rgba(18, 18, 18, 0.8);
  height: 47px;
}
.join_form_file_choosen {
  width: 50%;
  color: rgba(18, 18, 18, 0.5);
}
.join_form_yes,
.join_form_no {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 47px;
  width: 50%;
  cursor: pointer;
}

.join_form_no,
.join_form_yes {
  border-radius: 6px;
  color: rgba(18, 18, 18, 0.8);
}
.join_form_active_background {
  background-color: #0942a6;
  color: #ffffff;
}

.student_detail_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.student_detail_gender {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optional_subject {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: rgba(18, 18, 18, 0.6);
  margin: 0;
}

.arrowIcon {
  position: absolute;
  right: 0.9rem;
  bottom: 0.7rem;
  cursor: pointer;
}

.join_form_select > option {
  width: 200px;
}

.join_form_select_custom {
  width: 100%;
  height: 47px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
  display: grid;
  align-items: center;
  position: relative;
}

.join_form_select_custom_paragraph {
  margin-bottom: 0 !important;
}
.join_form_select_custom_icon {
  position: absolute;
  right: 0;
  opacity: 0.3;
}

.join_form_select_custom_list {
  width: 100%;
  max-height: 12rem;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  position: relative;
  /* top: 3.5rem; */
  /* z-index: 10; */
  cursor: pointer;
  padding: 0.8rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin-top: 0.6rem;
  /* overflow-y: scroll; */
}

.join_form_select_custom_paragraph_option {
  padding: 0.4rem 0.8rem;
  margin-bottom: 0 !important;
}
.join_form_select_custom_paragraph_option:hover {
  background-color: #d5d8e6;
}

.add_batch_wise {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: rgba(18, 18, 18, 0.9);
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}
.only_admssion_fees {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(18, 18, 18, 0.6);
  margin-bottom: 0.3rem !important;
}

.form_add_fee_btn {
  width: 301px;
  height: 37px;
  border: 0.805556px solid #002bbe;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  color: #002bbe;
  margin-top: 1.1rem;
  background-color: #ffffff;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.is_fee_remain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_container {
  margin: 0;
  display: flex;
}

.search_container_text {
  position: relative;
  display: flex;
  align-items: center;
}
.search_container_text > input,
.search_container_text > input:focus {
  width: 610px;
  height: 40px;
  background: #ffffff;
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  border: none;
  padding-left: 3.075vw;
  outline: none;
}

.searchIcon {
  position: absolute;
  margin-left: 1.3vw;
  width: 1.5vw;
  margin-top: -1rem;
}

.skip_i_do,
.skip_i_do:focus {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  margin-top: 0.7rem;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: #436dfa;
  display: grid;
  place-items: end;
  cursor: pointer;
  border: none;
  outline: transparent;
  background-color: #ffffff;
}

.login_details_modal {
  padding: 1rem;
  min-width: 30rem;
  max-width: 35rem;
  max-height: 35rem;
  min-height: 15rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Inter";
  font-style: normal;
}
.login_details_modal_title > h6 {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  margin: 0;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
  line-height: var(--line-height-17);
  color: #121212;
}
.login_details_btn,
.login_details_btn:focus-visible,
.login_details_btn:focus {
  width: 100%;
  height: 48px;
  background: #001a72;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  outline: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  border: none;
}
.profilephotocontainer {
  width: 8rem;
  height: 8rem;
  border-radius: 0.3rem;
}

.profilephotoins {
  height: 100%;
  width: 100%;
  border-radius: 0.3rem;
}

.certidyheading {
  padding: 2rem;
  display: grid;
  place-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 42px;
  text-align: center;
  color: #121212;
}
.buttoncontainer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttonInner {
  width: 49%;
}
.button_main {
  width: 100%;
  min-height: 3.5vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
  background: #1c023b;
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  margin: 0;
  outline: none;
  border: none;
}
.button_main:focus {
  outline: none;
}
.button_main > span {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  color: #ffffff;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
}
.duplicateCopy {
  background-color: rgb(228, 72, 121) !important;
}
.letter_head_container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.letter_head_container > h6 {
  color: rgba(18, 18, 18, 0.9);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

.letter_head_container > img {
  cursor: pointer;
}
