.fess_container {
  padding: 1.5rem;
  position: relative;
}
.category_header {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: center;
}
.category_header_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(18, 18, 18, 0.9);
  margin-bottom: 0;
}
.fees_category {
  width: 100%;
  height: 70px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 14px 11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  cursor: pointer;
}
.fees_category_icon {
  width: 48px;
  height: 48px;
  background: rgba(0, 26, 114, 0.1);
  border-radius: 6px;
  display: grid;
  place-items: center;
}

.fees_category_text {
  font-family: "Inter";
  font-style: normal;
  line-height: 16px;
}
.fees_category_text > h6,
.assignment_description_head {
  font-weight: 500;
  font-size: 13px;
  color: #121212;
  margin-bottom: 0.1rem;
}
.fees_category_text > p,
.assignment_description {
  font-weight: 400;
  font-size: 13px;
  color: rgba(18, 18, 18, 0.8);
  margin-bottom: 0 !important;
}

.department_container {
  margin-top: 1rem;
}

.department_card_name,
.department_card_head,
.department_card_title,
.add_new_category,
.category_card > h6,
.fees_card_text > h6,
.category_card_fee > h6,
.fees_card_text_bottom > h6 {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  margin: 0;
}

.department_card_container {
  padding: 14px 11px;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 19px;
  margin-bottom: 19px;
  cursor: pointer;
}
.department_card_container:hover {
  background-color: rgba(75, 26, 133, 0.1);
}
.department_card_image {
  height: 48px;
  width: 48px;
}
.department_card_name {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: #121212;
}

.department_card_head {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-13);
  line-height: var(--line-height-17);
  color: rgba(18, 18, 18, 0.8);
}

.department_card_title {
  font-weight: var(--font-weight-400);
  font-size: 11px;
  line-height: var(--line-height-17);
  color: rgba(18, 18, 18, 0.6);
}

.add_new_category {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: #436dfa;
  display: grid;
  place-items: end;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.category_card {
  width: 100%;
  height: 48px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  padding: 14px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
  margin-bottom: 1rem;
}

.category_card > img,
.fees_card > img {
  width: 24px;
  height: 24px;
}

.category_card > h6,
.category_card_fee > h6,
.fees_card_text > h6,
.fees_card_text_bottom > h6 {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: rgba(18, 18, 18, 0.8);
}

.add_category_modal {
  padding: 1rem;
}

.add_category_modal_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add_category_modal_title > h6,
.structure_container_title > h6,
.add_category_modal_title_left > h6 {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  margin: 0;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
  line-height: var(--line-height-17);
  color: #121212;
}

.add_category_modal_title > img {
  cursor: pointer;
}

.structure_container_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
}
.add_category_modal_title_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}

.add_category_modal_title_left > img {
  cursor: pointer;
}

.set_fees_structure_btn,
.set_fees_structure_btn:focus {
  width: 100%;
  height: 47px;
  background: rgba(0, 26, 114, 0.15);
  border: 1px solid #001a72;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #001a72;
  outline: none;
  padding: 15px 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.installment_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.fees_head_title,
.fees_head_installment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fees_head_title {
  width: auto;
  height: 42px;
  background: #001a72;
  padding: 0.7rem 0.9rem;
  margin: 1.1rem -1rem 1rem -1rem;
}
.fees_head_installment {
  margin-bottom: 0.9rem;
}
.fees_head_title > h6,
.fees_head_installment > h6,
.table_heading > th {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  margin: 0;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
  line-height: var(--line-height-17);
}
.fees_head_title > h6,
.table_heading > h6 {
  color: #ffffff;
}
.fees_head_installment > h6 {
  color: #000000;
}
.table_container {
  width: 100%;
  margin: 0 -1rem 1rem 0rem;
}

.table_body {
  width: 100%;
}
.table_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -1rem;
}

.table_heading > h6:first-child {
  height: 42px;
  background: #001a72;
  padding: 0.7rem 0.9rem;
  width: 70%;
  border: 0.5px solid #ffffff;
  border-left: none;
  border-top: none;
  border-bottom: none;
  margin-bottom: 0;
}
.table_heading > h6:last-child {
  height: 42px;
  background: #001a72;
  padding: 0.7rem 0.9rem;
  width: 30%;
  border: 0.5px solid #ffffff;
  border-left: none;
  border-top: none;
  border-bottom: none;
  margin-bottom: 0;
  text-align: right;
  /* margin: -0.7rem -0.9rem; */
}
.table_body_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -1rem;
}
.table_body_list {
  border-bottom-color: rgba(18, 18, 18, 0.5);
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
}
.table_body_list > h6,
.table_body_list > input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
  padding: 0 1rem;
  margin-bottom: 0;
  height: 42px;
  display: grid;
  align-items: center;
}
.table_body_list > h6:first-child {
  width: 70%;
  border-right-color: rgba(18, 18, 18, 0.5);
  border-right-width: 0.5px;
  border-right-style: solid;
}
/* 
.table_body_list > h6:last-child {
  width: 30%;
  text-align: right;
} */
.fee_head_name_input {
  width: 70%;
  text-align: left;
  outline: transparent;
  border: none;
  border-right-color: rgba(18, 18, 18, 0.5);
  border-right-width: 0.5px;
  border-right-style: solid;
}
.fee_head_amount_input {
  width: 30%;
  text-align: right;
  outline: transparent;
  border: none;
}

.add_fees_head_btn,
.add_fees_head_btn:focus {
  width: 30rem;
  margin: 0 0 0 -1rem;
  height: 41px;
  background: #d5d8e6;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_fees_head_btn > img {
  margin-left: 1rem;
}
.fees_total {
  font-weight: 600 !important;
}

.create_fees_structure_btn,
.create_fees_structure_btn:focus {
  width: 100%;
  height: 47px;
  background: #002bbe;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  outline: none;
  padding: 15px 33px;
  text-align: center;
  margin-top: 1.5rem;
}
.fees_card {
  width: 100%;
  height: 74px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: center;
  padding: 14px 15px;
  margin-bottom: 1rem;
}
.fees_card_text {
  width: 100%;
}
.fees_card_text_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.2rem;
}

/* for the admission admin */
.fees_card_hover {
  cursor: pointer;
}
.fees_card_hover:hover {
  background: rgba(0, 26, 114, 0.15);
}
.fees_card_hover_active {
  background: rgba(0, 26, 114, 0.15);
}
.fee_middle_section {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgba(18, 18, 18, 0.8);
  width: 100%;
  padding: 3rem;
}
.fee_middle_section > p {
  color: rgba(18, 18, 18, 0.8);
  margin-bottom: 0 !important;
}
.fee_middle_section > h6 {
  color: #121212;
}

.fee_middle_confirm_button,
.fee_middle_confirm_button:focus {
  width: 100%;
  height: 48px;
  background: rgba(0, 26, 114, 0.15);
  border: 1px solid #001a72;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #001a72;
}

.fee_middle_section_container > h6 {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  margin: 0;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
  line-height: var(--line-height-17);
  color: #121212;
  text-align: center;
}

.edit_icon {
  position: absolute;
  right: 3%;
}

.search_container {
  margin: 0;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.search_container_text {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.search_container_text > input,
.search_container_text > input:focus {
  width: 100%;
  height: 40px;
  background: #ffffff;
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  padding-left: 3.075vw;
  outline: none;
  border: 0.2px solid rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.searchIcon {
  position: absolute;
  margin-left: 1.3vw;
  width: 1.5vw;
}
.category_card_hover {
  cursor: pointer;
}
.category_card_hover:hover {
  background-color: #d5d8e6;
}

.category_card_hover_active {
  background-color: #d5d8e6;
  cursor: pointer;
}

.menu_icon {
  position: absolute;
  right: 5%;
  cursor: pointer;
}
.upload_excel_container {
  display: flex;
  justify-content: flex-end;
  gap: 1.4rem;
}

.upload_excel_file {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.upload_excel_file > img {
  width: 36px;
  height: 36px;
}
.upload_excel_file > p {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
}
.upload_excel_file > p {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: #436dfa;
  margin-bottom: 0;
}

.add_employee_staff {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
  font-family: "Inter";
  font-style: normal;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.add_employee_staff_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.add_employee_staff > img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.add_employee_staff_text > h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
  margin-bottom: 0.2rem !important;
}
.add_employee_staff_text > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(18, 18, 18, 0.8);
  margin-bottom: 0.2rem !important;
}

.payroll_account_btn,
.payroll_account_btn:focus {
  width: 100%;
  height: 42px;
  background: #20b038;
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  border: none;
  outline: none;
}

.account_payment_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.7rem 0;
}
.account_payment_row > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: rgba(18, 18, 18, 0.8);
}

.normal_select_btn,
.normal_select_btn:focus {
  position: absolute;
  right: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #001a72;
  border: none;
  background-color: #ffffff;
}
.seating_modal {
  padding: 1rem;
  min-width: 30rem;
  max-width: 35rem;
  max-height: 35rem;
  min-height: 15rem;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: "Inter";
  font-style: normal;
}
.add_category_modal_title_active {
  cursor: pointer;
}
.add_category_modal_title_active:hover {
  background-color: rgba(75, 26, 133, 0.1);
}
.notify_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  margin-bottom: 1rem;
  gap: 1rem;
  cursor: pointer;
}
.notify_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.notify_text > h6 {
  color: #121212;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0 !important;
}

.notify_text > p {
  color: rgba(18, 18, 18, 0.8);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0 !important;
}

.next_btn,
.next_btn:focus,
.next_btn:focus-visible {
  font-weight: 400;
  font-size: 13.5px;
  line-height: 16px;
  text-align: center;
  color: #002bbe;
  outline: transparent;
  position: absolute;
  right: 5%;
  background-color: #ffffff;
  border: none;
}

.btn_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.leave_dates {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4rem;
  margin-top: 0.6rem;
  flex-wrap: wrap;
}
.leave_dates > h6 {
  color: rgba(18, 18, 18, 0.8);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.letter_head_container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.letter_head_container > h6 {
  color: rgba(18, 18, 18, 0.9);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

.letter_head_container > img {
  cursor: pointer;
}
