.sports {
  width: 100%;
  padding-top: 1vw;
}

.item {
  padding: 1vw 4vw;
  display: flex;
  gap: 1vw;
  align-items: center;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.item:hover {
  background: rgba(75, 26, 133, 0.1);
}

.item p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: #121212;
}

.noData,
.loader {
  display: grid;
  place-items: center;
}

.loader img {
  height: 4vw;
}

.stafImg {
  height: 2vw;
  border-radius: 50%;
}
