* {
  user-select: none;
}

/* img {
  pointer-events: none;
} */

.studentMCQTop {
  padding: 1vw 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.examName {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.1vw;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}

.examTime {
  cursor: pointer;
}

.studentMCQBody {
  padding: 1vw 2vw;
}

.qTop {
  display: flex;
  justify-content: space-between;
}

.qtext {
  margin-top: 1vw;
  margin-bottom: 1.5vw;
}

.qOption {
  margin-bottom: 1vw;
  display: flex;
  gap: 1.5vw;
  padding: 0.5vw;
}

.qOption > p,
.qOptionActive > p,
.qOptionBlue > p,
.qOptionRed > p {
  margin-bottom: 0 !important;
}

.qImg {
  max-height: 20vw;
  margin-bottom: 1vw;
}

.qOptionActive {
  margin-bottom: 1vw;
  display: flex;
  gap: 1.5vw;
  background: rgba(32, 176, 56, 0.2);
  border-radius: 0.146vw;
  padding: 0.5vw;
}

.qOptionBlue {
  margin-bottom: 1vw;
  display: flex;
  gap: 1.5vw;
  padding: 0.5vw;

  background-color: #e1e5f4;
}

.qOptionRed {
  margin-bottom: 1vw;
  display: flex;
  gap: 1.5vw;
  padding: 0.5vw;

  background-color: #f9e7e6;
}

.qButton {
  width: 2.003vw;
  height: 2.003vw;
  border-radius: 50%;
  background: #eaeaea;
  border: 0.037vw solid rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
}

.qButtonActive {
  width: 2.003vw;
  height: 2.003vw;
  border-radius: 50%;
  background: #20b038;
  color: #fff;
  border: 0.037vw solid rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
}

.qButtonBlue {
  width: 2.003vw;
  height: 2.003vw;
  border-radius: 50%;
  background: #002bbe;
  color: #fff;
  border: 0.037vw solid rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
}

.qButtonRed {
  width: 2.003vw;
  height: 2.003vw;
  border-radius: 50%;
  background: #ee3833;
  color: #fff;
  border: 0.037vw solid rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
  align-items: center;
}

.bottomLeft {
  display: flex;
  gap: 0.7vw;
  align-items: center;
  cursor: pointer;
}

.bottomLeft > p {
  margin-bottom: 0 !important;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */

  text-transform: capita;
}

.bottomRight {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */

  text-align: right;
}

.red {
  color: #ee3833 !important;
}

.green {
  color: #20b038 !important;
}

.solution {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 21px;
  /* or 150% */
  margin-top: 1vw;
  color: rgba(18, 18, 18, 0.8);
}

.eachQuestion {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 2vw;
  padding-bottom: 2vw;
}

.show_question {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  color: #121212;
  outline: none;
  border: none;
  display: block;
  width: 100%;
  min-height: 2vw;
  height: fit-content;
  line-height: 2vw;
}
