.header {
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
  width: 100%;
  height: 5vw;
  display: flex;
  padding: 2.5%;
  gap: 2vw;
  align-items: center;
  position: relative;
  cursor: pointer;
}
/* .headerContainer {
  position: sticky;
  top: 12vh;
} */

.avatars {
  display: flex;
}

.text h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  position: absolute;
  top: 20%;
  color: #121212;
}

.text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 15px;
  /* identical to box height */
  position: absolute;
  top: 50%;

  color: rgba(18, 18, 18, 0.8);
}

@media only screen and (max-width: 1240px) {
  .text h6 {
    font-size: 1.1vw;
  }

  .text p {
    font-size: 0.9vw;
  }
}

@media only screen and (max-width: 920px) {
  .text h6 {
    font-size: 1.2vw;
  }

  .text p {
    font-size: 1vw;
  }
}
