.mainContainer {
  width: 65%;
  background-color: inherit;
  min-height: 40vw;
}
.backButton {
  background-color: #ffffff;
  border: 0.5px solid #cacaca;
  height: 3.001vw;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-left: 1.318vw;
  position: sticky;
  display: flex;
  align-items: center;
  z-index: 1;
  top: 6.45vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.backButton1 {
  display: inline-block;
}
.backButton1 > img {
  margin-right: 0.7vw;
  cursor: pointer;
}
.questionSection {
  position: relative;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 1.245vw 1.318vw 1.1vw 1.318vw;
}

.eachposthead {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.imgcontainer {
  width: 2.8vw;
  height: 2.8vw;
  cursor: pointer;
  border: 0.3px solid rgb(219, 211, 211);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.imgcontainer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.iimg {
  border-radius: 50% !important;
}

.eachpostUserName {
  cursor: pointer;
}

.eachpostUserName img {
  cursor: pointer;
}

.eachpostUserTime {
  margin-top: -0.3vw;
}

.eachpostUserTime p {
  color: rgba(18, 18, 18, 0.6);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 17px;
  margin-bottom: 0 !important;
}

.eachpostUserName h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.1vw;
  line-height: 17px;
  color: #121212;
}

.menu {
  position: absolute;
  top: 1vw;
  height: 1.2vw;
  right: 1vw;
  cursor: pointer;
}

.questionTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.171vw;
  line-height: 132.5%;
  letter-spacing: -0.025em;
  color: #292929;
}

.questionMainContainer {
  margin-top: 1.025vw;
  margin-bottom: 1.537vw;
}

.questionBottom {
  display: flex;
  flex-direction: column;
}
.questionBottomBorder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 0.4px solid rgba(0, 0, 0, 0.12);
}
.questionBottomBorder > p {
  margin-bottom: 0.6vw !important;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.878vw;
  line-height: 1.025vw;
  color: rgba(18, 18, 18, 0.5);
}
.needCount {
  margin-right: 7.394vw;
}

.questionBottomIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.963vw;
}

.questionBottomIconOne > p {
  margin-bottom: 0 !important;
}

.questionBottomIconOne {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin-right: 3.148vw;
  gap: 0.5vw;
  cursor: pointer;
}

.answerIcon {
  cursor: pointer;
}
.comment {
  margin-top: 1vw;
}
