.eLPooy button {
  width: 30px;
  height: 30px;
  min-width: 30px;
  font-size: 15px;
  line-height: 0;
}

.hHJTFD button {
  width: 30px;
  height: 30px;
  min-width: 30px;
  font-size: 15px;
  line-height: 0;
}

.eAyARa:disabled {
  width: 30px;
  height: 30px;
  min-width: 30px;
  font-size: 15px;
  line-height: 0;
}

.Details_anndoc__fC7Kc {
  display: grid;
  place-items: center;
}

.kdCslO button {
  height: 7px;
  width: 7px;
}
