.coverMain {
  width: 30%;
}

.coverImg {
  height: 100%;
  margin-left: -0.5vw;
  border-radius: 0.75vw;
  width: 100%;
}

.coverImgg {
  height: 100%;
  border-radius: 0.5vw;
  width: 100%;
}

.imgeditLabel {
  position: absolute;
  bottom: 2%;
  left: 1%;
}

.imgeditLabell {
  position: absolute;
  bottom: 2%;
  left: 1%;
}

.imgedit {
  cursor: pointer;
  height: 1.5vw;
}
