.css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar {
  width: 28px !important;
  height: 28px !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 0.7vw !important;
}

/* display: none !important; */
