.mainbody {
  display: flex;
  padding: 3vh 7vw 0 6.5vw;
  background-color: #f5f5f5;
  min-height: 100vh;
  gap: 1.8vw;
  justify-content: center;
}

.sidebar {
  width: 30%;
}

.stats {
  width: 55%;
}

@media only screen and (max-width: 1140px) {
  .mainbody {
    padding: 0.2% 0%;
  }
}

@media only screen and (max-width: 1024px) {
  .mainbody {
    padding: 0.9% 0%;
  }
}
@media only screen and (max-width: 992px) {
  .mainbody {
    padding: 0.3% 0%;
  }
}
