.card {
  background: #ffffff;
  border: 0.5px solid rgba(18, 18, 18, 0.12);
  box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  width: 14vw;
  height: 16vw;

  margin-bottom: 0.5vw;
}

.card img {
  height: 3.5vw;
}

.card h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.3vw;
  line-height: 24px;

  color: #121212;
}

.card p {
  text-align: center;
  margin-top: 1vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 18px;
  /* or 129% */

  text-align: center;

  color: rgba(18, 18, 18, 0.8);
}
