.staffRoom {
  width: 100%;
}

.backFlex {
  display: flex;
  gap: 1vw;
}

.backbtn {
  padding: 0.75vw 1vw;
  height: 2.782vw;
  background-color: #1c023b;
  color: #ffffff;
  display: grid;
  place-items: center;
  border-radius: 0.239vw;
  padding-top: 0.5vw;
  cursor: pointer;
}

.searchContainer {
  width: 100%;
  height: 2.782vw;
  background-color: #ffffff;
  border: 0.029vw solid rgba(0, 0, 0, 0.15);
  box-shadow: 0.073vw 0.146vw 2.343vw rgba(0, 0, 0, 0.04);
  border-radius: 0.439vw;
  display: flex;
  align-items: center;
  /* margin: -1.025vw 7.028vw 3.148vw 7.028vw; */
  margin-bottom: 1vw;
}
.searchContainer input,
.searchContainer input:focus {
  outline: none;
  width: 47.1vw;
  height: 2.5vw;
  border: none;
  margin-left: 0.073vw;
  padding-left: 3.075vw;
}

.searchContainer > img {
  position: absolute;
  margin-left: 0.878vw;
}

.itemsContainer {
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
}

.item {
  padding: 0.8vw 2vw;
  display: flex;
  gap: 1.5vw;
  align-items: center;
  border-bottom: 0.3px solid rgb(222, 214, 214);
}

.item img {
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
}

.item p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: #121212;
}

.student_heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 17px;
  margin-bottom: 1rem;
  color: #121212;
}
