.remainingFeesBottom {
  width: 100%;
}

.itemsContainer {
  min-height: 60vh;
}

.item {
  padding: 0.8vw 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.3px solid rgb(222, 214, 214);
  cursor: pointer;
  padding: 1vw 2.955vw;
  border-bottom: 0.5px solid #eaeaea;
}
.item:hover {
  background: rgba(75, 26, 133, 0.1);
}
.item img {
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
}

.subItem {
  display: flex;
  gap: 1.5vw;
  align-items: center;
}

.text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.878vw;
  line-height: 15px;
  /* identical to box height */
  text-align: left;

  color: #121212;
}

.text h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 17px;
  text-align: left;
  /* identical to box height */
  margin-bottom: 0.3vw;
  color: #121212;
}
