.pwd {
  padding: 0.5vw 0.5vw 0.5vw 1.5vw;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 90%;
  border-radius: 5px;
}

.pwd p {
  font-family: "Inter" !important ;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;

  /* or 19px */

  letter-spacing: -0.025em;
}

.valid {
  color: rgb(84, 145, 76) !important;
}
.invalid {
  color: rgb(236, 88, 88) !important;
}
