.process_modal {
  padding: 1rem 1.5rem;
}
.add_process_modal_title_left > h6 {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  margin: 0;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
  line-height: var(--line-height-17);
  color: #121212;
}
.add_process_modal_title_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}

.add_process_modal_title_left > img {
  cursor: pointer;
}

.pay_in_cash_btn,
.pay_in_cash_btn:focus {
  width: 100%;
  height: 47px;
  background: #20b038;
  border: none;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  color: #ffffff;
  outline: none;
  padding: 15px 33px;
  margin-top: 1.5rem;
  text-align: center;
}

.process_description {
  margin-top: 1.5rem;
  width: 100%;
  min-height: 152px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  font-family: "Inter";
  font-style: normal;
  max-height: fit-content;
  padding: 0.9rem;
}
.process_description > h6,
.process_description > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.process_description > h6 {
  color: #121212;
}

.process_description > p {
  color: rgba(18, 18, 18, 0.8);
}

.bank_details {
  width: 100%;
  height: 149px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  padding: 1.1rem;
  margin-bottom: 1.5rem;
  margin-top: 1.2rem;
}
.bank_details > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #121212;
}
.bank_upi {
  width: 100%;
  height: 50px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  margin-bottom: 1.5rem;
  padding: 1.1rem;
}

.bank_qr_code {
  width: 100%;
  height: 149px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem;
  margin-bottom: 1.5rem;
}
.bank_qr_code_text {
  margin-top: -4rem;
}
.bank_qr_code_text > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #121212;
}
.bank_qr_code_text > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: rgba(18, 18, 18, 0.8);
  margin-bottom: 0;
}

.bank_qr_code > img {
  width: 115px;
  height: 115px;
}

.payment_confirm_btn,
.payment_confirm_btn:focus {
  width: 100%;
  height: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
  color: #001a72;
  padding: 15px 33px;
  margin-top: 1.5rem;
  text-align: center;
  background: rgba(0, 26, 114, 0.15);
  border: 1px solid #001a72;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  outline: none;
}

.detail_note_info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: rgba(18, 18, 18, 0.8);
  margin-top: 0.6rem;
}
