.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  background-color: white;
}

.mainbody {
  display: flex;
  padding: 3vh 5vw 0 4.5vw;
  background-color: #f5f5f5;
  min-height: 90vh;
  gap: 1.8vw;
  justify-content: center;
}
.main {
  height: 100vh;
}
.sidebar {
  position: sticky;
  position: -webkit-sticky;
  top: 80px;
  width: 22%;
}
.newPost {
  width: 65%;
  min-height: 30rem;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
  padding: 1rem 0;
}

@media only screen and (max-width: 1140px) {
  .mainbody {
    padding: 3vh 1vw 0 1vw;
  }
}

@media only screen and (max-width: 1024px) {
  .mainbody {
    padding: 1vh 1vw 0 0vw;
  }
  .sidebar {
    width: 23%;
  }
}

.moderator_container_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}
.add_new_moderator {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  margin-top: 0.7rem;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: #436dfa;
  display: grid;
  place-items: end;
  cursor: pointer;
  margin-right: 1rem;
}

.moderator_list {
  padding: 1rem;
}
