.payroll_container {
  margin-top: 1.5rem;
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
}
.payroll_container > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(18, 18, 18, 0.9);
  margin-bottom: 0;
}
.add_new_payroll {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  margin-top: 0.7rem;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: #436dfa;
  display: grid;
  place-items: end;
  cursor: pointer;
}

.salary_head_card {
  width: 100%;
  height: 48px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  padding: 14px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
  margin-bottom: 1rem;
}

.salary_head_card > img {
  width: 24px;
  height: 24px;
}

.salary_head_card > h6 {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  margin: 0;
}

.salary_head_card > h6 {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: rgba(18, 18, 18, 0.8);
}

.salary_head_card:hover {
  background-color: #d5d8e6;
}

.pay_card {
  width: 100%;
  min-height: 74px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  font-family: "Inter";
  font-style: normal;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
}
.pay_card > img {
  width: 36px;
  height: 40px;
}
.pay_card_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pay_card_text > h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(18, 18, 18, 0.8);
  margin-bottom: 0.2rem;
}

.pay_card_text > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(18, 18, 18, 0.5);
  margin-bottom: 0.3rem !important;
}
.pay_btn,
.pay_btn:focus {
  width: 78px;
  height: 28px;
  background: #002bbe;
  border-radius: 3.22222px;
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
  outline: transparent;
  border: none;
}

.receipt_btn {
  width: 78px;
  height: 28px;
  background: #008000;
  border-radius: 3.22222px;
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
}

.head_history_card {
  width: 100%;
  height: 72px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  padding: 1rem;
  font-family: "Inter";
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
}
.head_history_card > img,
.add_employee_staff > img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.head_history_card_text,
.add_employee_staff_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.head_history_card_text > h6,
.add_employee_staff_text > h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
  margin-bottom: 0.1rem;
}
.head_history_card_text > p,
.add_employee_staff_text > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(18, 18, 18, 0.8);
  margin-bottom: 0.2rem !important;
}

.add_employee_staff {
  width: 100%;
  min-height: 72px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  gap: 1.2rem;
  align-items: center;
  padding: 1rem;
  font-family: "Inter";
  font-style: normal;
  margin-bottom: 0.7rem;
  cursor: pointer;
}

.row2 {
  margin-bottom: 10px;
}

.row2 > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 2px !important;
  color: rgba(18, 18, 18, 0.5);
}
.row2 > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #121212;
}

.payroll {
  width: 100%;
}

.payrolltop {
  padding: 0.5vw 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payrolltop img {
  cursor: pointer;
}

.tabs {
  width: 100%;
}

.payrollContent {
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
}

.backh {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.05vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  margin-top: 0.5vw;
  cursor: pointer;
  color: rgba(238, 56, 51, 0.5) !important;
}
