/* .css-1ygcj2i-MuiTableCell-root {
  text-align: center !important;
} */

.universalBtn, .universalBtn:hover{
  background-color: #420789;
  color: #fff;
  letter-spacing: 0.4px;
  border-radius: 5px;
  border: #420789;
  outline: none;
}

