.MiddleContent {
  width: 100%;
  display: flex;
  gap: 1%;
  margin-top: -1.3rem;
  min-height: 54vh;
  position: relative;
  border-top-left-radius: 0.5rem;
}

/* .MiddleContent::-webkit-scrollbar {
  width: 5px !important;
} */

.MiddleContentLeft {
  width: 100%;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding-bottom: 2vw;
}

.tabs {
  /* border-top: 0.3px solid rgb(238, 233, 233); */

  width: 100%;
}
.item {
  width: 100%;
  display: flex;
  gap: 4vw;
  align-items: center;
  cursor: pointer;
  justify-content: flex-start;
  padding: 3vw 2vw;
  flex-wrap: wrap;
}

.item p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: #121212;
}

.MiddleContentRight {
  width: 29%;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
}

.MiddleContentRightHead {
  padding: 1vw;
  display: grid;
  place-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: #1c023b;
}

.pItem {
  background: white;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
  color: black;
  padding: 0.3vw 0.6vw;
  display: flex;
  gap: 1vw;
  width: 100%;
  cursor: pointer;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
}
.pItem img {
  height: 2.8vw;
  width: 2.8vw;
  border-radius: 50%;
}

.text {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5vw;
}

.text h6 {
  margin-top: -5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #121212;
}

.text p {
  margin-bottom: 0 !important;
  margin-top: -5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75vw;
  line-height: 20px;
  /* identical to box height */

  color: #121212;
}

.addbtn {
  width: 90%;
  border: 1px solid #1c023b;
  border-radius: 4px;
  margin: 1vw 5% 1vw 5%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 22px;
  /* identical to box height, or 183% */
  display: grid;
  place-items: center;
  text-align: center;
  cursor: pointer;
  color: #1c023b;
}

.menu {
  border: 0.5px solid #e1dede;
  border-radius: 6px;
}

.menuItem {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 19px;
  background: #fff;
  color: #121212;
  padding: 1vw 2vw;
}

.menuItem:hover {
  background: #d3d0d0;
}

.itemIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 11vw;
  height: 11vw;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  gap: 2vw;
}

.itemIcon > img {
  height: 3.5vw;
  width: 3.5vw;
}
.itemIcon:hover {
  background: rgba(75, 26, 133, 0.1);
}

.classList {
  padding: 2vw 1.5vw;
}
.classListItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
  padding: 0.75rem 1.5rem;
  margin-bottom: 0.5rem;

  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  cursor: pointer;
}
.classListItem:hover {
  background: rgba(75, 26, 133, 0.1);
}

.classListItem > h6 {
  margin-bottom: 0.1rem !important;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 17px;
  color: #121212;
}

.classListItem p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 15px;
  margin-bottom: 0 !important;
  color: rgba(18, 18, 18, 0.5);
}

.classListItem img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.class_head_name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
