.leaving_form_container {
  padding: 1rem 8.5rem;
}

.goback_container {
  width: 100%;
  /* margin: auto;
  width: 1128px;
  margin-top: 19px; */
  margin-bottom: 1rem;
  background-color: var(--tab-active-bg-color);
  border-radius: 6px 6px 0px 0px;
  text-decoration: none;
}
.goback_container_text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 16px 23px;
  color: var(--tab-active-color);
}
.goback_container_text_go {
  margin: 0;

  font-weight: var(--font-weight-500);
  font-size: var(--font-size-18);
  line-height: 22px;
}

.student_from_container {
  /* margin: auto;
   width: 1128px;
  margin-top: 19px; */
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
}

.student_from_fill,
.student_from_fill_edit {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-15);
  line-height: var(--line-height-17);
  color: var(--color-grey-input-text-9);
}
.student_from_fill {
  padding: 18px 0 0 24px;
}
.student_from_fill_edit {
  padding: 18px 24px 0 0;
  cursor: pointer;
}

.formhead {
  padding: 1rem;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.6);
}

.formheadrowflex {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.formheadrowflexleft1 {
  width: 87%;
}

.formheadrowflexleft2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.flexItem30 {
  width: 33%;
}

.profilephotocontainer {
  width: 8rem;
  height: 8rem;
  border-radius: 0.3rem;
}

.profilephotoins {
  height: 100%;
  width: 100%;
  border-radius: 0.3rem;
}
.profilephotocontainerr {
  position: relative;
  height: 100%;
  width: 100%;
}

.form_edit_icon {
  position: absolute;
  bottom: 1rem;
  left: 40%;
  height: auto;
  width: 2rem;
  cursor: pointer;
}

/* ------------FormBody------------------------- */

.formbody {
  padding: 1rem;
}

.flexItem50 {
  width: 49%;
}

.formError {
  color: #f34545;
  font-size: 0.85rem;
  margin-left: 0.5rem;
}

.inputt {
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 0.3rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 17px;
  color: rgba(18, 18, 18, 0.8);
  outline: none;
  padding: 0.65rem 0.5rem;
  cursor: pointer;
}

.selectText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;

  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: rgba(18, 18, 18, 0.5);
}

.selectTextActive {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;

  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: rgba(18, 18, 18, 0.8);
}

.arrow {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 0.5rem;
}
.arrowIcon {
  position: absolute;
  right: 0.9rem;
  top: 0.6rem;
  height: 1.25rem;
}

.flexItem75 {
  flex: 1;
  margin-left: 1rem;
}

.certidyheading {
  padding: 2rem;
  display: grid;
  place-items: center;

  font-family: "Alice";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 42px;
  /* identical to box height, or 100% */

  text-align: center;

  color: #121212;
}

.buttoncontainer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttonInner {
  width: 49%;
}
/* 
--------------Button-------------------- */
.button_main {
  width: 100%;
  min-height: 3.5vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
  background: #1c023b;
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  margin: 0;
  outline: none;
  border: none;
}
.button_main:focus {
  outline: none;
}
.button_main > span {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  color: #ffffff;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
}

/* ------------------------------------ */

.duplicateCopy {
  background-color: rgb(228, 72, 121) !important;
}
