.input_text_with_label_container {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
}

.input_text_with_label_container > label {
  min-width: 7.127vw;
  height: 1.245vw;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
}

.input_text_with_label_container > input {
  min-width: 14vw;
  min-height: 2.441vw;
  background-color: #ffffff;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-13);
  line-height: var(--line-height-17);
  padding-left: 0.498vw;
  border: 0.037vw solid rgba(0, 0, 0, 0.12);
  box-shadow: none;
  outline: none;
  color: var(--color-grey-input-text-9);
}

.input_text_with_label_container > input:focus {
  outline: none;
}
