.addDisplay {
  width: 500px;

  background: #fafafa;
  border-radius: 12px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 1.5vw;
}

.title h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #121212;
}
.title img {
  cursor: pointer;
}

.content {
  background-color: #f5f5f5;
  padding: 1vw 1.5vw;
  max-height: 70vh;
  overflow-y: scroll;
}
.content::-webkit-scrollbar {
  width: 4px !important;
}

.input {
  width: 100%;
}
.input h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.8);
}
.input input {
  width: 100%;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 0.5vw;
  outline: none;
}
.title img {
  cursor: pointer;
}

.input input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.5);
}

.selectCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vw;
}

.selectCount2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1vw;
}

.selectCount p,
.selectCount2 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */

  color: #121212;
}

.blueCount {
  color: #002bbe !important;
  cursor: pointer;
}

.item {
  padding: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.subItem {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.item img,
.subItem img {
  height: 2.8vw;
  width: 2.8vw;
  border-radius: 50%;
}

.itemtext {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0vw;
}

.itemtext h6 {
  /* margin-top: -5px; */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 20px;
  color: #121212;
  margin-bottom: 0.3vw;
}

.itemtext p {
  margin-bottom: 0 !important;
  margin-top: -5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 20px;
  color: rgba(18, 18, 18, 0.6);
}
.items {
  margin-top: 0.5vw;
  border-radius: 6px;
  flex: 1;
  height: 50vh;
  overflow-y: scroll;
}
.items::-webkit-scrollbar {
  width: 4px !important;
}

.items::-webkit-scrollbar-track {
  background-color: transparent !important;
  box-shadow: none !important;
}

.itemsrow {
  height: 38vh;

  overflow-y: scroll;
}

.counts {
  display: flex;
  justify-content: space-between;
  padding: 1vw 2vw;
}

.counts p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: #121212;
}

.checkbox {
  height: 20px !important;
  cursor: pointer;
  border-radius: 0 !important;
}

.addDisplayTop {
  display: flex;
  justify-content: space-between;
  padding: 1.2vw;
}

.footer {
  padding: 1.5vw;
}

.btn {
  width: 100%;
  padding: 0.4vw;
  display: grid;
  place-items: center;
  background: #1c023b;
  border-radius: 0.439vw;
  color: #ffffff;
  cursor: pointer;
}

.upload {
  display: none;
}

.footer {
  padding: 1vw;
}

.btn {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  background: rgba(75, 26, 133, 0.1);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  margin-top: 5rem;
}

.btnActive {
  background-color: #1c023b !important;
  color: #fff !important;
}

.btn p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  margin-bottom: 0 !important;
  line-height: 19px;
  text-align: right;
}

.btnActive p {
  color: #fff !important;
}

.blobImg {
  height: auto;
  width: 100%;
  max-height: 15vw;
}
