.square_tab_wrapper {
  padding: 1.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.96rem;
  row-gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}
.square_tab_card {
  max-width: 9rem;
  height: 9rem;
  flex: 1 1 9rem;
  background-color: var(--bg-color-white);
  border: 0.4px solid var(--border-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: var(--radius-12);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  opacity: 0.9;
  transition: background-color ease-in-out 150ms 10ms,
    opacity ease-in-out 150ms 10ms;
}
.square_tab_card:hover {
  background-color: var(--bg-tab-hover);
  opacity: 1;
}
.square_tab_card > img {
  height: 3.5rem;
  width: 3.5rem;
}
.square_tab_card > p {
  font-weight: var(--font-5);
  font-size: var(--font-13);
  line-height: var(--line-18);
  color: var(--color-tab-black);
  text-align: center;
  margin: 0;
}
.designation_tab_wrapper {
  padding: 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 3%;
  row-gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--bg-color-white);
  border: 0.4px solid var(--border-color);
}

.designation_tab_card {
  max-width: 30.28%;
  padding: 1.5rem 0.4rem;
  flex: 1 1 29%;
  display: flex;
  align-items: center;
  gap: 1rem;
  opacity: 0.9;
  border-radius: var(--radius-5);
  background-color: var(--bg-white);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 1px 2px 2px rgba(0, 0, 0, 0.02);
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  transition: background-color ease-in-out 150ms 10ms,
    opacity ease-in-out 150ms 10ms;
}
.designation_tab_card:hover {
  background-color: var(--bg-desi-tab-hover);
  opacity: 1;
}
.designation_tab_card > img {
  height: 1.5rem;
  width: 1.5rem;
}
.designation_tab_card > p {
  font-weight: var(--font-4);
  font-size: var(--font-16);
  line-height: var(--line-18);
  color: var(--color-tab-black);
}
.rectangle_tab_wrapper {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background-color: var(--bg-reactangle-color);
  padding: 0.5rem;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: var(--border-4);
  cursor: pointer;
}
.rectangle_tab_card,
.rectangle_tab_card_active {
  flex: 1 1;
  display: grid;
  place-content: center;
  font-weight: var(--font-5);
  font-size: var(--font-13);
  line-height: var(--line-15);
  color: var(--color-rectangle-tab);
  padding-block: 0.6rem;
}
.rectangle_tab_card_active {
  background-color: var(--bg-color-white);
  box-shadow: -1px 7px 5px -4px var(--shadow-color-rectangle);
  border-radius: var(--border-5);
}
.horizontal_tab_wrapper {
  display: flex;
  align-items: center;
  height: 2.5rem;
}
.horizontal_tab_card,
.horizontal_tab_card_active {
  flex: 1 1;
  display: grid;
  place-content: center;
  height: 100%;
  cursor: pointer;
}
.horizontal_tab_card > h6 {
  font-weight: var(--font-4);
  font-size: var(--font-14);
  line-height: var(--line-15);
  color: var(--color-horizontal-tab);
}
.horizontal_tab_card_active > h6 {
  font-weight: var(--font-5);
  font-size: var(--font-14);
  line-height: var(--line-15);
  color: var(--color-tab-black);
}
.horizontal_tab_card_active {
  border-bottom: 2px solid var(--color-tab-black);
}
.tile_container {
  margin-top: 1rem;
}
.tile_tile_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}
.tile_tile,
.tile_tile_active {
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-400);
  font-size: var(--font-14);
  line-height: var(--line-height-17);
  background-color: #f7f7f7;
  padding: 2px 12px;
  min-height: 32px;
  border-radius: 8px;
  border: 0.1px solid rgba(18, 18, 18, 0.8);
  cursor: pointer;
  transition: all 300ms ease-in 50ms;
}
.tile_tile_active,
.tile_tile:hover {
  color: var(--tab-color);
  background-color: #d2d9f2;
}
.tile_label {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(18, 18, 18, 0.8);
  margin-bottom: 0.5rem;
}
