.header {
    background: #ffffff;
    border: 0.5px solid #cacaca;
    border-radius: 6px;
    width: 80vw;
    height: 10vw;
    display: flex;
}
  
.imgContainer {
    height: 100%;
    width: 17%;
}
.imgContainer img {
    height: 100%;
    width: 100%;
}
.textContainer {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2vw;
    padding-top: 1vw;
}
  
.textContainer h5 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 1.4vw;
    line-height: 22px;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 8px;
    color: #000;
    letter-spacing: 0.4px;
}
  
.textContainer p:nth-of-type(1) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 0.98vw;
    line-height: 20px;  
    text-align: left;
    color: #121212;
    margin-bottom: 8px;
    letter-spacing: 0.4px;
}

.textContainer p:nth-of-type(2) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 0.9vw;
    line-height: 20px;  
    text-align: left;
    color: #121212;
    letter-spacing: 0.4px;
}
  
@media only screen and (max-width: 1124px) {
    .textContainer h5 {
      position: absolute !important;
      top: 3px;
    }
  
    .textContainer p {
      position: absolute !important;
      top: 20px;
    }
}
  