.sidebarbottom {
  margin-top: 1vw;
  margin-bottom: 1vw;
  width: 100%;
  position: relative;
}

/* -------------------------------------------------------  */
.item2 {
  padding: 2.9vw 2.2vw 3vw 2.2vw;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  height: 4vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .item2border {
  border-top: none !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  margin-top: 0.5rem !important;
} */
.itemfirst {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.itemlast {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.left h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.025vw;
  margin-bottom: 0.3vw;
  color: #121212;
}

.left p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 5600;
  font-size: 0.878vw;
  margin-bottom: 0 !important;
  color: rgba(18, 18, 18, 0.6);
}

.right {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.464vw;
  line-height: 23px;

  color: rgba(18, 18, 18, 0.8);
}

.labelblue {
  color: #436dfa !important;
}
