.sidebarbottom {
  margin-top: 1vw;
  margin-bottom: 1vw;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.3vw;
  background: #ffffff;
  border: 0.5px solid #cacaca;

  padding: 0.05vw 1vw;
  position: relative;
  /* ----------------------- */
  height: 4vw;
  width: 100%;

  /* -------------------- */
}
.itemoverflow {
  display: flex;
  align-items: center;
  gap: 0.3vw;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
  padding: 0.5vw 1vw;
  position: relative;
  /* ----------------------- */
  height: 4vw;
  width: 100%;

  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;
}
.item img,
.itemoverflow img {
  width: 2.7vw;
  height: 2.7vw;
  border-radius: 50%;
}
.addbtn {
  cursor: pointer;
}

.item h6,
.itemoverflow h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;
  position: absolute;
  top: 0.8vw;
  left: 3.4vw;
  margin-left: 1vw;
  color: #121212;
  margin-left: 1vw;
}
.item p,
.itemoverflow p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8vw;
  position: absolute;
  margin-left: 1vw;
  left: 3.4vw;
  top: 2vw;
  color: rgba(18, 18, 18, 0.6);
  margin-left: 1vw;
}

.hup {
  top: 0.5vw !important;
}

.hnormal {
  top: 0.8vw !important;
}

.pdown {
  top: 2.5vw !important;
}
.pnormal {
  top: 2vw !important;
}
.itemText {
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
}
.item:nth-of-type(6) {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.item:nth-of-type(1) {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
