.fm_header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fm_header_start_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.fm_header_container > h6,
.fm_header_start_container > h6,
.fm_title_heading {
  color: var(--t-head-color);
  font-size: var(--font-16);
  font-weight: var(--font-5);
  line-height: var(--line-18);
  margin: 0;
}
.fm_title_heading {
  font-size: var(--font-14);
  margin-bottom: 0.4rem;
  cursor: pointer;
}
.fm_header_container > img {
  cursor: pointer;
  height: 1.3rem;
  width: 1.3rem;
}
.fm_header_start_container > img {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
}
.fm_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.fm_search_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.fm_search_container_inner {
  position: relative;
  display: flex;
  align-items: center;
}
.fm_search_icon {
  position: absolute;
  margin-left: 1.3vw;
  width: 1.5vw;
  top: 28%;
}
.fm_search_container_inner > input,
.fm_search_container_inner > input:focus {
  min-width: 400px;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  border: 0.029vw solid rgba(0, 0, 0, 0.15);
  padding-left: 3.075vw;
  outline: transparent;
  margin: 0;
}

.fm_all_time_data {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(18, 18, 18, 0.5);
  margin-bottom: 0.3rem;
}
.fm_total_amount {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(18, 18, 18, 0.9);
  margin-bottom: 1.2rem;
}
.fm_both_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.fm_both_filter > img {
  height: 1.3rem;
  width: auto;
  cursor: pointer;
}
.fm_both_filter_with_name {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.fm_both_filter_with_name > h6 {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: rgba(18, 18, 18, 0.9);
  margin: 0 0.2rem;
}
.fm_both_filter_with_name > img {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.fm_add_button {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.fm_search_full {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.fm_search_full_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.fm_search_full_container_inner {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.fm_search_full_icon {
  position: absolute;
  margin-left: 1.3vw;
  width: 1.5vw;
  top: 28%;
}
.fm_search_full_container_inner > input,
.fm_search_full_container_inner > input:focus {
  min-width: 400px;
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  border: 0.029vw solid rgba(0, 0, 0, 0.15);
  padding-left: 3.075vw;
  outline: transparent;
  margin: 0;
}
.fm_fs_container,
.fm_fs_container_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fm_fs_container {
  margin-bottom: 1.5rem;
}
.fm_fs_container_inner {
  gap: 1rem;
}
.fm_fs_refetch_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.fm_fs_refetch_container > img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.fm_fs_refetch_container_inner > h6 {
  color: var(--t-head-color);
  font-size: var(--font-13);
  font-weight: var(--font-4);
  line-height: var(--line-15);
  margin: 0;
}
.fm_fs_refetch_container_inner > p {
  color: var(--t-head-color);
  font-size: var(--font-10);
  font-weight: var(--font-4);
  line-height: var(--line-15);
  margin: 0;
}
.fm_fund_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}
.fm_fund_card > p {
  color: #000;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 17px;
  margin: 0;
}
.fm_fund_total {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 0.8rem;
}
.fm_fund_total_inner > h6 {
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  line-height: 17px;
  margin-bottom: 0.3rem;
}
.fm_fund_total_inner > p {
  color: var(--color-input-placeholder);
  font-size: 1rem;
  font-weight: 500;
  line-height: 17px;
  margin: 0;
}
