.receipt_container {
  margin-top: 1.5rem;
}
.receipt_container_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

.all_request_container {
  margin-top: 1.2rem;
  font-family: "Inter";
  font-style: normal;
  cursor: pointer;
}

.total_request {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
}

.request_card_info_name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
  margin-bottom: 0.2rem !important;
}
.request_card_container {
  width: 100%;
  min-height: 114px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  padding: 0.8rem;
  margin-bottom: 0.9rem;
}

.request_card_info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6rem;
  /* margin-bottom: 0.8rem; */
}

.request_card_info_date {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(18, 18, 18, 0.6);
}

.request_card_utr {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
}

.request_card_info_image {
  width: 52px;
  height: 52px;
  border-radius: 4px;
}

.re_requested_btn,
.re_requested_btn:focus {
  width: 100%;
  height: 35px;
  border: 0.805556px solid #002bbe;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  color: #002bbe;
  outline: none;
}

.fee_request {
  font-family: "Inter";
  font-style: normal;
  width: 30rem;
  height: fit-content;
  padding: 1.5rem;
}
.fee_request > h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #121212;
  text-align: center;
}

.fee_request_tab {
  margin-top: 1.4rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 47px;
  background: #e9ecf7;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  gap: 2%;
  padding: 0.3rem;
}

.fee_request_tab > h6 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #121212;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  height: 38px;
  cursor: pointer;
}
.fee_request_tab_active {
  background: #ffffff;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
}

.fee_request_confirm,
.fee_request_confirm:focus {
  width: 100%;
  height: 48px;
  background: rgba(0, 26, 114, 0.15);
  border: 1px solid #001a72;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #001a72;
  margin-top: 1.5rem;
  outline: none;
}

.fee_request_detail {
  margin-top: 1.5rem;
}
.fee_request_detail_name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
}
.fee_request_detail_amount {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
}
.fee_request_detail_date {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(18, 18, 18, 0.6);
}

.reason_for_rejection {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
  margin-bottom: 0.5rem;
}

.receipt_filter_icon {
  cursor: pointer;
}
.receipt_container_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}
.applicable_container {
  padding: 1rem;
  min-width: 30rem;
  max-width: 35rem;
  min-height: 10rem;
  max-height: 35rem;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-family: "Inter";
  font-style: normal;
}
.search_container_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.search_container {
  margin: 0;
  display: flex;
  margin-top: 1rem;
}

.search_container_input {
  position: relative;
  display: flex;
  align-items: center;
}
.search_container_input > input,
.search_container_input > input:focus {
  min-width: 250px;
  height: 40px;
  background: #ffffff;
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  border: none;
  padding-left: 3.075vw;
  outline: none;
}

.searchIcon {
  position: absolute;
  margin-left: 1.3vw;
  width: 1.5vw;
  top: 20%;
}

.payment_acknowledge_btn,
.payment_acknowledge_btn:focus-visible,
.payment_acknowledge_btn:focus {
  width: 100%;
  height: 47px;
  background: #ffffff;
  box-shadow: 0px 4px 4px #002bbe;
  border-radius: 6px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(18, 18, 18, 0.9);
  outline: transparent;
  padding: 15px 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 1rem;
}
