.classmates_container {
  width: 100%;
  min-height: 66px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  font-family: "Inter";
  font-style: normal;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  padding: 0.8rem;
}
.classmates_container > img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.classmates_container_inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.classmates_container_inner_text > h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
  margin-bottom: 0.2rem;
}

.classmates_container_inner_text > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(18, 18, 18, 0.5);
  margin-bottom: 0.2rem !important;
}
