.mainbody {
  display: flex;
  padding: 3vh 0 0 0;
  background-color: #f5f5f5;
  min-height: 100vh;
  gap: 1vw;
  justify-content: center;
}

.sidebar {
  width: 40%;
}

.singlechat {
  width: 60%;
}

.groupInfo {
  width: 40%;
}
