.createMCQQuestionTop {
  padding-bottom: 1vw;
  border-top-left-radius: 0.439vw;
  border-top-right-radius: 0.439vw;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
  margin-left: -26px;
  margin-right: -26px;
}
.question_with_drop {
  display: flex;
  align-items: flex-start;
  gap: 1vw;
}
.createMCQQuestionTop img {
  height: 1vw;
  margin-left: 26px;
  cursor: pointer;
}

.createMCQQuestionTopMenu {
  height: 1.3vw !important;
  margin-right: 26px;
}

.createMCQQuestionTop h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.171vw;
  line-height: 19px;

  color: rgba(18, 18, 18, 0.9);
}

.createMCQQuestionBody {
  padding: 1vw 0;
}

.createMCQQuestionBody h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */

  color: #121212;
}

.createMCQQuestionBody input {
  outline: none;
  width: 100%;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.339vw;
}

.addpng {
  display: flex;
  justify-content: flex-end;
  margin-top: 1vw;
}

.addpng p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.86vw;
  line-height: 17px;
  /* identical to box height */
  cursor: pointer;
  color: #436dfa;
}

.optionInput {
  border: none !important;
  box-shadow: none !important;
  margin-top: 1vw;
  border-radius: 0 !important;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15) !important;
  padding-left: 2vw;
}

.weightage {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.weightage h6 {
  margin-bottom: 0 !important;
}

.wbox {
  border: 0.5px solid #2e8bc0;
  border-radius: 0.23vw;
  padding: 0.1vw;
  cursor: pointer;
}

.wbox > img {
  height: 1vw;
}

.singleOption {
  display: flex;
  gap: 1vw;
  margin-top: 1vw;
  margin-bottom: 3vw;
}

.op {
  padding: 0.5vw 0.8vw;
  background: #d9d9d9;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1vw;
  line-height: 22px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.5);
}

.opcorrect {
  background: #20b038 !important;
  color: #fff;
}

.postTextareaa {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 0 !important;
  padding: 0;
  margin-top: 1vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1.245vw;
  color: rgba(18, 18, 18, 0.8);

  line-height: 4ch;
  background-image: linear-gradient(
    transparent,
    transparent calc(4ch - 1px),
    #e7eff8 0px
  );
  background-size: 100% 4ch;
  outline: none;
  border: none;
}

.createButton {
  margin-top: 1vw;
  width: 100%;
  border: none;
  background: #436dfa;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1vw;
  line-height: 19px;
  cursor: pointer;
  color: #ffffff;
  outline: none;
  gap: 1.5vw;
}
.createButton > div {
  margin-top: 7px;
}
.upload {
  display: none;
}

.qImage {
  min-width: auto;
  height: 100%;
  max-height: 50vw;
}
.option_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vw;
}
.option_with_weight > p {
  margin-bottom: 0.1vw !important;
  color: #436dfa;
  cursor: pointer;
}

.option_each {
  position: relative;
  display: flex;
  align-items: center;
}
.option_each_span {
  position: absolute;
  bottom: 3px;
}

.option_with_weight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
