.middleBodyRight {
  background-color: #ffffff;
  border: 0.037vw solid #cacaca;
  border-radius: 0.439vw;
  width: 50%;

  padding-left: 0.878vw;
  padding-right: 0.878vw;
  padding-top: 1.318vw;
  position: sticky;
  top: 15px;
}
.oneListText > p {
  margin-bottom: 0.2rem;
}
.topAbout {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.025vw;
  line-height: 1.245vw;
  color: #121212;
  text-align: center;
}
.topAboutLine {
  width: 23.06vw;
  margin-top: 1.245vw;
  margin-left: -0.878vw;
  height: 0px;
  border: 0.037vw solid rgba(0, 0, 0, 0.15);
  margin-bottom: 1.318vw;
}
.oneList {
  /* margin-top: 30px; */
  display: flex;
  justify-content: flex-start;
  height: 4.905vw;
  width: 21.742vw;
  margin-bottom: 1.464vw;
}
.oneListImage {
  width: 2.635vw;
  height: 2.635vw;
}
.oneListText {
  margin-left: 0.878vw;
}
.oneListTextHeading2,
.oneListTextHeading1 {
  height: 2.489vw;
}
.oneListTextHeading {
  height: 1.245vw;
}
.oneListTextHeading,
.oneListTextHeading2,
.oneListTextHeading1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.025vw;
  line-height: 1.245vw;
  color: #121212;
  width: 14.422vw;
}
.oneListTextHeadingColor {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.025vw;
  line-height: 1.245vw;
  color: #436dfa;
  width: 14.422vw;
}
.oneListTextDes {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.878vw;
  line-height: 1.098vw;
  color: rgba(18, 18, 18, 0.6);
  width: 11.713vw;
  height: 1.098vw;
}

.oneListTextHeading1 span {
  cursor: pointer;
}
