.joiningForm {
  margin-top: 1.5vw;
  width: 61.493vw;
}

/* ------------applications----------- */
.applications {
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
  /* width: 80%; */
}
.top {
  padding: 1vw;
  border-bottom: 0.3px solid rgb(224, 216, 216);
  display: grid;
  place-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2vw;
  line-height: 19px;
  color: rgba(18, 18, 18, 0.9);
}

.top1 {
  padding: 1vw;
  border-bottom: 0.3px solid rgb(224, 216, 216);
  display: flex;
  justify-content: space-between;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1vw;
  line-height: 19px;

  color: rgba(18, 18, 18, 0.9);
}

.top1 img {
  height: 2vw;
  cursor: pointer;
}
.top1 h6 {
  margin-bottom: 0;
}
.content {
  padding: 2vw 4vw;
  min-height: 75vh;
  /* overflow-y: scroll; */
}

.contentRow {
  display: flex;
  justify-content: space-between;
}

.contentColumn {
  margin-bottom: 2vw;
}

.contentRow > .contentColumn {
  width: 50%;
}
.contentBottom > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 17px;
  color: #000000;
}

.contentColumn p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0.3vw !important;
  color: rgba(18, 18, 18, 0.5);
}

.contentColumn li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 20px;
  /* identical to box height */
  margin-bottom: 0;
  color: #121212;
}

.contenttop {
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin-bottom: 1vw;
  margin-top: 1vw;
}
.contenttop p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
}
.btn {
  padding: 8px 29px;
  background: #1c023b;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1vw;
  color: #ffffff;
}

.cardsContainer {
  min-height: 70vh;
  /* overflow-y: scroll; */
}

.cardsContainer::-webkit-scrollbar {
  width: 4px !important;
}

.cardsContainer::-webkit-scrollbar-track {
  background-color: transparent !important;
  box-shadow: none !important;
}

.card {
  padding: 1vw;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 0.75vw;
}
.cardRow {
  display: flex;
  justify-content: space-between;
}

.cardRow h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #121212;
}

.cardRow p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(18, 18, 18, 0.8);
  margin-bottom: 0;
}

/* ---------content2------------------------ */

.singleOption {
  background: rgba(75, 26, 133, 0.1);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  gap: 1vw;
  align-items: center;
  padding: 1vw;
  margin-bottom: 2vw;
  cursor: pointer;
}

.singleOption h6 {
  margin-bottom: 0 !important;
}

/* -------------Joining Code-------------------- */
.content2 {
  padding: 2vw 4vw;
  min-height: 75vh;
}

.content2 > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1vw;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #000000;
}

.content2 > input {
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 1vw;
  width: 100%;
  outline: none;
  margin-top: 2vw;
}

.fillbtn {
  width: 100%;
  padding: 1vw;
  background: #1c023b;
  border-radius: 4px;
  color: white;
  font-size: 0.8vw;
  cursor: pointer;
  margin-top: 2vw;
  border-radius: 6px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabledBtn {
  width: 100%;
  padding: 1vw;
  background: rgba(75, 26, 133, 0.1);
  border-radius: 4px;
  color: rgba(18, 18, 18, 0.8);
  font-size: 0.8vw;
  cursor: pointer;
  margin-top: 2vw;
  border-radius: 6px;
  border: none;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
}

.tips {
  margin-top: 4vw;
  margin-bottom: 2vw;
}

.content2 .tip {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: rgba(18, 18, 18, 0.8);
}

.content2 ol {
  padding-left: 0.7rem !important;
}

.applyBtn {
  padding: 0.3vw;
  width: 100%;
  display: grid;
  place-items: center;
  background: #002bbe;
  border-radius: 0.439vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.071vw;
  line-height: 24px;
  cursor: pointer;
  color: #ffffff;
  height: 40px;
}
/* ------------------------------------------- */

.inpput {
  margin-top: 1rem;
}
.admission_fees_btn,
.admission_fees_btn:focus-visible,
.admission_fees_btn:focus {
  width: 100%;
  height: 47px;
  background: #ffffff;
  box-shadow: 0px 4px 4px #002bbe;
  border-radius: 6px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(18, 18, 18, 0.9);
  outline: transparent;
  padding: 15px 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.7rem;
}
.admission_fees_btn_active,
.admission_fees_btn_active:focus-visible {
  /* background-color: rgba(50, 71, 141, 0.15); */
  background-color: rgba(75, 26, 133, 0.1);
}
.admission_fees_btn:hover {
  transition-duration: 900ms;
  transition-delay: 100ms;
  transition-timing-function: ease-in;
  box-shadow: 0px 3px 3px #002bbe;
}
.card_row_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.card_row_container > img {
  width: 40px;
  height: 40px;
}
.hostel_direct {
  display: flex;
  justify-content: flex-start;
  /* gap: 1rem; */
}
