.loader {
  display: grid;
  place-items: center;
  width: 100%;
}

.loader > img {
  height: 4rem;
}

.noData > img {
  width: 100%;
}
.noData {
  display: grid;
  place-items: center;
  width: 100%;
}

.addbookcontainer {
  width: 100%;
  /* background-color: rgba(255, 255, 255, 1); */
}
.addbooktop {
  padding: 1.5rem 3rem;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.addbooktop > img {
  height: 1.3rem;
  cursor: pointer;
}

.addbooktop > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
  margin-bottom: 0 !important;
  color: #121212;
}

.addbookbody {
  padding: 0.75rem 3rem;
  background-color: rgba(255, 255, 255, 0.6);
  min-height: 70vh;
}

.itemsRef {
  margin-top: 0.7rem;
  width: 49%;
}

.membersContainer {
  display: flex;
  justify-content: flex-start;
  gap: 2%;
  align-items: center;
  flex-wrap: wrap;
}
