.MiddleContent {
  width: 100%;
  display: flex;
  gap: 1%;
  margin-top: -1.3rem;
  position: relative;
  min-height: 54vh;
}

/* .MiddleContent::-webkit-scrollbar {
    width: 5px !important;
  } */

.MiddleContentLeft {
  width: 100%;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding-bottom: 2vw;
}

.MiddleContentLeft2 {
  width: 70%;
  overflow-y: scroll;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
  padding-bottom: 2vw;
}

.tabs {
  /* border-top: 0.3px solid rgb(238, 233, 233);
    border-bottom: 0.3px solid rgb(238, 233, 233);
    margin-bottom: 1vw; */
}
.item {
  width: 100%;
  display: flex;
  gap: 1vw;
  padding: 0.7vw 9.5vw;
  align-items: center;
  cursor: pointer;
}

.item:hover {
  background: rgba(75, 26, 133, 0.1);
}

.item img {
  height: 1vw;
}

.item p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: #121212;
}

.MiddleContentRight {
  width: 29%;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
  height: 43vh;
}

.MiddleContentRightHead {
  padding: 1vw;
  display: grid;
  place-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: #1c023b;
}

.pItem {
  background: white;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
  color: black;
  padding: 0.3vw 0.6vw;
  display: flex;
  gap: 1vw;
  width: 100%;
  cursor: pointer;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
}
.pItem img {
  height: 2.8vw;
  width: 2.8vw;
  border-radius: 50%;
}

.text {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5vw;
}

.text h6 {
  margin-top: -5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #121212;
}

.text p {
  margin-bottom: 0 !important;
  margin-top: -5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75vw;
  line-height: 20px;
  /* identical to box height */

  color: #121212;
}

.addbtn {
  width: 90%;
  border: 1px solid #1c023b;
  border-radius: 4px;
  margin: 1vw 5% 1vw 5%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 22px;
  /* identical to box height, or 183% */
  display: grid;
  place-items: center;
  text-align: center;
  cursor: pointer;
  color: #1c023b;
}

.menu {
  border: 0.5px solid #e1dede;
  border-radius: 6px;
}

.menuItem {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 19px;
  background: #fff;
  color: #121212;
  padding: 1vw 2vw;
}

.menuItem:hover {
  background: #d3d0d0;
}

.itemIconContainer {
  display: flex;
  gap: 4vw;
  padding-left: 4vw;
  flex-wrap: wrap;
  padding-top: 1vw;
}

.itemIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 11vw;
  height: 11vw;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  gap: 0.5vw;
  cursor: pointer;
}
.itemIcon > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 16px;
  text-align: center;

  color: rgba(18, 18, 18, 0.8);
}

.itemIcon > img {
  height: 3.5vw;
  width: 3.5vw;
}
.itemIcon:hover {
  background: rgba(75, 26, 133, 0.1);
}

@media only screen and (max-width: 1180px) {
  .itemIcon > p {
    font-size: 0.82rem;
  }
}

@media only screen and (max-width: 997px) {
  .itemIcon > p {
    font-size: 0.77rem;
  }
}
