.payroll {
  background: #ffffff;

  border-radius: 6px;
  width: 100%;
  margin-bottom: 1vw;
}

.skillTop {
  border-bottom: 0.5px solid rgba(156, 156, 156, 0.6);
  padding: 1vw 8vw;
}

.skillTopRow {
  display: flex;
  justify-content: space-between;
}
.skillTopRow p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */

  color: #121212;
}

.pdark {
  font-weight: 600 !important;
}
.pdarkk {
  font-weight: 600 !important;
}

.skillMid {
  padding: 1vw;
  display: flex;
  /* justify-content: space-between; */
}

.skillMidLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.skillMidRight {
  width: 50%;
}

.midLeftCard {
  cursor: pointer;
  padding: 0.5vw;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  width: 80%;
  margin-bottom: 0.5vw;
}

.midLeftCardActive {
  background: rgba(75, 26, 133, 0.1) !important;
}
.midLeftCard img {
  height: 3vw;
  width: 3vw;
  border-radius: 0.5vw;
}

.midLeftCard h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 19px;
  text-transform: capitalize;
  margin-bottom: 0.3vw;
  color: rgba(18, 18, 18, 0.9);
}

.midLeftCard p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  text-align: right;
  text-transform: capitalize;

  color: rgba(18, 18, 18, 0.6);
}

.skillMidRightCard {
  /* width: 80%; */
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
}

.skillMidRightCardd {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.skillMidRight {
  display: flex;
  align-items: flex-start;
}

.skillMidRightCardTop {
  padding: 0.75vw;
}

.skillMidRightCard img {
  width: 21.596vw;
  height: 10.835vw;
  border-radius: 0.5vw;
  margin-bottom: 1vw;
}

.spanred {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75vw !important;
  line-height: 15px;
  /* identical to box height */
  color: #e95f28 !important;
}

.spangreen {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75vw !important;
  line-height: 15px;
  /* identical to box height */
  color: #20b038 !important;

  text-transform: capitalize;
}
.skillMidRightCardTop h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 19px;
  text-transform: capitalize;

  color: #121212;
}

.skillMidRightCardTop > p,
.skillMidRightCardTopflex > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8vw;
  line-height: 17px;
  /* identical to box height */

  text-align: right;
  text-align: left;
  color: #121212;
}

.emptyMatchList {
  display: grid;
  place-items: center;
  height: 25vh;
}

.matchListp {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 19px;
  cursor: pointer;
  color: #121212;
}

.matchList {
  padding: 1vw;
}

.matchListTop {
  display: flex;
  justify-content: space-between;
  padding: 0 1vw;
}

.matcheRow p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 19px;
  cursor: pointer;
  color: #121212;
}

.matcheRowFlex {
  display: flex !important;
  gap: 1vw !important;
}

.skillMidRightCardTop h6,
.skillMidRightCardTop p {
  margin-bottom: 0.7vw !important;
}

.skilllMidRightCardbtn {
  display: grid;
  place-items: center;
  padding: 0.75vw;
  background: #61b464;
  color: #ffffff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */

  text-transform: capitalize;

  color: #ffffff;
}

.studentcatalogprofileimg {
  width: 16vw !important;
}
.election_container {
  width: 100%;
}
.election_container_left {
  width: 100%;
}
.election_container_active {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2vw;
}
.election_container_right,
.election_container_left_50 {
  width: 50%;
}
.election_card {
  width: 100%;
  height: 84px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  font-family: "Inter";
  font-style: normal;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
  padding: 1vw;
  cursor: pointer;
}
.election_card:hover,
.election_card_active {
  background-color: rgba(75, 26, 133, 0.1);
}

.election_card > img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.election_card_text > h6 {
  font-weight: 600;
  font-size: 16px;
  color: rgba(18, 18, 18, 0.9);
}

.election_card_text > p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(18, 18, 18, 0.6);
  margin-bottom: 0 !important;
}
