.moderator_container {
  margin-top: 1.5rem;
}
.moderator_container_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}
.add_new_moderator {
  margin-top: 0.7rem;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: #436dfa;
  display: grid;
  place-items: end;
  cursor: pointer;
}
.moderator_card {
  position: relative;
  min-height: fit-content;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
  cursor: pointer;
}
.moderator_card > img:first-child {
  width: 55px;
  height: 55px;
  border-radius: 5px;
}
.moderator_card_text_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.moderator_card_text_container > h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
  margin-bottom: 0.3rem;
}

.moderator_card_text_container > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0.3rem !important;
}
.menu_icon {
  /* width: 1.5rem; */
  cursor: pointer;
  position: absolute;
  right: 3%;
}

.assign_role_container {
  width: 25rem;
  max-height: 35rem;
  min-height: 17rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.assign_role_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  padding: 0.8rem;
}
.selected_staff_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.3rem;
  padding: 0.8rem;
}
.selected_staff_container > img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.selected_staff_text > h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
  margin-bottom: 0;
}
.selected_staff_text > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(18, 18, 18, 0.5);
  margin-bottom: 0 !important;
}
.assign_btn {
  width: 100%;
  height: 47px;
  background: rgba(0, 26, 114, 0.15);
  border: 1px solid #001a72;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #001a72;
  margin-top: 1rem;
  outline: transparent;
}
.select_application_btn {
  width: 100%;
  height: 47px;
  background: rgba(0, 26, 114, 0.15);
  border: 1px solid #001a72;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #001a72;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: transparent;
  padding: 0 2rem;
}
.select_btn {
  width: 88px;
  height: 33px;
  background: rgba(0, 26, 114, 0.15);
  border: 1px solid #001a72;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #001a72;
  outline: transparent;
  position: absolute;
  right: 4%;
}
.application_card {
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  width: 100%;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 0.8rem;
  margin: 0.6rem 0.5rem;
  width: 95%;
  cursor: pointer;
}
.application_card:hover,
.application_card_active {
  background: rgba(50, 71, 141, 0.15);
}
.application_card_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.application_card_text > h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(18, 18, 18, 0.9);
  margin-bottom: 0.2rem;
}
.application_card_text_bottom > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(18, 18, 18, 0.8);
  margin-bottom: 0.2rem !important;
}
.application_card_text_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.modal_container {
  min-width: 35rem;
  max-width: 35rem;
  min-height: 10rem;
  max-height: 35rem;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.modal_container_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.modal_container_header > h6 {
  font-weight: 500;
  font-size: var(--font-14);
  line-height: 15px;
  color: var(--t-head-color);
}
