.item {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
  padding: 0.1vw 1vw;
  position: relative;
  /* ----------------------- */
  height: 5vw;
  /* -------------------- */
}
.item img {
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
}

.item h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;
  position: absolute;
  top: 1.1vw;
  left: 4.5vw;
  color: #121212;
}
.item p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8vw;
  position: absolute;
  left: 4.5vw;
  top: 2.5vw;
  color: rgba(18, 18, 18, 0.6);
}
.itemText {
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
}

.dots {
  position: absolute;
  top: -0.3vw;
  right: 0;
  width: 1.3vw !important;
}
.dots:hover {
  cursor: pointer;
}

.sidebarBottom {
  margin-top: 1vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.item:nth-of-type(4):hover {
  cursor: pointer;
}

/* ----------Tooltip----------------- */
.list {
  width: 100%;

  position: absolute;
  top: 45px;
  z-index: 10;
  right: 0px;
  padding: 0;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  width: 70%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.options:hover {
  background: rgba(75, 26, 133, 0.1);
}

.options:hover p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #121212;
}

.options {
  width: 100%;
  cursor: pointer;
  list-style: none;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  /* padding-top: 2px; */
}

.options p {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 15px !important;
  position: static;

  color: #121212 !important;
}

.listDisplay {
  display: none;
}

.triangle {
  position: absolute;
  top: 38px;
  right: 4px;
  z-index: 20;
  border-bottom: 7px solid #d9d9d9;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.triangleDisplay {
  display: none;
}

/* ----------Tooltip----------------- */

@media only screen and (max-width: 1024px) {
  .item h6 {
    top: 1.1vw;
    left: 5.5vw;
    color: #121212;
  }
  .item p {
    left: 5.5vw;
    top: 2.5vw;
    color: rgba(18, 18, 18, 0.6);
  }
}

@media only screen and (max-width: 920px) {
  .item h6 {
    top: 1.1vw;
    left: 6.5vw;
    color: #121212;
  }
  .item p {
    left: 6.5vw;
    top: 2.5vw;
    color: rgba(18, 18, 18, 0.6);
  }
}
@media only screen and (max-width: 820px) {
  .item h6 {
    top: 1.1vw;
    left: 6.5vw;
    color: #121212;
  }
  .item p {
    left: 6.5vw;
    top: 2.5vw;
    color: rgba(18, 18, 18, 0.6);
  }
}
