.sidebar {
  position: sticky;
  top: 90px;
}
.sidebartop {
  display: flex;
  width: 19.327vw;
  min-height: 24vw;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1vw;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
  padding-left: 1.11vw;
  padding-right: 1.11vw;
}

.imgcontainer {
  height: 7.5vw;
  width: 7.5vw;
  margin-top: 64px;
  /* background-color: aqua; */
}
.imgcontainer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.textContainer {
  max-width: 15.5vw;
  /* height: 7.5vw; */
}

.sidebartop h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 22px;
  /* or 138% */

  text-align: center;

  color: rgba(18, 18, 18, 0.8);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1vw;

  width: 100%;
}

.applybtn {
  text-align: center;

  padding: 11px 8px;
  background: white;
  border-radius: 4px;
  color: #1c023b;
  font-size: 1.1vw;
  border: 1px solid #1c023b;
  cursor: pointer;
  width: 50%;
}

.btn {
  text-align: center;
  padding: 11px 8px;
  background: #1c023b;
  border-radius: 4px;
  color: white;
  font-size: 1.1vw;
  cursor: pointer;
  width: 50%;
}

.btn:hover {
  cursor: pointer;
}
