.complaints {
  margin-top: 1.6vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vh;
  gap: 1vw;
}
.complaintList {
  background-color: white;
  width: 40.42vw;
  border-radius: 6px !important;
}

.complaintDetail {
  width: 40.42vw;
  border-radius: 6px !important;
}
