.partactivityCard {
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 0.75rem;
  width: 100%;
  margin-bottom: 1rem;
}

.partactivityCardtop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
}
.partactivityCardtop h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 19px;
  margin-bottom: 0.2rem;
  color: #121212;
}

.partactivityCardtop p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 22px;
  /* identical to box height, or 157% */

  color: #121212;
}

.partactivityCardtopbtn {
  padding: 0.35rem 0.6rem;
  cursor: pointer;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 14px;
  /* identical to box height, or 124% */
  border: 0.805556px solid #002bbe;
  border-radius: 4px;
  color: #002bbe;
}

.partactivityCardBody {
  padding: 0.75rem;
}

.partactivityCardBody h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 22px;
  /* identical to box height, or 157% */
  margin-bottom: 0.2rem;
  color: #121212;
}

.partactivityCardBody span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 22px;
  /* identical to box height, or 157% */
  margin-bottom: 0.2rem;
  color: rgba(18, 18, 18, 0.8);
}

.partactivityCardBody p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0.2rem;

  color: rgba(18, 18, 18, 1);
}

.applied {
  cursor: context-menu;
}
