.eventstop {
  display: flex;
}
.sportsHeadEvents {
  width: 100%;
}

.eventstopTab {
  width: 33.3%;
  cursor: pointer;
  padding: 1vw;
  display: grid;
  place-items: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.5);
}

.eventBlue {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: #436dfa;
}

.activeTab {
  color: #121212 !important;
}

.eventsbody {
  width: 100%;
}

.ongoingEvents {
  padding: 1vw 6vw;
}

/* ---------------Event Card---------------------- */

.card {
  padding: 0.5vw 1vw;
  display: flex;
  align-items: center;
  gap: 1vw;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 0.3vw;
  /* padding: 0.5vw; */
  margin-bottom: 0.5vw;
  cursor: pointer;
}

.card .texttt {
  margin-top: 0.5vw;
}
.card img {
  height: 5vw;
  width: 5vw;
  border-radius: 0.3vw;
}

.card p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 17px;

  text-align: left;

  margin-bottom: 0.35vw;
  color: rgba(18, 18, 18, 0.8);
}

.span1 {
  font-weight: 600 !important;
  font-size: 0.9vw;
  line-height: 17px;

  text-transform: capitalize;

  color: rgba(18, 18, 18, 0.9) !important;
}

.span2 {
  font-weight: 500 !important;
  font-size: 0.9vw;
  line-height: 17px;

  text-transform: capitalize;

  color: rgba(18, 18, 18, 0.8) !important;
}

.loader {
  display: grid;
  place-items: center;
}

.loader img {
  height: 5vw;
}

.noData {
  display: grid;
  place-items: center;
}
