.mainbody {
  display: flex;
  padding: 3vh 8vw 0 8vw;
  background-color: #f5f5f5;
  min-height: 100vh;
  gap: 1.8vw;
  /* justify-content: center; */
}
.main {
  height: 100vh;
}
.stats {
  width: 39vw;
  height: 80vh;
}

.sidebar {
  position: sticky;
  top: 8rem;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 22%;
}

.sidebarright {
  width: 32%;
}

.test {
  width: 40%;
}

.newPost {
  top: 80px;
  width: 65%;
}

.newAnnouncement {
  top: 80px;
  width: 65%;
}

@media only screen and (max-width: 1140px) {
  .mainbody {
    padding: 3vh 1vw 0 1vw;
  }
}

@media only screen and (max-width: 1024px) {
  .mainbody {
    padding: 1vh 1vw 0 0vw;
  }
  .sidebar {
    width: 23%;
  }

  .sidebarright {
    width: 25%;
  }

  .test {
    width: 40%;
  }
}

@media only screen and (max-width: 992px) {
  .test {
    width: 44%;
  }
}
/* @media only screen and (max-width: 820px) {
  .mainbody {
    padding: 3vh 0 0 0;
  }
} */
