.sidebartop,
.sidebartopp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw 1vw 1vw 1vw;
  gap: 1vw;
  position: relative;

  /* height: 20vw; */
}

.sidebartopp {
  padding: 0 !important;
  width: 100%;
  position: relative;
  /* min-height: 20vw; */
}

.sidebartoppHead {
  width: 100%;
  padding: 0 !important;
}

.sidebartopp img {
  width: 19.327vw;

  height: 12.5vw;
  margin-top: -0.75rem;
}

.profileEdit {
  position: absolute;
  height: 2rem !important;
  width: 2rem !important;
  bottom: 3rem;
  right: 1rem;
}

@media only screen and (max-width: 1024px) {
  .sidebartop h6 {
    font-size: 1.2vw;
  }

  .sidebartop {
    padding: 1vw 1vw 1vw 1vw;
  }

  .textContainer {
    width: 100%;
  }

  .btn {
    font-size: 1vw;
  }
}

@media only screen and (max-width: 992px) {
}

.sidebarback {
  background-color: #1c023b;
  color: #fff;

  padding: 0.9rem 1.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  height: 3rem;
}

.sidebarbackflex {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.sidebarback img {
  height: 1.15rem;
}

.sidebarback h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.318vw;
  line-height: 22px;
  /* identical to box height */
  margin-bottom: 0;
  color: #ffffff;
}
