.DModal {
  background: #fafafa;
  border-radius: 12px;
  width: 500px;
  /* padding: 2vw; */
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1px solid rgb(204, 198, 198);
  padding-bottom: 1vw;
  padding: 1vw;
}
.title h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #121212;
}

.input {
  margin-top: 1.5vw;
  width: 100%;
  margin-bottom: 2vw;
}
.input h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.8);
}
.input input {
  width: 100%;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 0.5vw;
  outline: none;
}
.title img {
  cursor: pointer;
}

.input input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.5);
}
.body {
  padding: 1vw;
}

.btn {
  width: 100%;
  background: rgba(75, 26, 133, 0.1);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4vw;
  margin-top: 3vw;

  outline: none;
  border: none;
}

.btnActive {
  background-color: #1c023b !important;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.btnActive p {
  margin-bottom: 0 !important;
}

.assignDesignation {
  display: flex;
  align-items: center;
  gap: 1vw;
  cursor: pointer;
}

.assignDesignation h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0.3vw;

  color: #121212;
}

.assignDesignation p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  margin-bottom: 0;
  color: rgba(18, 18, 18, 0.6);
}

.items {
  height: 45vh;
  overflow-y: scroll;
}

.items::-webkit-scrollbar {
  width: 4px !important;
}

.items::-webkit-scrollbar-track {
  background-color: transparent !important;
  box-shadow: none !important;
}

.items::-webkit-scrollbar {
  width: 0;
}

.sidebarbottomitem {
  display: flex;
  align-items: center;
  gap: 1vw;
  padding: 1vw;
  cursor: pointer;
}
.sidebarbottomitem p {
  margin-bottom: 0 !important;
}
.sidebarbottomitem img {
  height: 2.3vw;
  width: 2.3vw;
  border-radius: 6px;
}

.stafImg {
  height: 3vw;
  width: 3vw;

  border-radius: 50%;
}

.namee {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0.3vw;
  color: #121212;
}

.desig {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  margin-bottom: 0;

  color: rgba(18, 18, 18, 0.6);
}
