.tab {
  background: #efeef1;
  border: 0.4px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0.9vw 0.75vw; */
  padding: 0.5vw 0.5vw;
  width: 10vw;

  gap: 0.9vw;
  cursor: pointer;
  height: 100%;
}

.tab > p {
  margin-bottom: 0.7rem !important;
}
.imgdark {
  display: none;
}

.tab p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 17px;
  margin-bottom: 0 !important;
  color: rgba(18, 18, 18, 0.8);
}

.tab img {
  height: 1vw;
}
.tab:hover {
  background: #1c023b;
  border: 0.4px solid rgba(0, 0, 0, 0.1);
  color: white;
}

.tab:hover p {
  color: white;
}

.tab:hover img {
  display: none;
}

.tab:hover .imgdark {
  display: block;
}

.tabBackground {
  background: #1c023b;
  border: 0.4px solid rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vw 0.5vw;

  gap: 0.9vw;
  cursor: pointer;
  width: 10vw;
}

.tabBackground img {
  height: 1vw;
}

.tabBackground p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 17px;
  color: #fff;
  margin-bottom: 0 !important;
}
