.photoMain {
  position: relative;
  height: 7.321vw;
  width: 7.321vw;
}
.photoLabel {
  position: absolute;
  right: -2px;
  bottom: 5px;
}
.photoLabel img {
  height: 2vw !important;
  width: 2vw !important;
  cursor: pointer;
}
