.sRequest {
  margin-top: 1vw;
}
.backflex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0.5vw;
}

.backh {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;

  cursor: pointer;
  color: rgba(238, 56, 51, 0.5);
}

.requestParent {
  border: 0.5px solid #cacaca;
  border-radius: 5px;

  /* width: 552px; */
  background: #ffffff;
  min-height: 62vh;
  /* height: 780px; */
}

/* .requestRightParent {
  margin-top: 8px;
} */
.requestAction {
  background-color: rgba(67, 109, 250, 1);
  color: #ffffff;
  font-size: 1em;
  font-weight: 600;
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 1.098vw;
  margin-top: 24px;
  margin-left: 18px;
  margin-right: 18px;
}

.requestStudent {
  /* display: flex;
  align-items: center; */
  /* width: 552px; */
  border-bottom: 0.3px solid rgb(223, 216, 216);
  /* justify-content: space-between; */
}

.requestStudentActive {
  background: rgba(75, 26, 133, 0.1);
}

.requestStudentChild {
  min-width: 70%;
  display: flex;
  align-items: center;
}
.requestStudentChild > img {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  margin-left: 18px;
  margin-right: 16px;
}
.requestBtn {
  /* width: 97px;
  height: 32px; */
  padding: 0.5vw 1vw;
  margin-right: 18px;
  background: #1c023b;
  border-radius: 3.22222px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.applyDate {
  min-width: 55px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
  color: rgba(18, 18, 18, 0.5);
}

.applyNameDate {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 8px;
}
.applyNameDate p {
  margin-bottom: 0;
}
.applyName {
  min-width: 107px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 17px;
  margin-bottom: 0.037vw !important;
  color: rgba(18, 18, 18, 0.8);
}

.deactiveRequest {
  background-color: inherit;
  cursor: pointer;
}
.activeRequest,
.deactiveRequest:hover {
  background: rgba(75, 26, 133, 0.1) !important;
  cursor: pointer;
}
