.main_wrapper {
  min-width: 840px;
  /* change height to min for remove sscroll */
  /* height: 579px; */
  min-height: 579px;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
  padding: 28px 26px;
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
}

.header_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* gap: 42px; */
}
.header_subcontainer1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 14px;
}

.search_container {
  min-width: 200px;
  height: 2.782vw;
  background-color: #ffffff;
  border: 0.029vw solid rgba(0, 0, 0, 0.15);
  border-radius: 0.439vw;
  display: flex;
  align-items: center;
  position: relative;
}
.search_container input,
.search_container input:focus {
  outline: none;
  width: 100%;
  height: 2.5vw;
  border: none;
  margin-left: 0.073vw;
  padding-left: 3.075vw;
}

.search_container > img {
  position: absolute;
  margin-left: 0.878vw;
}

.create_set {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 24px;
  width: 387px;
  height: 59px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  color: rgba(18, 18, 18, 0.9);
  cursor: pointer;
}
.create_set:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1px 2px 32px rgba(0, 0, 0, 0.02);
}
.create_set > h6 {
  margin: 0;
  padding: 0;
}
.header_subcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
  gap: 14px;
  position: relative;
  width: 387px;
  height: 103px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  padding: 22px 23px;
}

.mcq_profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mcq_profile > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: rgba(18, 18, 18, 0.9);
  margin-bottom: 0.3vw !important;
}

.header_mcq {
  margin: 21px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(18, 18, 18, 0.9);
}

.create_set_header {
  padding-bottom: 1vw;
  border-top-left-radius: 0.439vw;
  border-top-right-radius: 0.439vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}

.create_set_header img {
  height: 1vw;
  cursor: pointer;
}
.create_set_header_edit {
  height: auto !important;
}
.create_set_header h6 {
  margin: 0;
  padding: 0;
}

.mcq_universal_profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2vw;
}

.mcq_universal_profile_select {
  margin-left: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mcq_universal_profile_select > p {
  margin-bottom: 0.3vw !important;
}

.mcq_universal_profile_select_active {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #121212;
}
