.subjectTeacherMCQ {
  width: 100%;
  margin-top: 1vw;
}

.subjectTeacherMCQTop {
  display: flex;
  gap: 2%;
  margin-bottom: 1vw;
}

.subjectTeacherMCQTopItem {
  display: flex;
  justify-content: center;
  gap: 0.5vw;
  align-items: center;
  width: 49%;
  background: #002bbe;
  border-radius: 6px;
  padding: 0.5vw;
  cursor: pointer;
}

.subjectTeacherMCQTopItem > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0;
  text-transform: capitalize;

  color: #ffffff;
}

.mcqQuetionSet {
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 0.439vw;
}

.mcqQuetionSetItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vw 1vw;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.mcqQuetionSet {
  height: 62.5vh;
  overflow-y: scroll;
}

.mcqQuetionSet::-webkit-scrollbar {
  width: 4px !important;
}

.mcqQuetionSet::-webkit-scrollbar-track {
  background-color: transparent !important;
  box-shadow: none !important;
}
