.instruction {
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
  margin-top: 1vw;
  padding: 1vw 0.3vw 0vw 0.3vw;
  min-height: 20vw;
}

.header h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 0.9vw;
  line-height: 22px;
  text-align: center;
  color: rgba(18, 18, 18, 0.8);
}
.order_list {
  margin-bottom: 0;
}
.list {
  display: flex;
  justify-content: center;
}

.list p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8vw;
  line-height: 22px;
  color: rgba(18, 18, 18, 0.8);
}

li::marker {
  font-size: 0.9vw;
}
