.main {
  width: 100%;
  height: 10vw;
  background-color: #fff;
  border-top-left-radius: 0.366vw;
  border-top-right-radius: 0.366vw;
  display: flex;
  position: relative;
  gap: 1vw;
}

.coverImg {
  height: 100%;
  margin-left: -0.5vw;
  border-radius: 0.75vw;
  width: 30%;
}

.coverImgg {
  height: 100%;
  border-radius: 0.5vw;
  width: 30%;
}

.deptPhoto {
  position: absolute;
  top: 20%;
  left: 26%;
  height: 5.5vw;
  width: 5.5vw;
  border-radius: 50%;
}

.deptPhoto img {
  border-radius: 50%;
}

.textContainer {
  margin-left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1vw 0 1vw 0;
}

.textTop h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.318vw;
  line-height: 22px;
  /* identical to box height */

  text-align: left;

  color: #121212;
}

.textTop p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.021vw;
  line-height: 20px;
  /* identical to box height, or 143% */

  text-align: left;

  color: #121212;
}

.textBottom {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
}

.textBottomitem h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.464vw;
  line-height: 27px;

  text-align: center;
  color: #121212;
}

.textBottomitem p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.952vw;
  line-height: 16px;

  text-align: center;
  color: #121212;
}

/* .imageJustify {
  position: relative;
  z-index: 1;
  height: 20vw;
}

.justifyWhite {
  height: 20vw;
}

.imageJustify1 {
  width: 41.507vw;
  height: 20vw;
  position: absolute;
  left: 0;
}

.nameAndAbout {
  width: 29.283vw;
  margin-top: -18vw;
  padding-left: 2.782vw;
  position: relative;
}

.nameAndAbout p {
  margin-top: 1.5vw;
}

.nameAndAbout img {
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  position: unset;
  margin-top: 1vw;
}
.name {
  width: 21.376vw;
  height: 6.515vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  line-height: 1.977vw;
  color: #ffffff;
  margin-bottom: 3vw;
}
.name > span {
  font-size: 2.635vw;
}
.name {
  font-size: 1.098vw;
}
.about {
  width: 23.572vw;
  margin-top: -5vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 1.025vw;
  line-height: 1.391vw;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.7);
  height: 15vw;

  overflow: hidden;
  text-overflow: ellipsis !important;
}

.imageJustify2 {
  position: absolute;
  width: 33.382vw;
  height: 20vw;
} */
