.mainContainer {
  /* border: 0.5px solid #cacaca; */
  border-radius: 6px;
  background-color: #ffffff;
}
.answerTop > img {
  cursor: pointer;
}
.questionSection {
  position: relative;
  background: #ffffff;
  /* border: 0.5px solid #cacaca;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; */
  padding: 1.245vw 1.318vw 1.1vw 1.318vw;
}

.answerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.answerTop > p {
  margin-bottom: 0 !important;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 132.5%;
  letter-spacing: -0.025em;
  color: rgba(41, 41, 41, 0.5);
}
.postTextarea::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 20px;
  margin-bottom: 0 !important;
  color: #121212;
}

.postTextarea {
  width: 100%;
  border: none;
  resize: none;
  padding: 0.5vw;
  background: transparent;
  border-radius: 6px;
  height: 3.1vw;
  outline: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 20px;
  color: #121212;
}

.questionTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.171vw;
  line-height: 132.5%;
  letter-spacing: -0.025em;
  color: #292929;
}

.questionMainContainer {
  margin-top: 0.805vw;
  margin-bottom: 0.439vw;
  border-bottom: 0.4px solid rgba(0, 0, 0, 0.12);
}
.upload {
  display: none;
}
.uplaodImage {
  width: 34.261vw;
  height: 21.083vw;
  margin-bottom: 0.9vw;
  margin-top: 1vw;
}

.postActive {
  margin-top: 2vw;
  background: #f1f1f1;
  border-radius: 6px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  cursor: pointer;
  outline: none;
  border: none;
  color: rgba(18, 18, 18, 0.6);
  margin-bottom: 1vw;
}

.postActive > p {
  margin-bottom: 0 !important;
  padding: 0.878vw 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.postActive > div {
  margin-top: 6px;
}

.postActive:hover {
  background-color: #1c023b;
  color: white;
}
