.getstarted {
  width: 100vw;
  min-height: fit-content;
  height: 100dvh;
  box-sizing: border-box;
  background-color: #ffffff;
}
.left_strip {
  position: absolute;
  height: 40px;
  background-color: #7a73ff;
  bottom: 200px;
  left: -30px;
  right: calc(50% + 405px);
  transform: skewY(-12deg);
  z-index: 5;
}
.getstarted_container {
  height: 100%;
  padding: 4rem 6rem;
  position: relative;
}
.right_strip {
  position: absolute;
  height: 40px;
  background-color: #7a73ff;
  top: 158px;
  left: calc(50% + 430px);
  right: -10px;
  transform: skewY(-12deg);
  z-index: 5;
}
.getstarted_container_inner {
  display: flex;
  z-index: 15;
  position: relative;
}
.getstarted_container_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  padding: 2rem;
  background-color: hsla(0, 0%, 100%, 0.9);
  padding-right: 12.5%;
  border-left: 0.01px solid #f1efef;
  border-top: 0.01px solid #f1efef;
}
.getstarted_container_child {
  width: 50%;
}
.getstarted_container_info > ul {
  list-style: none;
}
.getstarted_container_info > ul > li::marker {
  margin-right: 0.5rem;
}
.getstarted_container_info > ul > li {
  margin-bottom: 1rem;
}
.getstarted_container_info > a > h4 {
  color: #212b39;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.getstarted_container_info > ul > li > a > h6 > img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.getstarted_container_info > ul > li > a > h6 {
  color: #1a1f36;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}
.getstarted_container_info > ul > li > p {
  color: #3c4257;
  font-size: 0.875rem;
  line-height: 130%;
  margin-left: 0.5rem;
}
.get_started_btn {
  width: 100%;
  display: grid;
  place-items: center;
}
.get_started_btn > a > button {
  cursor: pointer;
  outline: none;
  border: 1px solid #7a73ff;
  border-radius: 6px;
  padding-block: 0.5rem;
  padding-inline: 2rem;
  color: #3c4257;
  font-size: 0.875rem;
  transition: background-color, color;
}
.get_started_btn > a > button:hover {
  transition: linear 1s;
  background-color: #7a73ff;
  color: #ffffff;
}
.auth_card_wrapper {
  width: 80%;
  background-color: #fff;
  border-radius: 0.1rem;
  box-shadow: 0 0.5rem 4rem 0.5rem rgba(0, 0, 0, 0.08);
  padding: 1.75rem;
  padding-top: 2rem;
}
.auth_card_title {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 23px;
  color: rgba(18, 18, 18, 0.9);
  margin-bottom: 0.7rem;
}
.auth_card_subtitle {
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  color: rgba(18, 18, 18, 0.8);
}
.auth_login_tab_container {
  width: 100%;
  margin-block: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3rem;
  padding: 0.3rem;
  background-color: #e9ecf7;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
}
.auth_login_tab,
.auth_login_tab_active {
  width: 49%;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-weight: 500;
  line-height: 15px;
  font-size: 0.75rem;
  text-align: center;
  color: rgba(18, 18, 18, 0.8);
}
.auth_login_tab_active {
  background-color: #ffffff;
  box-shadow: -1px 7px 5px -4px rgb(0 0 0 / 35%);
  border-radius: 0.3rem;
}
.auth_login_form {
  margin-top: 2.5rem;
}
.auth_submit_btn {
  width: 100%;
  padding: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
  background-color: #575caa;
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  margin: 0;
  outline: none;
  border: none;
  min-height: 2.3rem;
  cursor: pointer;
}
.auth_submit_btn:focus {
  outline: none;
}
.auth_submit_btn > span {
  color: #ffffff;
  font-weight: var(--font-weight-500);
  font-size: 1rem;
}
.auth_forget_container,
.auth_footer_container {
  display: flex;
  justify-content: center;
}
.auth_forget_container {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.auth_footer_container {
  margin-top: 2.5rem;
}
.auth_forget_text {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 19px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  color: #0942a6;
}
.auth_privacy_and_policy {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 18px;
  margin-top: 1rem;
  color: rgba(18, 18, 18, 0.6);
  margin-bottom: 2rem;
}
.auth_privacy_and_policy_link > a {
  font-weight: 500;
  color: rgba(18, 18, 18, 0.9);
}
.auth_otp_text {
  color: hsla(0, 0%, 7%, 0.6);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 18px;
  margin-top: 1rem;
  margin-bottom: 4rem;
}
.auth_otp_resend {
  color: #002bbe;
  cursor: pointer;
  font-weight: 500;
}
.aea_card {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  transition: all 300ms ease-in 50ms;
  padding: 0.5rem;
  border-radius: 6px;
}
.aea_card:hover {
  background-color: buttonface;
}
.aea_card > img {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
}
.aea_card_inner > h6 {
  font-weight: var(font-5);
  font-size: 0.9rem;
  line-height: var(--line-18);
  color: var(--t-color);
  margin-bottom: 0.2rem;
}
.aea_card_inner > p {
  font-weight: var(font-4);
  font-size: 0.7rem;
  line-height: var(--line-18);
  color: var(--t-color-1);
}
.auth_forgot_username {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 18px;
  color: rgba(18, 18, 18, 0.6);
  text-align: center;
}
.auth_create_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}
.create_profile_label {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.create_profile_label > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
