.reportDetails {
  background-color: white;
  height: 100%;
  overflow-y: scroll;
}

.header {
  display: flex;
  align-items: center;
  gap: 1vw;
  background-color: #1c023b;
  padding: 0.4vw;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.progressbar {
  height: 4.5vw;
  width: 4.5vw;
  border-radius: 50%;
  background-color: antiquewhite;
}
.text {
  display: flex;
  flex-direction: column;
}
.name p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.7vw;
  line-height: 23px;
  /* identical to box height, or 194% */
  margin-bottom: -0.4vw !important;
  color: rgba(255, 255, 255, 0.5);
}
.name h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 23px;
  /* identical to box height, or 166% */
  margin-bottom: 0;
  color: #ffffff;
}

.roll h6 {
  margin-bottom: 0 !important;
}

.attbehave {
  display: flex;
  flex-direction: column;
  padding: 1.5vw;
  margin-top: 1.5vw;
  background: rgba(132, 154, 227, 0.15);
  /* border: 0.2px solid rgba(0, 0, 0, 0.15); */
}

.attendence {
  display: flex;
  gap: 5vw;
  list-style-type: disc !important;
}

.attendence p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: rgba(18, 18, 18, 0.8);
}

.stars {
  display: flex;
  gap: 1vw;
}
.stars img {
  height: 1.3vw;
}

.attendence span {
  font-weight: 600;
}

.attendence h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4vw;
  line-height: 24px;
  /* identical to box height, or 120% */

  color: #121212;
}

.improve {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 15px;
  /* identical to box height, or 107% */

  color: #121212;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3vw;
  align-items: center;
  height: 20%;
  margin-top: 1.9vw;
}

.download {
  background: rgba(75, 26, 133, 0.1);
  border: 1px solid #1c023b;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  padding: 0.6vw 2vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 19px;
  cursor: pointer;
  color: #1c023b;
}

.send {
  padding: 0.6vw 2vw;
  background: #1c023b;
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 19px;
  cursor: pointer;
  color: #ffffff;
}

.progressFont strong {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  /* font-size: 1.1vw; */
  font-size: 1vw;
  /* line-height: 23px; */
  margin-top: 0.3vw;
  text-align: center;
  color: #000000;
}
.grade {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 0.7vw;
  /* line-height: 23px; */
  text-align: center;
  color: #000000;
}

.tableMain {
  width: 100%;
  margin-top: 1.1vw;
  background-color: #ffffff !important;
  border: 0.5px solid rgba(18, 18, 18, 0.3) !important;
}
.tableMainThead {
  position: relative;
}
.tableHead {
  border: 0.5px solid rgba(18, 18, 18, 0.3) !important;
}

.tableHead > th {
  padding: 1vw 0;
  text-align: center;
  width: 20%;
  border: 0.5px solid rgba(18, 18, 18, 0.3) !important;
  border-left-width: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #121212;
}
.tableBodySubject {
  width: 100%;
}
.tableBodySubject > td,
.tableBodySubject > input {
  padding: 0.9vw 0;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-size: 14px;
  line-height: 10px;
}

.tableBodySubject > td {
  width: 20%;
  color: rgba(18, 18, 18, 0.6);
  font-weight: 400;
  border: 0 solid rgba(18, 18, 18, 0.3) !important;
  border-right-width: 0.5px !important;
}
.tableBodySubject > td:last-child {
  border-left-width: 0.5px !important;
}
.tableBodySubject > input {
  box-shadow: none !important;
  font-weight: 500;
  color: #121212;
  border: none;
  border-radius: 0;
  text-decoration: underline;
  outline: none;
}

/* .tableBodySubject > td > input {
  box-shadow: none!;
  background-color: #fbfbfb;
  text-decoration: double;
  text-decoration-color: red;
} */
.tableBodyTotal {
  width: 100%;
  border: 0.5px solid rgba(18, 18, 18, 0.3) !important;
}

.tableBodyTotal > td {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 10px;
  padding: 0.9vw 0;
  text-align: center;
  border: 0 solid rgba(18, 18, 18, 0.3) !important;
  border-right-width: 0.5px !important;
  width: 20%;
  color: #121212;
}

.improvelack {
  margin-top: 1.3vw;
  min-height: 5.564vw;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.improve > span {
  font-weight: 600;
}

.improve:last-child {
  margin-top: 0.8vw;
}

.report_fail_color {
  color: rgba(238, 56, 51, 0.8) !important;
}
