.s_detail_report {
  background-color: white;
  height: 100%;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  padding: 1rem;
}
.s_detail_report_heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1rem;
  line-height: 23px;
  color: #121212;
  margin-bottom: 0;
}
.srd_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.srd_container_header {
  width: 85%;
  height: 10rem;
}
.srd_container_header > h6,
.srd_container_header_inner > h6 {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 17px;
  color: #121212;
  padding-left: 0.5rem;
  border: 1px solid black;
  border-bottom: none;
  margin: 0;
  height: 40px;
  display: flex;
  align-items: center;
}
.srd_column > h6 {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 17px;
  color: #121212;
  padding-left: 0.5rem;
  border: 1px solid black;
  border-bottom: none;
  margin: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.srd_container_header_inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.srd_container_header_inner > h6:nth-child(1) {
  border-right: none;
  width: 60%;
}
.srd_container > img {
  /* width: 15%; */
  height: 10rem;
}
.srd_column {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.srd_column > h6:nth-child(1) {
  flex: 1;
  text-align: center;
}
.srd_column > h6:nth-child(2) {
  border-right: none;
  flex: 1;
  text-align: center;
}
.srd_column > h6:nth-child(3) {
  border-right: none;
  flex: 3;
  text-align: center;
}
.srd_column > h6:nth-child(4) {
  border-right: none;
  flex: 1;
  text-align: center;
}
.srd_column > h6:nth-child(5) {
  border-right: none;
  flex: 1;
  text-align: center;
}

.srd_column > h6:nth-child(6) {
  flex: 1;
  text-align: center;
}
.srd_pre {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 17px;
  color: #121212;
  padding-left: 0.5rem;
  margin-block: 0.5rem;
}
.srd_spi_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 80px;
}
.srd_spi_container_column {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.srd_spi_container_result {
  flex: 1;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 17px;
  color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid black;
  border-bottom: none;
  border-left: none;
}

.srd_button_group {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3vw;
  align-items: center;
  height: 20%;
  margin-top: 1.9vw;
}
.srd_send {
  padding: 0.6vw 2vw;
  background: #1c023b;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1vw;
  line-height: 19px;
  cursor: pointer;
  color: #ffffff;
}
