.complaintDetails {
  width: 100%;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  min-height: 65vh;
  margin-bottom: 1vw;
}

.detailsHeader {
  border-top-left-radius: 0.4px solid rgba(0, 0, 0, 0.15);
  border-top-right-radius: 0.4px solid rgba(0, 0, 0, 0.15);
  border-bottom: 0.4px solid rgba(0, 0, 0, 0.15);
  padding: 1vw;
  display: grid;
  place-items: center;
  position: relative;
}
.detailsHeader p {
  margin-bottom: 0 !important;
}

.detailsHeader img {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 1.5vw;
  cursor: pointer;
}

.detailsBody {
  padding: 1vw;
}

.gr {
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;

  margin-top: 1vw;

  /* ----------------- */
}
.getBtn {
  width: 100%;
  background: #1c023b;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  color: white;
  margin-top: 1vw;
  padding: 0.6vw 1vw;
  border-radius: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.getBtn p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  margin-bottom: 0 !important;
  line-height: 19px;
  text-align: right;
  color: #fff;
}
.gr input {
  border: none;
  outline: none;
  width: 100%;
  padding: 0.6vw 1vw;
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: #121212;
}

.gr input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #787777;
}

.details {
  margin-top: 2vw;
}

.details2 {
  display: flex;
  justify-content: flex-start;
  gap: 2vw;
}

.details2:nth-of-type(2) {
  gap: 3vw;
}

.details2 .downloadbtn {
  width: 100%;
}

.details p,
.details2 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */
  margin-top: 1.2vw;
  color: #121212;
  margin-bottom: 0;
}

.downloadbtn {
  display: grid;
  place-items: center;
  background: #1c023b;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  /* -------------------------- */
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 19px;
  padding: 0.5vw;
  color: #ffffff;
  margin-top: 5vw;
}

.disabled {
  background: #dbd9dd;
  color: grey;
}

.errMsg {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 19px;
  color: red;
}

/* -------------------------- */

.item {
  margin-bottom: 1vw;
}
.item label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 17px;

  /* identical to box height */

  color: rgba(18, 18, 18, 0.8);
}

.options {
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  width: 100%;
}

.option {
  width: 100%;
  padding: 0.5vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: #121212;
}

.option:hover {
  background: rgba(0, 26, 114, 0.15);
}

.down {
  position: absolute;
  top: 1.3vw;
  right: 1vw;
}

.up {
  position: absolute;
  top: 1vw;
  right: 1vw;
  height: 1.35vw;
}

.selectPlayer {
  margin-top: 0.5vw;
  display: flex;
  align-items: center;
  gap: 1vw;
  cursor: pointer;
}
.selectPlayer img {
  height: 3vw;
}
.selectPlayer h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.95vw;
  line-height: 17px;

  margin-bottom: 0.3vw !important;
  color: #121212;
}
.selectPlayer p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.85vw;
  line-height: 15px;
  /* identical to box height */
  margin-bottom: 0 !important;

  color: rgba(18, 18, 18, 0.6);
}

.inputt {
  margin-top: 0.5vw;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 0.8vw;
  cursor: pointer;
  position: relative;
}
.inputt h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: #121212;
}

.greyInk {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 17px;
  /* identical to box height */

  color: #787777 !important;
}
.letter_head_container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.letter_head_container > h6 {
  color: rgba(18, 18, 18, 0.9);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

.letter_head_container > img {
  cursor: pointer;
}
