.addDisplay {
  width: 30rem;
  overflow-x: hidden;
  border-radius: 12px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #ffffff;
}

.title h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
  /* identical to box height */
  margin-bottom: 0 !important   ;
  color: #121212;
}
.title img {
  cursor: pointer;
}

.content {
  padding: 1rem;
  background: #fafafa;
  max-height: 80vh;
  overflow-y: scroll;
}
.content::-webkit-scrollbar-track {
  background-color: transparent !important;
  box-shadow: none !important;
}
.appdetailrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;

  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 0.5rem;
}

.appdetailrow h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.874rem;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: #121212;
}

.appdetailrow img {
  height: 1rem;
}

.tabsss {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  background: #e9ecf7;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 0.3rem;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.singletab {
  width: 49%;
  padding: 0.75rem 1rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  font-size: 0.75rem;
  text-align: center;

  color: rgba(18, 18, 18, 0.8);
}

.singletabActive {
  background: #ffffff;

  box-shadow: -1px 7px 5px -4px rgb(0 0 0 / 35%);
  border-radius: 0.3rem;
}

.singlerow {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: center;
}

.singlerow1 {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
}

.singlerow h6,
.singlerow1 h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 17px;
  /* identical to box height */

  text-align: right;

  color: #121212;
}

.borderr {
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.payandconfirmContainer {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.adholdcontainer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.payandconfirm {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
}

.btn {
  width: 100%;
  padding: 0.5rem;
  display: grid;
  place-items: center;

  margin-top: 1rem;
  background: #002bbe;
  border-radius: 0.25rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 15px;
  /* identical to box height, or 83% */

  color: #ffffff;
}

.processcontainer {
  display: grid;
  place-items: center;

  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 0.5rem;
}

.processhead {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 0.75rem;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}

.processheadp {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 19px;
  margin-bottom: 0 !important;
  color: #121212;
}

.processcontent {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.processol {
}

.processli {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 28px;
  /* or 200% */

  color: rgba(18, 18, 18, 0.8);
}

.confirmbtn {
  width: 100%;
  padding: 0.5rem;
  display: grid;
  place-items: center;

  margin-top: 1rem;
  background: #20b038;
  border-radius: 0.25rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 15px;
  /* identical to box height, or 83% */

  color: #ffffff;
}
