.remainingFees {
  background: #ffffff;

  width: 100%;
}

.remainingFeesBottom {
  padding: 2rem;
}

.itemsContainer {
  min-height: 60vh;
  display: flex;
  /* gap: 0.75rem; */
  gap: 1%;
  justify-content: flex-start;

  flex-wrap: wrap;
}

/* -----------BookItem-------------- */
.bookItem {
  /* width: 13rem; */
  width: 100%;
  padding: 0.75rem 1rem;
  background: #ffffff;
  border: 0.5px solid rgba(18, 18, 18, 0.12);
  box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.04);
  border-radius: 0.5rem;
  height: fit-content;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  height: 18rem;
}

.author {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 18px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #121212;
}
.bookItemImg {
  /* height: 7rem; */
  width: 70%;
  height: 6rem;
  margin-bottom: 1rem;
  object-fit: contain;
}
.bookItem > .title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  color: #121212;
}

.authorLabel {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 18px;
  /* identical to box height, or 150% */

  text-align: center;

  color: rgba(18, 18, 18, 0.5);
}

.booklang {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 18px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #f4900c;
}

.status {
  border-radius: 0.25rem;
  padding: 0.3rem;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.65rem;
  line-height: 12px;
  /* identical to box height, or 120% */

  text-align: center;

  color: #ffffff;
}

.online {
  background: #20b038;
}

.offline {
  background-color: #e95f28;
}

/* -------------Search------------------- */
.searchContainerr {
  padding: 1vw 2rem;
  border-bottom: 0.073vw solid rgba(0, 0, 0, 0.15);
  display: flex;
  gap: 2%;
}

.searchContainer {
  width: 79%;
  height: 2.782vw;
  background-color: #ffffff;
  border: 0.029vw solid rgba(0, 0, 0, 0.15);
  box-shadow: 0.073vw 0.146vw 2.343vw rgba(0, 0, 0, 0.04);
  border-radius: 0.439vw;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  /* margin: -1.025vw 7.028vw 3.148vw 7.028vw; */
}
.searchContainer input,
.searchContainer input:focus {
  outline: none;
  width: 100%;
  height: 2.5vw;
  border: none;
  margin-left: 0.073vw;
  padding-left: 3.075vw;
  margin-bottom: 0;
}

.searchContainer > img {
  position: absolute;
  margin-left: 0.878vw;
}

.newBtn {
  padding: 0.6vw;
  display: grid;
  place-items: center;
  background: #001a72;
  border-radius: 0.293vw;
  width: 19%;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 19px;

  color: #ffffff;
}

.loader {
  display: grid;
  place-items: center;
  width: 100%;
}

.loader > img {
  height: 4rem;
}

.noData > img {
  width: 100%;
}
.noData {
  display: grid;
  place-items: center;
  width: 100%;
}

.itemref {
  /* width: 13rem; */
  width: 24%;
}
