/* .labelContainer {
  margin: 1.5vw 7.028vw 0 7.028vw;
} */
.label {
  width: 100% !important;
}
.label label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 0.9vw !important;
  line-height: 17px !important;
  margin-bottom: 0.3vw !important;
  color: rgba(18, 18, 18, 0.5) !important;
}

.inputBox {
  margin-top: 0.378vw !important;
}
.inputBox,
.inputBox input,
.inputBox select {
  min-width: 14vw !important;
  height: 2.441vw !important;
  background-color: #ffffff !important;
}

.inputBox input,
.inputBox select {
  padding-left: 0.498vw !important;
  border: 0.037vw solid rgba(0, 0, 0, 0.12) !important;
  /* box-shadow: 0.073vw 0.146vw 2.343vw rgba(0, 0, 0, 0.05); */
  box-shadow: none !important;

  border-radius: 0.439vw !important;
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 0.9vw !important;
  line-height: 17px !important;
  color: rgba(18, 18, 18, 0.9) !important;
}

.inputBox input:focus,
.inputBox select:focus {
  outline: none !important;
}
