.addDisplay {
  width: 400px;

  background: #fafafa;
  border-radius: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #1c023b;
  color: white;
  padding: 1vw;
  align-items: center;
}
.header img {
  cursor: pointer;
}

.searchContainerr {
  padding: 1.5vw 0.955vw;
  border-bottom: 0.073vw solid rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
}

.searchContainer {
  width: 90%;
  height: 2.282vw;
  background-color: #ffffff;
  border: 0.5px solid #cacaca;
  box-shadow: 0.073vw 0.146vw 2.343vw rgba(0, 0, 0, 0.04);
  border-radius: 0.439vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: -1.025vw 7.028vw 3.148vw 7.028vw; */
}
.searchContainerrRight {
  flex: 1;
  display: flex;
  justify-content: center;
}
.searchContainerrRight img {
  cursor: pointer;
}
.searchContainer .searchInput,
.searchContainer .searchInput:focus {
  outline: none;
  width: 95%;
  height: 2.1vw;
  border: none;
  margin-left: 15px;
  padding-left: 3.075vw;
}

.searchContainer > img {
  position: absolute;
  margin-left: 0.878vw !important;
}

.item {
  background-color: white;
  padding: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.subItem {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.item img {
  height: 2.8vw;
  width: 2.8vw;
  border-radius: 50%;
}

.itemtext {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0vw;
}

.itemtext h6 {
  margin-top: -5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 20px;
  color: #121212;
  margin-bottom: 0.3vw;
}

.itemtext p {
  margin-bottom: 0 !important;
  margin-top: -5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 20px;
  color: rgba(18, 18, 18, 0.6);
}
.items {
  margin-top: 0.5vw;
  border-radius: 6px;
  flex: 1;
  /* height: 50vh; */
  /* overflow-y: scroll; */
}
.items::-webkit-scrollbar {
  width: 4px !important;
}

.items::-webkit-scrollbar-track {
  background-color: transparent !important;
  box-shadow: none !important;
}

.itemsrow {
  height: 38vh;

  overflow-y: scroll;
}

.counts {
  display: flex;
  justify-content: space-between;
  padding: 1vw 2vw;
}

.counts p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: #121212;
}

.checkbox {
  height: 20px !important;
  cursor: pointer;
  border-radius: 0 !important;
}

.addDisplayTop {
  display: flex;
  justify-content: space-between;
  padding: 1.2vw;
}

.footer {
  padding: 1.5vw;
}

.btn {
  width: 100%;
  padding: 0.4vw;
  display: grid;
  place-items: center;
  background: #1c023b;
  border-radius: 0.439vw;
  color: #ffffff;
  cursor: pointer;
}
/* ---------------------------------------- */

.assignmentDetail {
  width: 100%;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
  min-height: 85vh;
}

.assignmentDetailTop {
  padding: 1vw 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}

.assignmentDetailTop img {
  height: 1.5vw;
  cursor: pointer;
}

.assignmentDetailTop h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 19px;

  color: rgba(18, 18, 18, 0.9);
}

.status {
  height: 1.4vw !important;
}

.statuscontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5vw;
}

.statuscontainer p {
  font-size: 0.9vw;
}

.itemm {
  padding: 1vw 2vw;
}

.itemm:hover {
  background-color: #fafafa;
}
