.sidebar {
  height: 84vh;
  position: sticky;
  top: 80px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
}

.sidebarheader {
  background: white;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
  color: black;
  padding: 1vw;
  display: flex;
  gap: 1vw;
  width: 100%;
  cursor: pointer;
}
.sidebarheader img {
  height: 2.8vw;
  width: 2.8vw;
  border-radius: 50%;
}

.item {
  background-color: white;
  padding: 1vw;
  display: flex;
  gap: 1vw;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.item img {
  height: 2.8vw;
  width: 2.8vw;
  border-radius: 50%;
}

.text {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5vw;
}

.itemtext {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5vw;
}
.insName {
  height: 1.04vw;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.insUserName {
  height: 0.9vw;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.text h6 {
  margin-top: -5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #121212;
}

.itemtext h6 {
  margin-top: -5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 20px;
  color: #121212;
}

.text p {
  margin-bottom: 0 !important;
  margin-top: -5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75vw;
  line-height: 20px;
  /* identical to box height */

  color: #121212;
}

.itemtext p {
  margin-bottom: 0 !important;
  margin-top: -5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75vw;
  line-height: 20px;
  color: rgba(18, 18, 18, 0.6);
}
.items {
  margin-top: 0.5vw;
  border-radius: 6px;
  flex: 1;
  overflow-y: scroll;
}

.time {
  position: absolute;
  top: 1vw;
  right: 1vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75vw;
  line-height: 0.9vw;
  /* identical to box height, or 128% */

  text-align: right;

  color: rgba(18, 18, 18, 0.6);
}

.sidebarheader2 {
  background-color: #1c023b;
  padding: 1vw;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.75rem;
}

.sidebarheader2 h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: rgba(255, 255, 255, 0.8);
}
.sidebarheader2 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #ffffff;
}

.list {
  width: 100%;
  margin-top: 1vw;
}

.list .options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.9vw;
  padding-left: 2vw;
  cursor: pointer;
  gap: 0.8vw;
  user-select: none;
}
.options img {
  margin-top: -1.2vw;
  height: 2vw;
}
.imgDark {
  display: none;
}
.options p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8vw;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: rgba(18, 18, 18, 0.6);
}
.options:hover {
  background: rgba(75, 26, 133, 0.1);
  border-left: 3px solid #1c023b;
}
.options:hover .img {
  display: none;
}
.options:hover .imgDark {
  display: block;
}

.borderLeft {
  background: rgba(75, 26, 133, 0.1);
  border-left: 3px solid #1c023b;
}

.sidebarback {
  background-color: #1c023b;
  color: #fff;

  padding: 0.9rem 1.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  height: 3rem;
}

.sidebarbackflex {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}
.sidebarback img {
  height: 1.15rem;
}

.sidebarback h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.318vw;
  line-height: 22px;
  /* identical to box height */
  margin-bottom: 0;
  color: #ffffff;
}
