.StaffRequestContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vw;
}

.requestBtn {
  width: 49%;
  background-color: rgba(28, 2, 59, 1);
  padding: 0.5vw 1.5vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.391vw;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.439vw;
  cursor: pointer;
  padding-left: 18px;
  padding-right: 18px;
}
