.aboutContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 4%;
}

/* --------------Member Item------------------- */

.memberItem,
.sportsMemberItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  height: fit-content;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 0.5rem;

  padding: 0.75rem 2rem;
  cursor: pointer;
}

.sportsMemberItem {
  width: 100%;
}
.itemref {
  width: 48%;
}

.classTeacherItem {
  width: 48% !important;
}

.issuedBookItemMidleft {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.memberItem:hover {
  background: rgba(50, 71, 141, 0.15);
}

.imgcontainer {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  /* border: 0.2px solid rgba(0, 0, 0, 0.15); */
}

.imgcontainer > img {
  height: 95%;
  width: 95%;
  border-radius: 50%;
}

.issuedBookItemMidright > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0.3rem;
  color: #121212;
}

.issuedBookItemMidright > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: rgba(18, 18, 18, 0.5);
}

.textalign > p,
.textalign > h6 {
  text-align: right !important;
}

.loader {
  display: grid;
  place-items: center;
  width: 100%;
}

.loader > img {
  height: 4rem;
}

.noData > img {
  width: 100%;
}
.noData {
  display: grid;
  place-items: center;
  width: 100%;
}
.query_btn,
.query_btn:focus {
  width: 97px;
  height: 32px;
  border-radius: 2px;
  background: #002bbe;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  outline: transparent;
}
