.student_fees_header_container {
  width: 90%;
  min-height: 140px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  padding: 0.7rem 1rem;
  font-family: "Inter";
  font-style: normal;
  filter: drop-shadow(0px 4px 4px #002bbe);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.student_fees_header_column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.student_fees_row_amount {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.student_fees_row_amount > h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #008000;
  margin-bottom: 0.2rem;
}
.student_fees_row_amount > h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
  margin-bottom: 0;
}
.student_fees_row_amount > div {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: rgba(18, 18, 18, 0.7);
}
.student_fees_btn_container {
  width: 172px;
  height: 50px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.6);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  padding: 0.9rem 1rem;
  font-family: "Inter";
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(18, 18, 18, 0.25));
}
.student_fees_btn_container > h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
  margin-bottom: 0;
}
.student_fees_btn_container > img {
  width: 22px;
  height: 13px;
  transform: rotate(90deg);
}
.student_fees_btn_container_active,
.student_fees_btn_container:hover {
  filter: drop-shadow(0px 4px 4px #436dfa);
}
.student_alll_fees_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.student_admission_fees_container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8%;
  padding: 1.2rem;
}
.student_internal_card {
  width: 46%;
  height: 142px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  font-family: "Inter";
  font-style: normal;
  padding: 1rem 0 0 0;
  position: relative;
  margin-bottom: 2rem;
}

.student_internal_card > h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #121212;
  margin: 0 1.7rem 0.5rem 1.7rem;
}
.student_internal_card > h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
  margin: 0 1.7rem 0.5rem 1.7rem;
}
.student_internal_card > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #121212;
  margin: 0 1.7rem 0.5rem 1.7rem;
}
.student_internal_card_btn_pay,
.student_internal_card_btn_pay:focus {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 41px;
  background: #002bbe;
  border-radius: 0px 0px 8px 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  border: none;
  outline: transparent;
}
.student_internal_card_btn_paid,
.student_internal_card_btn_paid:focus {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 41px;
  background: #def3e1;
  border-radius: 0px 0px 8px 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #008000;
  border: none;
  outline: transparent;
}
.student_internal_card > img {
  position: absolute;
  right: 4%;
  top: 8%;
  cursor: pointer;
  width: 18px;
  height: 20px;
}
