.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.757vw;
  min-height: 77vh;
  padding-bottom: 1vw;
}

.card {
  width: 16.2vw;
  height: 20.012vw;
  background: #ffffff;
  border: 0.037vw solid #cacaca;
  border-radius: 0.439vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card p {
  margin-bottom: 0;
}
.cardImage {
  margin-top: 2.05vw;
  width: 8.492vw;
  height: 8.492vw;
  border-radius: 50%;
}
.username {
  width: 13.177vw;
  height: 1.611vw;
  margin-top: 1.757vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.318vw;
  line-height: 1.611vw;
  text-align: center;
  color: #121212;
}
.name {
  width: 15.886vw;
  height: 2.928vw;
  margin-top: 1.025vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.025vw;
  line-height: 1.464vw;
  text-align: center;
  color: #121212;
}
.unfollow {
  width: 7.54vw;
  height: 2.343vw;
  margin-top: 1.757vw;
  background-color: #1c023b;
  border-radius: 0.293vw;
  margin-bottom: 1.757vw;
  cursor: pointer;
}

.unfollowText {
  /* width: 3.734vw; */
  height: 1.611vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.878vw;
  line-height: 1.611vw;
  text-align: center;
  color: #ffffff;
  padding: 0.366vw 1.903vw;
}
