.sidebarBottom {
  /* margin-top: 1vw; */
  /* display: flex;
  flex-direction: column;
  gap: 0.5vw; */
  margin-top: 1.171vw;
  width: 19.327vw;
  height: 38.873vw;
  background-color: #ffffff;
  border: 0.037vw solid #cacaca;
  border-radius: 0.439vw;
}
