.sidebar {
  display: flex;
  flex-direction: column;
}
.sidebartop {
  /* display: flex;
  width: 200px;
  height: 400px;
  flex-direction: column;
  align-items: center;
  padding: 1vw 3vw 1vw 3vw;
  gap: 1vw;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px; */
  width: 19.327vw;
  height: 20vw;
  background-color: #ffffff;
  border: 0.037vw solid #cacaca;
  border-radius: 0.439vw;
}

.imgcontainer {
  height: 7.5vw;
  width: 7.5vw;
  margin: 5.645vw auto 2.343vw auto;

  /* background-color: aqua; */
}
.imgcontainer img {
  border-radius: 50%;
  height: 8.5vw;
  width: 8.5vw;
  margin-left: -0.512vw;
}
.imgedit {
  width: 2.343vw;
  height: 2.343vw;
  margin-left: 11.346vw;
  margin-top: -6.808vw;
  cursor: pointer;
}
.userContainer {
  display: flex;
  justify-content: center;
}
.username {
  max-width: 15.312vw;
  height: 1.145vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.318vw;
  line-height: 1.611vw;
  text-align: center;
  color: #121212;
}
