.tab {
  background: #efeef1;
  border: 0.4px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0.9vw 3.3vw;
  padding-bottom: 0;
  gap: 0.9vw;
  cursor: pointer;
  height: 100%;
}

.imgdark {
  display: none;
}

.tab p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.8);
}

.tab img {
  height: 1.6vw;
  margin-top: -1vw;
}
/* .tab:hover {
  background: #420789;
  border: 0.4px solid rgba(0, 0, 0, 0.1);
  color: white;
} */

/* .tab:hover p {
  color: white;
} */

/* .tab:hover img {
  display: none;
}

.tab:hover .imgdark {
  display: block;
} */

.tabBackground {
  background: #420789;
  border: 0.4px solid rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  align-items: center;
  padding: 0.9vw 3.3vw;
  padding-bottom: 0;
  gap: 0.9vw;
  cursor: pointer;
}

.tabBackground p {
  font-weight: 600;
  font-size: 1vw;
}

.tabBackground img {
  height: 1.6vw;
  margin-top: -1vw;
}
