.admission_application_container {
  width: 100%;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
  padding-bottom: 2vw;
  min-height: 75vh;
  padding: 1rem;
}
.moderator_container_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.with_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.with_search > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(18, 18, 18, 0.9);
  margin-bottom: 0;
}
.search_container {
  margin: 0;
  display: flex;
}
.search_container_input {
  position: relative;
  display: flex;
  align-items: center;
}
.search_container_input > input,
.search_container_input > input:focus {
  min-width: 400px;
  height: 40px;
  background: #ffffff;
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  border: 0.029vw solid rgba(0, 0, 0, 0.15);
  padding-left: 3.075vw;
  outline: transparent;
  margin: 0;
}
.searchIcon {
  position: absolute;
  margin-left: 1.3vw;
  width: 1.5vw;
  top: 28%;
}
.search_container_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* // OngoingApplication.mocule.css  */
.remainingFees {
  background: #ffffff;
  width: 100%;
  min-height: 60vh;
}

.ongoing_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.3px solid rgb(222, 214, 214);
  cursor: pointer;
  padding: 1vw 2.955vw;
  border-bottom: 0.5px solid #eaeaea;
  font-family: "Inter";
  font-style: normal;
}
.ongoing_card:hover {
  background: rgba(75, 26, 133, 0.1);
}
.ongoing_card_inner {
  display: flex;
  gap: 1.5vw;
  align-items: center;
}
.ongoing_card_inner > img {
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
}
.ongoing_card_text > h6 {
  font-weight: 500;
  font-size: 1vw;
  line-height: 17px;
  margin-bottom: 0.3vw;
  color: #121212;
  text-align: left;
}
.ongoing_card_text > p {
  font-weight: 400;
  font-size: 0.878vw;
  line-height: 15px;
  text-align: left;
  color: #121212;
  margin-bottom: 0 !important;
}
.menu_icon {
  width: 1.5rem !important;
  cursor: pointer;
  position: absolute;
  right: 3%;
}
.add_new_category {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  margin: 0;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: #436dfa;
  display: grid;
  place-items: end;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

/* // new ui of all things  */
.applicant_card_container {
  padding: 0.8vw 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #eaeaea;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
}
.applicant_card_container_hover:hover,
.applicant_card_container_active {
  background: rgba(50, 71, 141, 0.15);
}
.applicant_card_inner {
  display: flex;
  gap: 1.5vw;
  align-items: center;
  width: 40%;
}
.applicant_card_inner > img {
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
}
.applicant_card_inner_info > h6 {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 17px;
  text-align: left;
  margin-bottom: 0.2rem;
  color: #121212;
}
.applicant_card_inner_info > p {
  font-weight: 400;
  font-size: 0.65rem;
  line-height: 15px;
  text-align: left;
  margin-bottom: 0 !important;
  color: #121212;
}
.applicant_card_contact {
  width: 30%;
}
.applicant_card_contact_inner {
  display: flex;
  gap: 0.35rem;
}
.applicant_card_contact_inner > img {
  height: 0.8rem;
}
.applicant_card_contact_inner > p {
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 16px;
  margin-bottom: 0.3rem !important;
  color: rgba(0, 0, 0, 0.9);
}
.application_button {
  display: flex;
  align-items: center;
  gap: 10px;
}
.selectAppBtnContainer {
  display: grid;
  place-items: center;
}
.selectBtnContainer {
  width: 30%;
  display: grid;
  place-items: center;
}
.selectBtn {
  background: #1c023b;
  border-radius: 0.3rem;
  padding: 0.45rem 1.5rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 15px;
  color: #ffffff;
}
.cancelledBtn {
  border-radius: 0.3rem;
  padding: 0.45rem 1.5rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 15px;
  cursor: pointer;
  color: #ffffff;
  background: rgba(18, 18, 18, 0.5);
}
.notConfirmedBtn {
  border: 0.805556px solid #002bbe;
  border-radius: 4px;
  padding: 0.45rem 1.5rem;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 15px;
  color: #002bbe;
}
.onlineBtn {
  border-radius: 0.3rem;
  padding: 0.45rem 1.5rem;
  cursor: pointer;
  background: #20b038;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 15px;
  color: #ffffff;
}
.cancelStatus {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600 !important;
  font-size: 0.65rem;
  line-height: 16px;
  cursor: pointer;
  color: #001a72 !important;
}

.checkbox {
  height: 20px !important;
  cursor: pointer;
  border-radius: 0 !important;
}

.back_icon {
  width: auto !important;
  height: auto !important;
  border-radius: unset !important;
}

.receipt_requested_btn {
  border-radius: 0.3rem;
  padding: 0.45rem 1.5rem;
  cursor: pointer;
  background: #b8b83e;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 15px;
  color: #ffffff;
}
/* // for not confirm  component style */
.not_confirm_container {
  padding: 1rem;
  width: 25rem;
  min-height: 10rem;
  padding: 1rem;
  font-family: "Inter";
  font-style: normal;
}

.not_confirm_container > h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #121212;
  text-align: center;
  margin-bottom: 1.3rem;
}

.applicant_profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
.applicant_profile > img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.applicant_profile_text > h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
}
.applicant_profile_text > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(18, 18, 18, 0.5);
  margin-bottom: 0 !important;
}

.button_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2%;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
.button_group > button,
.button_group > button:focus {
  height: 47px;
  border: 1px solid #001a72;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  outline: none;
}
.button_group > button:first-child {
  background: rgba(0, 26, 114, 0.15);
  color: #001a72;
  width: 49%;
}
.button_group > button:last-child {
  background: #fafafa;
  color: rgba(18, 18, 18, 0.8);
  width: 49%;
}
/* // for collect docs  component style */
.admission_collect_docs {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.admission_collect_docs > h6 {
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: #121212;
}
.admission_collect_docs > p {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: rgba(18, 18, 18, 0.8);
}
.confirm_btn,
.confirm_btn:focus {
  background: rgba(0, 26, 114, 0.15);
  border: 1px solid #001a72;
  border-radius: 0.3rem;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  color: #001a72;
  cursor: pointer;
  display: grid;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 0.4rem 1.5rem;
  place-items: center;
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  outline: transparent;
}
/* // for colelct fees style  */
.admission_modal {
  padding: 1rem;
  width: 30rem;
  max-height: 35rem;
  min-height: 10rem;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
}
.admission_modal_heading {
  text-align: center;
  margin: 0;
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-18);
  line-height: var(--line-height-17);
  color: #121212;
}
.admission_fees_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
}
.admission_fees_row > h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: rgba(18, 18, 18, 0.8);
}
/* // for select batch  */
.admission_confirm_class_card,
.admission_confirm_batch_card {
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  display: flex;
  gap: 1vw;
  align-items: center;
  padding: 0.9vw;
  margin-bottom: 0.5vw;
  cursor: pointer;
}
.admission_confirm_batch_card:hover,
.admission_confirm_class_card:hover {
  background-color: rgba(75, 26, 133, 0.1);
}

.admission_confirm_class_count {
  display: flex;
  gap: 2vw;
}
.admission_confirm_class_count > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  margin-bottom: 0;
  color: rgba(18, 18, 18, 0.8);
}

.admission_class_confirm {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0;
  color: rgba(18, 18, 18, 0.8);
}
.mulitple_select_btn {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  margin: 0;
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: #001a72;
  display: grid;
  place-items: end;
  cursor: pointer;
  margin-bottom: 0.5rem;
  margin-top: 0.3rem;
}
.end_btn {
  display: flex;
  justify-content: flex-end;
}
/* for mulitple select  */

.admission_mulit_select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
.admission_mulit_select p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 17px;
  margin-bottom: 0 !important;
  color: #121212;
}
.admission_mulit_select_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.os_reminder,
.os_reminder:focus {
  background-color: #1c023b;
  border: none;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 15px;
  color: #ffffff;
}

.os_filter_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.os_filter_container > img {
  cursor: pointer;
}
.ongoing_card_count_date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.ongoing_card_count_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.ongoing_card_count_container > h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1vw;
  line-height: 17px;
  margin-bottom: 0;
  color: #121212;
  border: 0.5px solid #cacaca;
  min-width: 60px;
  min-height: 30px;
  border-radius: 6px;
}
.applicant_card_reciept {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.applicant_card_reciept > img,
.applicant_card_reciept > a > img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.transfer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.transfer_select_btn {
  width: 88px;
  height: 33px;
  background: rgba(0, 26, 114, 0.15);
  border: 1px solid #001a72;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #001a72;
  outline: transparent;
  position: absolute;
  right: 4%;
}
