.postModal {
  width: 43.924vw;
  height: 46.047vw;
  background-color: #fafafa;
  /* display: flex; */
  border-radius: 0.878vw;
}

.horizontalLine {
  /* width: 54vw; */
  height: 0;
  border: 0.037vw solid rgba(0, 0, 0, 0.15);
  margin-bottom: 1.757vw;
}
.modalLeft {
  width: 65%;
  position: relative;
  background-color: #1d2226;
  height: 100%;
}
.postImg {
  position: relative;
  width: 43.924vw;
  height: 24.451vw;
  background-color: #f5f5f5;
}
.postImg img {
  width: 100% !important;
  height: 100%;
  /* object-fit: contain; */
}
.modalIndex {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 2vw;
  margin-top: 1vw;
  margin-bottom: 0 !important;
  color: #fff !important;
}

.modalLeft img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.modalRight {
  width: 35%;
  padding: 1vw;
  height: 90%;
}

.rightTop {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.imgcontainer2 {
  width: 2.5vw;
  height: 2.5vw;
  cursor: pointer;
  border: 0.3px solid rgb(219, 211, 211);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.imgcontainer2 img {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  margin-left: 0.2vw;
}

.eachpostUserName {
  margin-top: 1vw;
  cursor: pointer;
}

.eachpostUserName img {
  margin-top: -1vw;
  cursor: pointer;
}

.eachpostUserName h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  cursor: pointer;
  color: #121212;
  margin-bottom: 0.1vw !important;
}

.eachpostUserName p {
  font-size: 0.82vw;
}

.textSection {
  overflow-y: scroll;
  height: 100%;
}

.textSection::-webkit-scrollbar {
  width: 0;
}

.postText {
  word-wrap: break-word;
  padding-left: 0.9vw;
  padding-right: 0.9vw;
}
.textDes {
  font-weight: 400 !important;
  font-size: 1vw !important;
}
.postText p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;
  letter-spacing: -0.025em;
  color: #292929;
}

@media only screen and (max-width: 1024px) {
  .eachpostUserName img {
    margin-top: -1.5vw;
  }

  .eachpostUserName h6 {
    margin-bottom: 5px !important;
    font-size: 1.15vw;
  }

  .postText p {
    font-size: 1.2vw;
  }
}

/* ----------------------------- */

.postModalTop {
  padding: 1.5vw;
  display: flex;
  justify-content: space-between;
  /* border-bottom: 0.3px solid rgb(169, 160, 160); */
}

.postModalTop img {
  cursor: pointer;
}

.imgcontainer {
  width: 43.924vw;
  height: 24.451vw;
}

.postModalImg {
  width: 43.924vw;
  height: 24.451vw;
}

.anndoc {
  width: 43.924vw;
  height: 24.451vw;
  position: relative;
}

.anndoc img {
  width: 43.924vw;
  height: 24.451vw;
}

.commentSection {
  position: relative;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  margin-top: 1.3vw;

  /* background-color: red; */
}

.commentSection img {
  cursor: pointer;
}

.postbttn {
  position: absolute;
  /* top: 1vw; */

  right: 2.5vw;
}

.commentSection input {
  padding-right: 5.9vw !important;
}

@media only screen and (max-width: 1200px) {
  .postModal {
    width: 55vw;
    height: 50vw;
  }

  .commentSection {
    margin-top: 1.5vw;
  }
  .commentSection input {
    padding-right: 6.8vw !important;
  }
}
