.css-aq8pb7-MuiSvgIcon-root {
  width: 0.7em !important;
  height: 0.7em !important;
}
.css-d4n4tp {
  width: 0.7em !important;
  height: 0.7em !important;
}
.commentSection {
  position: relative;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100% !important;
}

.css-i44wyl {
  min-width: 38.9vw !important;
}
