.item {
  width: 100%;
  display: flex;
  gap: 5%;
  align-items: center;
  cursor: pointer;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 2rem 2rem;
}

.item p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: #121212;
}
.itemIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 10vw;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  gap: 2vw;
}

.itemIcon > img {
  height: 3.5vw;
  width: 3.5vw;
}
.itemIcon:hover {
  background: rgba(75, 26, 133, 0.1);
}

.studentLibrary {
  background-color: #ffffff;
  width: 100%;
  padding-top: 1rem;
  min-height: 75vh;
}
