.addDisplay {
  width: 400px;

  background: #fafafa;
  border-radius: 12px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
}

.fundinput {
  width: 100%;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 6px 25px;
  outline: none;
  /* ------------------ */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 17px;
  /* identical to box height */
  height: 50px;
  color: rgba(18, 18, 18, 0.5);
}

.fundinput > input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  /* identical to box height */
  margin-top: -0.3vw;
  color: #a0a0a0;
}

.content {
  padding: 2rem;
}

.btn {
  width: 100%;
  padding: 5px;
  display: grid;
  place-items: center;
  background: rgba(75, 26, 133, 0.1);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  margin-top: 5rem;
}

.activeBttn {
  background: #1c023b !important;
  color: #fff !important;
  cursor: pointer;
}

.input {
  margin-bottom: 1vw;
}

.input h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height */

  color: #121212;
}
