.mainContainer {
  width: 61.493vw;
  margin-top: -2.57vw;
  margin-bottom: 1vw;
  min-height: 32.943vw;
  background-color: #ffffff;
  border: 0.037vw solid #cacaca;
  border-radius: 0.439vw;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
}
.mainContainer p {
  margin-bottom: 0;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 3.953vw;
  margin-left: 7.028vw;
  margin-right: 7.028vw;
}
.headLeftTab {
  height: 1.245vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.025vw;
  line-height: 1.245vw;
  color: #121212;
  cursor: pointer;
}
.headRightTab {
  height: 1.245vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.025vw;
  line-height: 1.245vw;
  color: #436dfa;
  cursor: pointer;
}

.borderBottom {
  width: 61.493vw;
  height: 0;
  border: 0.037vw solid rgba(0, 0, 0, 0.15);
}

.main {
  width: 47.438vw;
  /* for one scroll */
  /* height: 18.009vw; */
  min-height: 26.009vw;
  margin: 2.489vw auto;
  /* overflow-x: hidden;
  overflow-y: auto; */
}
.oneRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 2.489vw;
  padding-right: 2.489vw;
}
.oneRowLeft {
  display: flex;
  align-items: center;
}

/* .oneRowImage {
  /* background-color: rgba(18, 18, 18, 0.6); */
/* } */
.oneRowText {
  width: 6.296vw;
  height: 1.245vw;
  margin-left: 1.611vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.245vw;
  line-height: 1.245vw;
  color: rgba(18, 18, 18, 0.8);
}
.oneRowRight {
  width: 1.757vw;
  height: 1.757vw;
}
.borderBottom1 {
  margin-top: 1.171vw;
  width: 47.438vw;
  height: 0px;
  border: 0.037vw solid rgba(0, 0, 0, 0.15);
  margin-bottom: 1.245vw !important;
}
