.oneRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 2.489vw;
  padding-right: 2.489vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  position: relative;
}
.oneRowLeft {
  display: flex;
  align-items: center;
}

.oneRowText {
  height: 1.245vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.245vw;
  line-height: 1.245vw;
  color: rgba(18, 18, 18, 0.8);
}
.oneRowRight {
  height: 1.757vw;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.oneRowRight > img {
  cursor: pointer;
}

.borderBottom1 {
  width: 47.438vw;
  height: 0px;
  border: 0.037vw solid rgba(0, 0, 0, 0.15);
  margin-bottom: 1.2vw !important;
}

.date {
  display: flex;
  margin-left: 1.611vw;
  flex-direction: column;
}

.dateText {
  height: 1.245vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 0.88vw;
  line-height: 1.245vw;
  color: rgba(18, 18, 18, 0.8);
}

.activeBatch {
  background-color: rgb(226, 229, 232);
  cursor: pointer;
  border-radius: 3px;
}
