.adminDrawer {
  width: 40vw;
}

.dheader {
  padding: 1.5vw;
  background-color: #1c023b;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
}
