.examListheader {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 19px;
  margin-top: 0.2vw;
  margin-bottom: 0 !important;
  color: #121212;
}

.examListItems {
  margin-top: 1vw;

  min-height: 54vh;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  /* overflow-y: scroll; */
}

.sidebarheader {
  background: white;
  border-radius: 6px;
  color: #1c023b;
  padding: 1vw;
  display: flex;
  gap: 1vw;
  width: 100%;
  margin-top: 0.3vw;
  cursor: pointer;
  margin-bottom: 8px;
}
.sidebarheader img {
  height: 2.7vw;
  width: 2.7vw;
  border-radius: 50%;
}

.text {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5vw;
}

.text h6,
.date h6 {
  margin-top: -5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 20px;
  /* identical to box height, or 143% */
  margin-bottom: 0 !important;

  color: #1c023b;
}

.text p,
.date p {
  margin-bottom: 0 !important;
  margin-top: -5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75vw;
  line-height: 20px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.6);
}

.date p {
  margin-top: 0.2vw;
}
.date h6,
.date p {
  text-align: right;
}

.dates {
  display: flex;
  gap: 0.1vw;
  align-items: center;
}

.dates h6 {
  margin-bottom: 0 !important;
  margin-top: 0.15rem;
}
.insName p {
  margin-top: 0.15rem;
  margin-left: 0.3vw;
}

.insName {
  display: flex;
}
