.addDisplay {
  width: 500px;

  background: #fafafa;
  border-radius: 12px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}

.title img {
  cursor: pointer;
}

.body {
  padding-top: 30px;
  padding: 2rem;
}

.footer {
  padding: 2rem;
  display: grid;
  place-items: center;
}

.body input {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: none;
}

.btn {
  width: 100%;
  background: #20b038;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  display: grid;
  place-items: center;
  padding: 8px;
  margin-top: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  cursor: pointer;
  color: #ffffff;
}

.footerdisabled {
  cursor: no-drop !important;
}

/* ---------------------------- */

.confirmMark {
  width: 100%;
  background: #fafafa;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 1.5rem;
  border: 0.1px solid rgb(225, 214, 214);
}
.confirmMark > h5 {
  text-align: center;
}
.marktabs {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.condirmtab {
  background-color: #7ede7e;
  color: #121212;
  padding: 0.25rem 0.75rem;
  display: grid;
  border-radius: 0.3rem;
  place-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 24px;
  cursor: pointer;
  color: #121212;
}

.canceltab {
  background-color: transparent;
  color: #e67676;
  border: 0.1rem solid #e67676;
  border-radius: 0.3rem;
  padding: 0.25rem 0.75rem;
  display: grid;
  place-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 24px;
  cursor: pointer;
}
