.bottomDiv {
  width: 61.493vw;
  height: 4.003vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 0.037vw solid rgba(18, 18, 18, 0.15);
  padding-left: 2.782vw;
  padding-right: 1.83vw;
}
.bottomOneItem > p {
  margin: 0;
}
.bottomOneItem {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bottomOneItemActive {
  padding: 0.878vw 1.464vw;
  background: rgba(75, 26, 133, 0.1);
}
.bottomCount {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.1vw;
  line-height: 1.977vw;
  color: #121212;
  margin-bottom: 0 !important;
}
.bottomText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.852vw;
  line-height: 1.171vw;
  color: #121212;
  margin-bottom: 0 !important;
}
