.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 15;
  background-color: white;
}
.search_tab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.2% 8.5%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 77px;
  z-index: 14;
  background-color: white;
  /* border-top: 0.5px solid rgba(0, 0, 0, 0.15); */
}

.search_tab_each,
.search_tab_each_active,
.search_card_list_container > section {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.search_tab_each,
.search_tab_each_active {
  margin: 13.5px 24px 13.5px 0;
  padding: 8px 10px;
  background: #ffffff;
  border: 1px solid #434242;
  border-radius: 25px;
  cursor: pointer;
  opacity: 0.9;
  color: rgba(18, 18, 18, 0.8);
}

.search_tab_each:hover,
.search_tab_each_active {
  opacity: 1;
}

.search_card_list_container {
  width: 480px;
  min-height: 460px;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  box-shadow: -2px 0px 12px rgba(0, 0, 0, 0.15),
    2px 4px 12px rgba(0, 0, 0, 0.15);
  margin: 15px 8.5%;
  padding: 12px 1.5vw;
  /* overflow-x: hidden;
  scroll-behavior: smooth; */
}

.search_card_list_container > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
