.staffAttendence {
  margin: 1vw;
  display: flex;
  width: 100%;
}

.calendar {
  width: 65%;
  /* height: 55vh; */
  padding: 1vw;

  background: #ffffff;
  border: 0.477503px solid rgba(0, 0, 0, 0.12);
  border-radius: 8.21751px;
}

.arrColors {
  display: flex;
  gap: 1vw;
  justify-content: center;
  border-top: 0.4px solid rgb(233, 222, 222);
  padding-top: 1vw;
}

.colours {
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
}
.colours div {
  margin-top: 1vw;
}
.clr {
  margin-top: 0.5vw;
  border: 0.477503px solid rgba(0, 0, 0, 0.12);
  border-radius: 8.21751px;
  width: 5vw;
  height: 2vw;
  display: grid;
  place-items: center;
  /* ---------- */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 16px;
  text-align: center;
}
.present {
  background-color: rgb(115, 228, 115) !important;
  border-radius: 6px !important;
  color: white !important;
}
.absent {
  background-color: #ee3833 !important;
  border-radius: 6px !important;
  color: white !important;
}
.holiday {
  background-color: #002bbe !important;
  border-radius: 6px !important;
  color: white !important;
}

.leave {
  background-color: #ffc107 !important;
  border-radius: 6px !important;
  color: white !important;
}

.percentage {
  margin-top: 1vw;
}

.presentcount {
  background: rgba(37, 172, 74, 0.12);
  display: flex;
  justify-content: space-between;
  padding: 0.8vw 1vw;
  align-items: center;
  margin-top: 1vw;
}

.absentcount {
  background: rgba(238, 56, 51, 0.12);
  display: flex;
  justify-content: space-between;
  padding: 0.8vw 1vw;
  align-items: center;
  margin-top: 1vw;
}

.presentcount p,
.absentcount p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: #121212;
}
