.exploreParent {
  display: flex;
  margin-top: 1vw;
  justify-content: space-between;
}

.exploreChild {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.downloadBtn {
  outline: none;
  border: none;
  background-color: #f5f5f5;
}
.downloadBtn > img {
  background-color: #ffffff;
}
/* .downloadBtn {
  margin-right: 1.318vw;
} */

.searchbar {
  position: relative;
  margin-right: 2.174vw;
}
.searchbar > img {
  position: absolute;
  margin-top: -2.05vw;
  margin-left: 1.201vw;
  height: 1.35vw;
}
.searchbar > input {
  height: 42px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  width: 40.264vw;
  padding-left: 47px;
  position: relative;
  outline: none;
}
.searchinput:focus {
  outline: none !important;
  border-color: rgba(0, 0, 0, 0.15) !important;
  box-shadow: none !important;
}
/* 
.staff_settings {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  margin: 0;
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: #436dfa;
  cursor: pointer;
} */

.class_header_info_add_student {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.class_header_info_add_student > p {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
}
.class_header_info_add_student > img {
  width: 36px;
  height: 36px;
}
.class_header_info_add_student > p {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: #436dfa;
  margin-bottom: 0;
}

.upload_excel_file {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.upload_excel_file > img {
  width: 36px;
  height: 36px;
}
