.elections_container {
  display: flex;
  width: 100%;
  gap: 6%;
  min-height: 66vh;
}

.peventleft {
  width: 49%;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 0.23rem;
  margin-bottom: 1rem;
}

.peventlefttop {
  padding: 1rem;
  border-bottom: 0.5px solid #c4c4c4;
}

.peventlefttop,
.peventlefttop > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 0;
  line-height: 19px;

  color: #121212;
}
.peventleftbody {
  padding: 1rem;
}

.peventinputContainer {
  margin-bottom: 0.75rem;
}

.pollTextareah,
.switchContainerh {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 17px;
  margin-bottom: 0.3rem;
  color: rgba(18, 18, 18, 0.8);
}

.switchContainerh {
  margin-bottom: 0 !important;
}

.pollTextarea::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  color: rgba(18, 18, 18, 0.5);
}

.pollTextarea {
  width: 100%;
  padding: 1vw;
  resize: none;
  outline: none;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 0.9rem;
  line-height: 19px !important;
  color: rgba(18, 18, 18, 0.8);
}

.pollTextarea::-webkit-scrollbar {
  width: 0 !important;
}

.pollTextarea:focus {
  border: 0.5px solid rgba(0, 0, 0, 0.42) !important;
}

/* ----------------Select Classes----------------- */

.formcontent {
  background-color: #ffffff;
  min-height: 49.5vh;
  padding: 0.5vw;
  /* overflow-y: scroll; */
}

.peventlefttopflex {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: space-between;
}

.peventlefttopflexleft {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.peventlefttop img {
  height: 0.9rem;
  cursor: pointer;
}

.item {
  width: 100%;
  margin-top: 0.5rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.item .select {
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.6rem;
  cursor: pointer;
}

.select p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height */
  margin-top: 10px;

  color: rgba(18, 18, 18, 0.5);
}

.tooltip {
  position: absolute;
  top: 2.5vw;
  /* left: 15%; */
  right: 49%;
}

.selectclass {
  height: 1.2vw;
}

.selectBtn {
  padding: 0.3vw 1vw;
  background-color: #436dfa;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 19px;
  margin-top: 0.2vw;
  margin-bottom: 0 !important;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.formselect {
  position: relative;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgb(0 0 0 / 5%);
  border-radius: 0.3rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 17px;
  color: rgba(18, 18, 18, 0.8);
  padding: 0.5rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.input_border_active {
  border: 1px solid #1c023b !important;
}

.formselectactive {
  border: 0.5px solid rgba(0, 0, 0, 0.42) !important;
}

.genderh {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 17px;
  color: rgba(18, 18, 18, 0.8);
  margin-bottom: 0 !important;
}
.genderplaceholder {
  color: rgba(18, 18, 18, 0.5) !important;
}

.upIcon {
  height: 0.45rem;
  position: absolute;
  right: 0.75rem;
  top: 0.8rem;
}

.downIcon {
  height: 0.95rem;
  position: absolute;
  right: 0.75rem;
  top: 0.65rem;
}

.itemsContainer {
  height: 84vh;
  overflow-y: scroll;
  box-shadow: -1px -1px 10px rgb(0 0 0 / 2%), 1px 2px 32px rgb(0 0 0 / 2%);
  border-radius: 0.23rem;
  padding: 0.5rem;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

/* --------------Button--------------------  */
.button_main {
  width: 100%;
  min-height: 2.3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
  background: #1c023b;
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  margin: 0;
  outline: none;
  border: none;
}
.button_main:focus {
  outline: none;
}
.button_main > span {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  color: #ffffff;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
}

.peventright {
  width: 45%;
}

/* ----------------P.Event Card------------------- */
.peventCard {
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 0.7rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.peventCardtop {
  padding: 0.75rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}

.imgcontainer {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  /* border: 0.2px solid rgba(0, 0, 0, 0.15); */
}

.imgcontainer > img {
  height: 85%;
  width: 85%;
  border-radius: 50%;
}

.issuedBookItemMidright > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0.3rem;
  color: #121212;
}

.issuedBookItemMidright > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: rgba(18, 18, 18, 0.5);
}

.peventCardbottom {
  padding: 0.75rem;
}

.peventCardbottomp {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 19px;
  /* identical to box height, or 136% */
  margin-bottom: 0.3rem;
  text-transform: capitalize;

  color: rgba(18, 18, 18, 0.8);
}

.peventCardbottomp > span {
  font-weight: 500 !important;
  color: rgb(20, 20, 20) !important;
}

.viewRowh6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem !important;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.9);
}
.desh6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem !important;
  line-height: 130%;
  /* identical to box height */

  color: rgba(81, 80, 80, 0.9);
}

.viewRowp {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0.3vw !important;
  color: rgba(18, 18, 18, 0.5);
}

.viewRow {
  margin-bottom: 1.5rem;
}

.peventdetailsrighttop {
  width: 100%;
  display: flex;
  gap: 1.5%;
  padding: 1rem;
  border-bottom: 0.5px solid #c4c4c4;
}

.peventdetailsrighttopp {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.85rem;
  line-height: 15px;
  /* identical to box height, or 125% */
  margin-bottom: 0 !important;
  color: #121212;
}

.peventrightCard {
  background-color: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02), 1px 2px 32px rg;
  padding: 0 !important;
}

.participant {
  width: 63%;
}

.fees {
  width: 14%;
}

.checklist {
  width: 14%;
}

.peventdetailsrightBody {
  width: 100%;
}

.peventdetailsrightBodyItem {
  width: 100%;
  display: flex;
  gap: 1.5%;
  align-items: center;
  border-bottom: 0.5px solid #c4c4c4;
}

.peventdetailsrightBodystudent {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.75rem;
  width: 63%;
}

.peventdetailsrightBodyfees {
  width: 14%;
  display: flex;
  justify-content: center;
}

.peventdetailsrightBodyfees > img,
.peventdetailsrightBodychecklist > img {
  height: 1.2rem;
}

.peventdetailsrightBodychecklist {
  width: 14%;
  display: flex;
  justify-content: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loader {
  display: grid;
  place-items: center;
  width: 100%;
}

.loader > img {
  height: 4rem;
}

.noData > img {
  width: 100%;
}
.noData {
  display: grid;
  place-items: center;
  width: 100%;
}

.classRow {
  display: flex;
  flex-wrap: wrap;
}

.viewRowContainer {
  display: flex;
}

.updateResult {
  width: 100%;
  padding: 0.5rem;
  background-color: #1c023b;
  color: #fff;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin-top: 2rem;
  cursor: pointer;
}

.resultDeclared {
  background-color: #9183a2 !important;
  cursor: context-menu;
  color: #fff;
  margin-top: 4rem;
}
.selectPlayers {
  padding: 0.5rem;
  width: 100%;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  position: relative;
}
.selectPosition {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upIconn {
  position: absolute;
  left: 70%;
  top: 28%;
  height: 1.3rem;
}
.downIconn {
  position: absolute;
  left: 75%;
  top: 45%;
}

.selectPlayersActive {
  background-color: rgb(239, 239, 239);
}

.selectStudentItem,
.selectdStudentItem {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.75rem;
  width: 100%;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}

.selectdStudentItem {
  padding: 0 !important;

  border-bottom: none !important;
}

.selectStudentItem:hover {
  background-color: rgb(227, 221, 221);
}

.options {
  width: 100%;
  cursor: pointer;
  list-style: none;
  box-sizing: border-box;
}

.options {
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.375rem;
  width: 100%;
  max-height: 50vh;
  overflow-y: scroll;
}

.itemsContainer::-webkit-scrollbar,
.options::-webkit-scrollbar {
  width: 0.5rem !important;
}

/* Track */
.itemsContainer::-webkit-scrollbar-track,
.options::-webkit-scrollbar-track {
  background: transparent !important;
  box-shadow: none !important;
}

.itemsContainer::-webkit-scrollbar-thumb,
.options::-webkit-scrollbar-thumb {
  background: rgb(183, 181, 181) !important;
  /* border-radius: 10px; */
}
