.modalhead {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  border-bottom: 0.4px solid rgba(0, 0, 0, 0.12);
}

.modalContainer {
  width: 35rem;
}

.modalhead > img {
  height: 1rem;
  cursor: pointer;
}

.modalhead > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0;
  cursor: pointer;
  color: rgba(18, 18, 18, 0.9);
  margin-right: 3vw;
}

.modalbody {
  background-color: #fcfcfe;
  padding: 1rem;
  min-height: 60vh;
  overflow-y: scroll;
}

.modalbody::-webkit-scrollbar-track {
  background-color: transparent !important;
  box-shadow: none !important;
}

.modalbodyheader {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0;
  cursor: pointer;
  color: rgba(18, 18, 18, 0.9);
  margin-right: 3vw;

  margin-bottom: 2rem;
}

.modalItem {
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.modalItemLeft > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0.5rem;
  text-transform: capitalize;

  color: rgba(18, 18, 18, 0.9);
}

.modalItemLeft > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 15px;
  /* identical to box height */
  margin-bottom: 0.5rem;
  color: rgba(18, 18, 18, 0.5);
}

.formcontainer {
  width: 100%;
}

.rowItem {
  width: 100%;
}

.rowItem > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0.3rem;
  color: rgba(18, 18, 18, 0.8);
}

/* -------------Options-------------------- */

.options {
  width: 100%;
  cursor: pointer;
  list-style: none;
  box-sizing: border-box;
}

.options {
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.375rem;
  width: 100%;
}

.options p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 15px;

  color: #121212;
}

.option {
  width: 100%;
  padding: 0.5vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: #121212;
}

.option:hover {
  background: rgba(0, 26, 114, 0.15);
}

.inputt {
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 0.3rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 17px;
  color: rgba(18, 18, 18, 0.8);
  outline: none;
  padding: 0.65rem 0.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.selectText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;

  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: rgba(18, 18, 18, 0.5);
}

.selectTextActive {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;

  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: rgba(18, 18, 18, 0.8);
}

.arrow {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 0.5rem;
}
.arrowIcon {
  position: absolute;
  right: 0.9rem;
  top: 1.9rem;
  height: 1rem;
}

.pollTextarea {
  width: 100%;
  padding: 1vw;
  resize: none;
  outline: none;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  overflow-y: scroll;
  min-height: 5rem;
  margin-bottom: 1rem;

  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 1vw !important;
  line-height: 19px !important;
  color: #121212;
}

.pollTextarea::-webkit-scrollbar {
  width: 0 !important;
}

.profilephotocontainer {
  width: 5rem;
  height: 5rem;
  border-radius: 0.3rem;
}

.profilephotoins {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.profilephotocontainerr {
  position: relative;
  height: 100%;
  width: 100%;
}
.form_edit_icon {
  position: absolute;
  bottom: 1rem;
  left: 35%;
  height: auto;
  width: 1.5rem;
  cursor: pointer;
}

.profilephotocontainerr {
  width: 100%;
  display: flex;
  justify-content: center;
}

.imggcontainer {
  position: relative;
}

.imggcontainer {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.closeIcon {
  position: absolute;
  height: 0.75rem;
  cursor: pointer;
}
