/* ------------------------------ */

.formSelect {
  text-align: center !important;
  background-color: #1c023b !important;
  color: white !important;
  width: 100%;
  padding: 0.8vw;
  border-radius: 6px;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 1vw;
}

.formSelect:focus {
  border-color: rgb(151, 145, 145) !important;
}

.formSelect > option {
  background-color: white !important;
  color: #1c023b !important;
}

.formSelect > option:hover {
  background-color: #1c023b !important;
  color: white !important;
}

.formSelect img {
  height: 1.1rem;
}

.formSelect > h6 {
  margin-bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 17px;
  /* identical to box height */

  color: #ffffff;
}

/* ------------------------------ */
.prominentAlumnitopcontainer {
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 0.5rem;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.75vw;
}

.prominentAlumnitop {
  margin-top: 0.75vw;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.prominentAlumnitop > img {
  height: 5rem;
}

.nomargintop {
  margin-top: 0 !important;
}

.prominentAlumnitoptextright {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.prominentAlumnitoptext {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prominentAlumnitoptexth6,
.prominentAlumnitoptexth6right {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 16px;
  margin-bottom: 0.15rem;

  color: rgba(18, 18, 18, 0.9);
}

.prominentAlumnitoptexth6right {
  text-align: right;
}

.prominentAlumnitoptexth6 > span {
  color: rgba(18, 18, 18, 1);
}

.prominentAlumnitoptextp,
.prominentAlumnitoptextpright {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 18px;
  /* identical to box height, or 138% */

  color: rgba(18, 18, 18, 0.8);
}
.prominentAlumnitoptextpright {
  text-align: right;
  margin-bottom: 0 !important;
  font-size: 0.75rem !important;
}

.prominentAlumnitoptexttopr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prominentAlumnitoptextbtn {
  display: flex;
  gap: 1.5rem;
  background: #1c023b;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  align-items: center;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 17px;
  /* identical to box height */

  text-transform: capitalize;

  color: #ffffff;
}

.prominentAlumnitoptextbtn > img {
  height: 1.3rem;
}

/* --------------------------------- */

.stars {
  height: 1.5rem;
}

/* .starFive {
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 1rem solid transparent;
  border-bottom: 0.7rem solid transparent;
  border-left: 1rem solid transparent;
  transform: rotate(35deg);
}

.starFive::before {
  border-bottom: 0.8rem solid transparent;
  border-left: 0.3rem solid transparent;
  border-right: 0.3rem solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.44rem;
  left: -0.65rem;
  display: block;
  content: "";
  transform: rotate(-35deg);
}

.starFive:after {
  position: absolute;
  display: block;
  color: red;
  top: 0.03rem;
  left: -1.05rem;
  width: 0px;
  height: 0px;
  border-right: 1rem solid transparent;
  border-bottom: 0.7rem solid red;
  border-left: 1rem solid transparent;
  transform: rotate(-70deg);
  content: "";
} */

.alumnifeedbackbody {
  margin-top: 0.75vw;
}

.alumnifeedbackcardcpntainer {
  width: 50%;
}

.alumnifeedbackcard {
  position: relative;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 0.4rem;
  padding: 0.25rem 0.45rem;
  margin-bottom: 0.5rem;
}

.pollabel {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 14px;
  margin-bottom: 0.1rem;
  margin-top: 0.5rem;
  color: rgba(18, 18, 18, 0.5);
}

.pollquestion {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 20px;

  color: #121212;
}
.options {
  margin-top: 1rem;
}

.bar {
  height: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.barContainer {
  width: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  height: 2.4vw;
  margin-top: 0.5vw;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.barContainer p {
  position: absolute;
  left: 90%;
  top: 25%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  text-align: right;
  color: #121212;
}

.barContainer h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  position: absolute;
  color: #121212;
  left: 3%;
  top: 20%;
  text-align: center;
}

.menudot {
  height: 0.95rem;
  position: absolute;
  right: 0.45rem;
  top: 0.3rem;
  cursor: pointer;
}

.noData > img {
  width: 100%;
}
.noData {
  display: grid;
  place-items: center;
  width: 100%;
}
