.eventstop {
  display: flex;
}
.sportsHeadEvents {
  width: 100%;
}

.eventstopTab {
  /* width: 33.3%; */
  cursor: pointer;
  padding: 1vw;
  display: grid;
  place-items: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.5);
}

.eventBlue {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: #436dfa;
}

.activeTab {
  color: #121212 !important;
}

.eventsbody {
  width: 100%;
  padding: 1vw 1.5vw;
}

.ongoingEvents {
  padding: 1vw 6vw;
}

/* ---------------Event Card---------------------- */

.card {
  padding: 0.5vw 1vw;
  display: flex;
  align-items: center;
  gap: 1vw;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 0.3vw;
  /* padding: 0.5vw; */
  margin-bottom: 0.5vw;
}

.card .texttt {
  margin-top: 0.5vw;
}
.card img {
  height: 5vw;
  width: 5vw;
  border-radius: 0.3vw;
}

.card p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 17px;

  text-align: left;

  margin-bottom: 0.35vw;
  color: rgba(18, 18, 18, 0.8);
}

.span1 {
  font-weight: 600 !important;
  font-size: 0.9vw;
  line-height: 17px;

  text-transform: capitalize;

  color: rgba(18, 18, 18, 0.9) !important;
}

.span2 {
  font-weight: 500 !important;
  font-size: 0.9vw;
  line-height: 17px;

  text-transform: capitalize;

  color: rgba(18, 18, 18, 0.8) !important;
}

/* ---------------Members--------------- */
.memberItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw;
}
.remove {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  margin-bottom: 0.3vw !important;
  line-height: 17px;
  color: red;
  cursor: pointer;
}

.memberItem {
  display: flex;
  align-items: center;
  gap: 1vw;
  cursor: pointer;
}
.memberItem img {
  height: 3vw;
  border-radius: 50%;
}
.memberItemContainer:hover {
  background: rgba(75, 26, 133, 0.1);
}

.memberItem {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0.3vw;
  color: #121212;
}

.memberItemText h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  margin-bottom: 0.3vw !important;
  line-height: 17px;
  /* identical to box height */

  color: #121212;
}

.memberItemText p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: rgba(18, 18, 18, 0.8);
}

.searchbarContainer {
  padding: 1vw;
  flex: 1;
}

.searchbar {
  position: relative !important;
  /* margin-right: 5em; */
}
.searchbar > img {
  position: absolute;
  /* margin-top: -2.05vw;
  margin-left: 1.201vw; */
  top: 0.75vw;
  left: 0.75vw;
  height: 1.35vw;
}
.searchbar > input {
  height: 2.75vw;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  width: 100%;
  padding-left: 3vw;
  position: relative;
  outline: none;
}
.searchinput:focus {
  outline: none !important;
  border-color: rgba(0, 0, 0, 0.15) !important;
  box-shadow: none !important;
}

.loader {
  display: grid;
  place-items: center;
}

.loader img {
  height: 5vw;
}

.noData {
  display: grid;
  place-items: center;
}
