.studentProfileModal {
  height: 90vh;
  width: 35rem;
  overflow-x: hidden;
}

.heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.025vw;
  line-height: 1.245vw;
  color: #121212;
  padding: 1vw 1.5vw;
  border-bottom: 0.5px solid rgba(156, 156, 156, 0.6);
  margin-bottom: 1vw;
}

.profileDetail {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.profileDetail > img {
  width: 7.321vw;
  height: 7.321vw;
  border-radius: 50%;
  margin-left: 1.171vw;
  margin-right: 1.757vw;
}

.profileDesig {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profileDesig > p {
  margin-bottom: 0;
}
.profileName {
  min-width: 11.64vw;
  height: 1.391vw;
  margin-bottom: 0.586vw !important;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.171vw;
  line-height: 1.391vw;
  color: #121212;
}

.profileIndex,
.profileDesignation {
  min-width: 6.808vw;
  height: 1.245vw;
  margin-bottom: 0.586vw !important;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.025vw;
  line-height: 1.245vw;
  color: rgba(18, 18, 18, 0.8);
}
