.dueList {
  border: 0.5px solid #cacaca;
}

.dueListTop {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 0.5vw 1vw;
  border-bottom: 0.5px solid #cacaca;
}

.due{
  padding: 80px auto;
  text-align: center;
  color: #121212;
  letter-spacing: 1px;
}

/* .itemsContainer::-webkit-scrollbar {
  width: 4px !important;
}


.itemsContainer::-webkit-scrollbar-track {
  box-shadow: none !;
  background-color: #fff !important;
} */

.dueListTop h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: #121212;
  cursor: pointer;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 4vw;
  border-bottom: 0.3px solid rgb(229, 216, 216);
  background: #ffffff;

  /* border-radius: 6px; */
}

.itemleft {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.itemleft img {
  height: 2.5vw;
}
.itemleft h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  text-align: right;
  margin-bottom: 0.3vw;
  color: #121212;
}

.itemleft p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.85vw;
  line-height: 15px;
  /* identical to box height */
  margin-bottom: 0;
  text-align: right;
  text-align: left;
  color: rgba(18, 18, 18, 0.6);
  margin-bottom: 0 !important;
}

.itemright {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1vw;
  line-height: 17px;
  /* identical to box height */

  color: #121212;
}
