.teams {
  padding-top: 1vw;
}

.searchbarContainer {
  padding: 1vw;
}

.searchbar {
  position: relative !important;
  /* margin-right: 5em; */
}
.searchbar > img {
  position: absolute;
  /* margin-top: -2.05vw;
  margin-left: 1.201vw; */
  top: 0.85vw;
  left: 0.75vw;
  height: 1.35vw;
}
.searchbar > input {
  height: 42px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  width: 100%;
  padding-left: 47px;
  position: relative;
  outline: none;
}
.searchinput:focus {
  outline: none !important;
  border-color: rgba(0, 0, 0, 0.15) !important;
  box-shadow: none !important;
}

.membersbarContainer {
}

.member {
  padding: 1vw 1.2vw;
  display: flex;
  gap: 0.75vw;
  align-items: center;
  cursor: pointer;
}

.member:hover {
  background: rgba(75, 26, 133, 0.1);
}

.member img {
  height: 2.5vw;
  border-radius: 50%;
}

.textt h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.85vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0.3vw;
  color: #121212;
}

.textt p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.85vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0;
  color: rgba(18, 18, 18, 0.8);
}
