.staffAttendence {
  display: flex;
  width: 100%;
  background-color: #fff;
  display: flex;
  padding: 1.5rem;
}

.calendar {
  width: 55%;
  /* height: 55vh; */
  padding: 1vw;

  /* background: #ffffff; */
  border: 0.477503px solid rgba(0, 0, 0, 0.12);
  border-radius: 8.21751px;
}

.arrColors {
  display: flex;
  gap: 1vw;
  justify-content: center;
  border-top: 0.4px solid rgb(233, 222, 222);
  padding-top: 1vw;
}

.colours {
  display: flex;
  margin-top: 1.5rem;
  gap: 3vw;
  justify-content: center;
}
.colours div {
  margin-top: 1vw;
}
.clr {
  margin-top: 0.5vw;
  border: 0.477503px solid rgba(0, 0, 0, 0.12);
  border-radius: 8.21751px;
  width: 5vw;
  height: 2vw;
  display: grid;
  place-items: center;
  /* ---------- */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 16px;
  text-align: center;
}
.present {
  background-color: rgb(115, 228, 115) !important;
  border-radius: 6px !important;
  color: white !important;
}
.absent {
  background-color: #ee3833 !important;
  border-radius: 6px !important;
  color: white !important;
}
.holiday {
  background-color: #002bbe !important;
  border-radius: 6px !important;
  color: white !important;
}

.leave {
  background-color: #ffc107 !important;
  border-radius: 6px !important;
  color: white !important;
}

.percentage {
  margin-top: 1vw;
}

.presentcount {
  background: rgba(37, 172, 74, 0.12);
  display: flex;
  justify-content: space-between;
  padding: 0.8vw 1vw;
  align-items: center;
  margin-top: 1vw;
}

.absentcount {
  background: rgba(238, 56, 51, 0.12);
  display: flex;
  justify-content: space-between;
  padding: 0.8vw 1vw;
  align-items: center;
  margin-top: 1vw;
}

.presentcount p,
.absentcount p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: #121212;
}

.monthColours {
  display: flex;
  gap: 1vw;
  align-items: center;
  width: 7vw;
  cursor: pointer;
  justify-content: space-between;
}

.monthColours p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: #121212;
}

.timeTableContainer {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  padding-top: 0;
}

.loader {
  display: grid;
  place-items: center;
  width: 100%;
}

.loader > img {
  height: 4rem;
}

.noData > img {
  width: 100%;
}
.noData {
  display: grid;
  place-items: center;
  width: 100%;
}
.itemref {
  width: 100%;
}

.student_subject_container {
  width: 100%;
  min-height: 66px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-family: "Inter";
  font-style: normal;
  padding: 0.7rem 1rem;
  margin-bottom: 0.6rem;
  cursor: pointer;
}
.student_subject_container > img {
  width: 40px;
  height: 40px;
}
.student_subject_text > h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(18, 18, 18, 0.9);
  margin-bottom: 0.3rem;
}

.student_subject_text > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(18, 18, 18, 0.8);
  margin-bottom: 0.3rem !important;
}

.student_subject_container_active,
.student_subject_container:hover {
  background-color: rgba(75, 26, 133, 0.1);
}
