.exminations {
  width: 100%;
  display: flex;
  gap: 2%;
  margin-top: 1vw;
}

.examform {
  width: 54%;
}
.exmlist {
  width: 44%;
}

.sxheduleexam {
  width: 100%;
}

.exminationsContainer {
  margin-top: 1vw;
}

.gotobtn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */
  display: grid;
  place-items: center;
  cursor: pointer;
  color: #436dfa;
}

.tabsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.backh {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.05vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;

  cursor: pointer;
  color: rgba(238, 56, 51, 0.5);
}
