.incomeContainer {
  width: 100%;
}

.income {
  width: 100%;
  display: flex;
  margin-top: 1vw;
  justify-content: space-between;
}

.incomeLeft {
  width: 48%;
}

.incomeRight {
  width: 48%;
  margin-top: 0.9vw;
}

.incomeLeftt {
  width: 100%;
}

.itemsContainer {
  min-height: 57vh;
  /* overflow-y: scroll; */
}

.rcv {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8vw;
  line-height: 15px;
  /* identical to box height */
  margin-bottom: 0.2vw !important;
  text-transform: capitalize;
  color: rgba(18, 18, 18, 0.6);
}

.text h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 19px;
  text-transform: capitalize;
  color: #121212;
  margin-bottom: 0.2vw !important;
}

.btn_sticky {
  position: sticky;
  top: 93px;
  z-index: 1;
}
.btn {
  width: 100%;
  background: #1c023b;
  border-radius: 8px;
  padding: 0.6vw;
  display: grid;
  place-items: center;
  margin-top: 0.5vw;
  cursor: pointer;
}

.history {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1vw;
  line-height: 17px;
  color: #000000;
  margin-top: 1vw;
}

.incomeRightt {
  width: 100%;
}

.incomeTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1vw;
}
.incomeTop img {
  width: 25%;
  height: 3vw;
  cursor: pointer;
}

.right {
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
}

.rightHead {
  width: 100%;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: #20b038;
}

.rightHead h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  text-transform: capitalize;
  margin-bottom: 0 !important;
  color: #ffffff;
}

.rightBody {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  padding: 1vw;
  text-transform: capitalize;

  color: #121212;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rightBody h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;

  color: #121212;
}

.detail {
  width: 100%;
}

.detailTop {
  background: #1c023b;
  border-top-left-radius: 0.8vw;
  border-top-right-radius: 0.8vw;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02), 1px 2px 32px rgba;
  display: flex;
  justify-content: space-between;
  padding: 1vw;
}

.detailTopLeft p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8vw;
  line-height: 15px;
  /* identical to box height */

  text-transform: capitalize;

  color: rgba(255, 255, 255, 0.6);
}
.detailTopLeft h6 {
  cursor: pointer;
}

.detailTopLeft h6,
.detailTopMid h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 19px;
  text-transform: capitalize;
  margin-bottom: 0 !important;
  color: #ffffff;
}

.detailTopRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1vw;
  line-height: 19px;
  text-transform: capitalize;

  color: #ffffff;
}

.detailContent {
  padding: 1vw;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
}

.detailContent p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;

  color: rgba(18, 18, 18, 0.6);
}

.detailContent h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: #121212;
}

.imagediv {
  display: flex;
  gap: 1vw;
  align-items: center;
  background: #e9e9e9;
  border-radius: 6px;
  padding: 0.5vw;
}

.imagediv p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;

  color: #000000;
}

.backh {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.05vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  margin-top: 1vw;
  cursor: pointer;
  color: rgba(238, 56, 51, 0.5);
}

.invoice_number {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
}

.card_container {
  background: white;
  border-radius: 6px;
  color: #1c023b;
  padding: 1vw;
  width: 100%;
  cursor: pointer;
  position: relative;
  margin-top: 0.7vw;
}

.sidebarheader {
  display: flex;
  justify-content: space-between;
}
