.calendar {
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.calendar_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #cacaca;
}
.calendar_top > img {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}
.calendar_top > h6 {
  color: var(--t-head-color);
  font-size: var(--font-14);
  font-weight: var(--font-6);
  line-height: var(--line-15);
  margin: 0;
  cursor: pointer;
}
.calendar_days {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.7rem;
  gap: 0.5rem;
}
.calendar_days_label {
  min-width: 3rem;
  flex: 1 1 auto;
  color: var(--color-input-placeholder);
  font-size: var(--font-12);
  font-weight: var(--font-4);
  line-height: var(--line-15);
  margin: 0;
  text-align: center;
}
.calendar_days_value {
  flex: 1 1 1rem;
  color: var(--t-color);
  font-size: var(--font-12);
  font-weight: var(--font-4);
  line-height: var(--line-15);
  margin: 0;
  text-align: center;
  padding-block: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  border: 0.5px solid var(--calendar-border);
  transition: all 300ms ease-in 50ms;
}
.calendar_days_value:hover {
  border: 0.5px solid #123456;
}
.calendar_days_value_active {
  border: 0.5px solid var(--calendar-border);
}
.calendar_month {
  width: 19rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.7rem;
  gap: 0.5rem;
}
.calendar_month_value {
  min-width: 5rem;
  flex: 1 1 4rem;
  color: var(--color-input);
  font-size: var(--font-12);
  font-weight: var(--font-5);
  line-height: var(--line-15);
  margin: 0;
  text-align: center;
  background-color: buttonface;
  padding-block: 0.7rem;
  padding-inline: 0.4rem;
  border-radius: 4px;
  opacity: 0.6;
  cursor: pointer;
  transition: all 300ms ease-in 50ms;
}
.calendar_month_value:hover,
.calendar_month_value_active {
  opacity: 1;
}
