/* .competition_container {
} */

.competition_container_hr {
  margin-top: -1.35px;
  height: 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}

.backFlex {
  display: flex;
  gap: 1vw;
  justify-content: space-between;
  align-items: center;
}

.backh {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;

  cursor: pointer;
  color: rgba(238, 56, 51, 0.5);
}
