.holidaycard {
  display: flex;
  gap: 0.5rem;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  margin-bottom: 1rem;
}

.daydate {
  background: #717171;
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.daydate > h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 27px;
  margin-bottom: 0.2rem;
  color: #ffffff;
  text-align: center;
}

.daydate > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.5rem;
  line-height: 10px;
  margin-bottom: 0 !important;
  color: #ffffff;
  text-align: center;
}

.textContainer {
  padding: 0.4rem 0.75rem;
}

.textContainer > h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 0.85rem;
  line-height: 15px;
  margin-bottom: 0.25rem;
  color: #121212;
}

.textContainer > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 12px;
  margin-bottom: 0 !important;
  color: #121212;
}

.classTimetableCard {
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 0.75rem;
  padding: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.classTimetableCardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */

  text-align: right;
  text-transform: capitalize;

  color: #001a72;
}

.teacher {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 16px;

  color: #121212;
}

.subject {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 0.95rem;
  line-height: 19px;
  text-transform: capitalize;
  margin-bottom: 0.3rem;
  color: #121212;
}

.classTimetableCardBottom {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.classTimetableCardBottom > img {
  height: 1rem;
}

.classcardtext {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 16px;
  margin-bottom: 0 !important;
  color: #121212;
}
