.sports {
  width: 100%;
  padding-top: 1vw;
}

.item {
  padding: 1vw 4vw;
  display: flex;
  gap: 1vw;
  align-items: center;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.item:hover {
  background: rgba(75, 26, 133, 0.1);
}

.item p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0;
  color: #121212;
}

.eventstop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 1.5vw;
  margin-bottom: 1vw;
}

.eventstop h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  margin-bottom: 0 !important;
  line-height: 17px;
  /* identical to box height */
}

.eventBlue {
  color: #436dfa !important;
  cursor: pointer;
}

/* ---------------Event Card---------------------- */

.card {
  padding: 0.5vw 1vw;
  display: flex;
  align-items: center;
  gap: 1vw;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 0.3vw;
  /* padding: 0.5vw; */
  margin-bottom: 0.5vw;
}

.card .texttt {
  margin-top: 0.5vw;
}
.card img {
  height: 5vw;
  width: 5vw;
  border-radius: 0.3vw;
}

.card p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 17px;

  text-align: left;

  margin-bottom: 0.35vw;
  color: rgba(18, 18, 18, 0.8);
}

.span1 {
  font-weight: 600 !important;
  font-size: 0.9vw;
  line-height: 17px;

  text-transform: capitalize;

  color: rgba(18, 18, 18, 0.9) !important;
}

.span2 {
  font-weight: 500 !important;
  font-size: 0.9vw;
  line-height: 17px;

  text-transform: capitalize;

  color: rgba(18, 18, 18, 0.8) !important;
}

.eventsMid {
  padding: 1vw 1.5vw;
}

.loader {
  display: grid;
  place-items: center;
}

.loader img {
  height: 5vw;
}

.noData {
  display: grid;
  place-items: center;
}
