.title h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #121212;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.title img {
  cursor: pointer;
}

.invite {
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  width: 28vw;
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;

  color: rgba(18, 18, 18, 0.8);
}

.content a {
}
