.report {
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  width: 550px;
  padding: 2rem;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
}

.title h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #121212;
}

.submitbtn {
  border: 0.805556px solid #1c023b;
  border-radius: 3.22222px;
  display: grid;
  place-items: center;
  padding: 3px 12px;
  cursor: pointer;
}
.content {
  width: 100%;
  margin-top: 20px;
}

.content p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: rgba(18, 18, 18, 0.8);
}

.radio {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -1vw;
}

.text {
  margin-top: 4px;
}

.text,
.radio {
  margin-bottom: 5px;
}

@media only screen and (max-width: 1280px) {
}
