.postTitle {
  margin-top: 2vw;
}
.postTitle input {
  border: none;
  outline: none;
  border-bottom: 0.5px solid rgba(18, 18, 18, 0.3);
  padding-bottom: 1vw;
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 800 !important;
  font-size: 1vw !important;
  line-height: 19px !important;
  color: rgba(18, 18, 18, 0.8);
  width: 100%;
}
.postTitle input::placeholder {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 1vw !important;
  line-height: 19px !important;

  color: rgba(18, 18, 18, 0.8) !important;
}

.postDesc {
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.postTextarea::placeholder {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 1vw !important;
  line-height: 19px !important;

  color: rgba(18, 18, 18, 0.8) !important;
}

.postTextarea {
  width: 100%;
  border: none;
  resize: none;

  outline: none;
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 0.9vw !important;
  line-height: 19px !important;
  color: rgba(18, 18, 18, 0.8) !important;
}

.hashTag {
  border-bottom: 0.5px solid rgba(18, 18, 18, 0.3);
  display: flex;
  justify-content: space-between;
}

.hashTag p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */
  cursor: pointer;
  color: #436dfa;
}

.btn {
  margin-top: 5vw;
  background: #f1f1f1;
  border-radius: 6px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-bottom: 2vw;
  cursor: pointer;
  outline: none;
  border: none;
}
.btn > div {
  margin-top: 6px;
}

.upload {
  display: none;
}

.Container {
  margin-top: 2vw;
  width: 100%;
}

.selectedImg {
  width: 100% !important;
  max-height: 30vh !important;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4%;
}
.selectedImg img {
  max-height: 100% !important;
  max-width: 48% !important;
}

.upload_video {
  height: 400px;
  width: 100%;
}

.btn:hover {
  background: #1c023b;
}

.btn:hover p {
  color: white;
}

.btn p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2vw;
  line-height: 24px;
  margin-bottom: 7px;
  margin-top: 7px;

  color: rgba(18, 18, 18, 0.6);
}

.tille {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1vw;
  line-height: 19px;

  color: #000000;
}

.description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 23px;
  /* or 144% */

  color: rgba(18, 18, 18, 0.8);
}

.afterbtn {
  margin-top: 1vw;
}

.hashtag {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {
  .public {
    margin-top: -8px;
    gap: 0.7vw;
  }
  .privacyIcon {
    height: 1.3vw;
  }
  .userName h6 {
    font-size: 1.3vw;
  }
  .select select {
    font-size: 1.3vw;
    margin-top: -0.3vw;
    width: 50px;
  }
  .imgContainer {
    width: 3.5vw;
    height: 3.5vw;
  }
  .arrowIcon {
    margin-top: 1px;
  }
  .postTitle input {
    font-size: 1.1vw !important;
  }
  .hashTag p {
    font-size: 1.1vw;
  }

  .btn p {
    font-size: 1.6vw;
  }
}

@media only screen and (max-width: 920px) {
  .mainbody {
    padding: 3vh 0 0 0;
  }
  .postTitle input {
    font-size: 1.2vw !important;
  }
}

.tagList {
  width: 100%;
  z-index: 10;
  background-color: rgb(250, 249, 249);
  position: absolute;
  top: 30%;
  /* background-color: #14ab50; */
  height: 20vw;
  overflow-y: scroll;
}

.tagList::-webkit-scrollbar {
  width: 3px;
}

.border2,
.border3 {
  height: 1.6px;
  width: 1.4vw;
}

.border2 {
  background-color: #f48603;
}

.border3 {
  background-color: #14ab50;
}
