.eachComment {
  display: flex;
  align-items: center;
  gap: 1.2vw;
  width: 100%;
  margin-top: 0.2vw;
}

.imgcontainer {
  height: 2.3vw;
  width: 2.3vw;
}

.imgcontainer img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  margin-top: -15px;
}

.commentText h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.87vw;
  text-transform: lowercase;
  color: #121212;
}

.commentText p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;

  color: rgba(18, 18, 18, 0.8);
}

.likeReply {
  display: flex;
  justify-content: flex-end;
  margin-left: 9.5%;
}
.likeReply p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8vw;
  color: #436dfa;
}

.eachCommentContainer {
  position: relative;
}

.dots {
  position: absolute;
  top: 0;
  right: 0;
}

.time {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 15px;
  color: rgba(18, 18, 18, 0.5);
}
