.class_container {
  min-height: fit-content;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  padding: 0.8rem;
}
.class_container_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.class_container_text > h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(18, 18, 18, 0.8);
  margin-bottom: 0.2rem;
}
.class_container_text > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(18, 18, 18, 0.6);
  margin-bottom: 0.2rem;
}
.oneRowImage {
  width: 42px;
  height: 42px;
}
