.container {
  min-height: 30.772vw;
  background-color: #ffffff;
  border: 0.037vw solid #cacaca;
  border-radius: 0.439vw;
  margin-top: -0.586vw;
  padding-bottom: 2vw;
}

.containerhead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 7vw;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}

.containerhead h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 22px;
  /* identical to box height, or 110% */
  margin-bottom: 0 !important;
  color: #121212;
}

.containerhead img {
  cursor: pointer;
  height: 0.9rem;
}

.item {
  margin-bottom: 1vw;
  margin-top: 0.75rem;
}
.item label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.025vw;
  line-height: 1.245vw;
  color: rgba(18, 18, 18, 0.8);
}

.options {
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  width: 100%;
}

.option {
  width: 100%;
  padding: 0.5vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: #121212;
}

.option:hover {
  background: rgba(0, 26, 114, 0.15);
}

.down {
  position: absolute;
  top: 1.3vw;
  right: 1vw;
}

.up {
  position: absolute;
  top: 1vw;
  right: 1vw;
  height: 1.35vw;
}

.inputt {
  margin-top: 0.5vw;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 0.8vw;
  cursor: pointer;
  margin-bottom: 1vw;
  position: relative;
}
.inputt h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: rgb(97, 94, 94);
}

.containercontent {
  padding: 1.5vw 7.028vw 0 7.028vw;
}

.btncontainer {
  width: 100%;
  padding-top: 1rem;
}
