.goback_container {
  width: 1128px;
  margin: auto;
  margin-top: 19px;
  background-color: var(--tab-active-bg-color);
  border-radius: 6px 6px 0px 0px;
  text-decoration: none;
}

.goback_container_text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 16px 23px;
  color: var(--tab-active-color);
}
.goback_container_text_go {
  margin: 0;

  font-weight: var(--font-weight-500);
  font-size: var(--font-size-18);
  line-height: 22px;
}
.desgination_container {
  width: 1128px;
  margin: auto;
  margin-top: 19px;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
  padding-inline: 1rem;
  padding-block-end: 1rem;
}

.desgination_card_container {
  width: 100%;
  height: fit-content;
  /* border-bottom: 0.5px solid rgba(0, 0, 0, 0.15); */
  margin-top: 1rem;
}
.desgination_card_top {
  width: 100%;
  /* height: 50px; */
  /* background-color: var(--tab-active-bg-color); */
  /* border: none; */
  /* border-top-left-radius: 12px;
  border-top-right-radius: 12px; */
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
  /* filter: drop-shadow(2px 4px 32px rgba(0, 0, 0, 0.04)); */
  padding-inline: 1rem;
  padding-block: 0.5rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  min-height: 66px;
}
.desgination_card_top > h6 {
  color: gray;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.desi_card_container {
  width: 100%;
  min-height: 66px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.desi_card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 66px;
  border-bottom: 0.4px solid rgba(0, 0, 0, 0.15);
  font-family: "Inter";
  font-style: normal;
  gap: 1.5rem;
  padding: 0 1rem;
}

.desi_card > img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.desi_card_text > h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
  margin-bottom: 0.2rem;
}
.desi_card_text > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(18, 18, 18, 0.5);
  margin-bottom: 0.2rem !important;
}

/* //////// */
.department_container,
.department_container_normal {
  padding: 1rem;
  width: 100%;
  height: fit-content;
  border-bottom: 0.4px solid rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.department_container {
  cursor: pointer;
}
.department_container:hover,
.department_container_active,
.desgination_card_top:hover {
  background-color: rgba(75, 26, 133, 0.1);
}
.department_container_wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.department_container_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.department_card_image {
  height: 30px;
  width: 30px;
}
.department_card_name {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: #121212;
  margin-bottom: 0;
}
.department_checkbox {
  height: 20px;
  cursor: pointer;
  border-radius: 0;
}

.department_card_head_name {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-12);
  line-height: var(--line-height-17);
  color: rgba(18, 18, 18, 0.5);
  margin-bottom: 0;
}
.cls_container {
  padding-inline-start: 4rem;
  /* padding-inline-end: 1rem; */
}
.cls_border {
  border-bottom: 0.4px solid rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  gap: 2rem;
}
.cls_border:hover,
.cls_border_active {
  background-color: rgba(75, 26, 133, 0.1);
}

.subject_container {
  padding-inline-start: 4rem;
}
.subject_border {
  border-bottom: 0.4px solid rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  gap: 2rem;
}
.department_container_parent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.assgin_btn {
  width: fit-content;
  height: 47px;
  background: rgba(0, 26, 114, 0.15);
  border: 1px solid #001a72;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #001a72;
  padding: 15px 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.assgined_btn {
  width: fit-content;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #001a72;
  display: flex;
  align-items: center;
  justify-content: center;
}
