.idcardsContainer {
  width: 100%;
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.classes {
  width: 40.5vw;
}

.content {
  background-color: #fff;
  padding: 1vw 1.5vw;
  height: 63vh;

  width: 100%;
}

.idcards {
  width: 40.5vw;
  min-height: 63vh;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgb(0 0 0 / 2%), 1px 2px 32px rgb(0 0 0 / 2%);
  border-radius: 6px;
  padding: 2vw;
}

.idcards h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 19px;
  /* identical to box height, or 79% */

  color: #121212;
}

.item {
  margin-bottom: 2vw;
  margin-top: 3vw;
}
.item label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 17px;

  /* identical to box height */

  color: rgba(18, 18, 18, 0.8);
}

.inputt {
  margin-top: 0.5vw;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 0.8vw;
  cursor: pointer;
  margin-bottom: 1vw;
  position: relative;
}
.inputt h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: #121212;
}

.up {
  position: absolute;
  top: 1vw;
  right: 1vw;
  height: 1.35vw;
}

.down {
  position: absolute;
  top: 1.3vw;
  right: 1vw;
}

.options {
  background: #ffffff;

  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  width: 100%;
  height: 45vh;
  overflow-y: scroll;
}

.options::-webkit-scrollbar {
  width: 5px !important;
}

.options::-webkit-scrollbar-track {
  background-color: transparent !important;
  box-shadow: none !important;
}

.option {
  width: 100%;
  padding: 0.5vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: #121212;
}

.option:hover {
  background: rgba(0, 26, 114, 0.15);
}

.selectClass {
  padding: 0.75vw;
  cursor: pointer;
  background: rgba(0, 26, 114, 0.15);
  border: 1px solid #1c023b;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
}
.selectClass img {
  height: 1.2rem;
}
.selectClassleft h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 19px;
  margin-bottom: 0.3rem;
  color: #121212;
}

.selectClassleft p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0;
  color: rgba(18, 18, 18, 0.6);
}

.selectClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ----------------Right-------- */

.counts {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
}

.counts p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: #121212;
}

.items {
  margin-top: 0.5vw;
  border-radius: 6px;
  flex: 1;
  height: 90%;

  overflow-y: scroll;
}
.items::-webkit-scrollbar {
  width: 4px !important;
}

.items::-webkit-scrollbar-track {
  background-color: transparent !important;
  box-shadow: none !important;
}

.itemm {
  padding: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.subItem {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.itemm img,
.subItem img {
  height: 2.8vw;
  width: 2.8vw;
  border-radius: 50%;
}

.itemtext {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0vw;
}

.itemtext h6 {
  /* margin-top: -5px; */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 20px;
  color: #121212;
  margin-bottom: 0.3vw;
}

.itemtext p {
  margin-bottom: 0 !important;
  margin-top: -5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 20px;
  color: rgba(18, 18, 18, 0.6);
}

.checkbox {
  height: 20px !important;
  cursor: pointer;
  border-radius: 0 !important;
}

.itemsflex {
  display: grid !important;
  place-items: center !important;
}

.exportbtn {
  padding: 0.5vw;
  background: #1c023b;
  border: 1px solid #001a72;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 19px;
  cursor: pointer;
  color: #ffffff;
}

.disabledCursor {
  cursor: context-menu !important;
}

.toggle_btn {
  margin-top: 10vw;
  border: 1px solid #adaeb0;
  -webkit-box-shadow: -1px 2px 8px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 2px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 2px 8px 0px rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  padding: 0.6vw;
  border-radius: 0.3rem;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 19px;

  color: #001a72;
}

.searchContainer {
  width: 100%;
  height: 2.782vw;
  background-color: #ffffff;
  border: 0.029vw solid rgba(0, 0, 0, 0.15);
  box-shadow: 0.073vw 0.146vw 2.343vw rgba(0, 0, 0, 0.04);
  border-radius: 0.439vw;
  display: flex;
  align-items: center;
  /* margin: -1.025vw 7.028vw 3.148vw 7.028vw; */
}
.searchContainer input,
.searchContainer input:focus {
  outline: none;
  width: 100%;
  height: 2.5vw;
  border: none;
  margin-left: 0.073vw;
  padding-left: 3.075vw;
}

.searchContainer > img {
  position: absolute;
  margin-left: 0.878vw;
}
.searchContainer input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.6);
}

.searchContainer input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.6);
}

/* ---------------Toggle--------------------------- */
.toggleContainer {
  width: 100%;
  margin-top: 2vw;
  min-height: 63vh;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgb(0 0 0 / 2%), 1px 2px 32px rgb(0 0 0 / 2%);
  border-radius: 6px;
}

.form_toggle_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 18px 11px 18px;
}
.form_toggle_label {
  flex-direction: row;
  gap: 14px;
}
.form_toggle_label > span {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);

  color: #121212;
}
.form_toggle_description,
.form_toggle_label > span {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  margin: 0;
}
.form_toggle_description {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-12);
  line-height: var(--line-height-17);
  color: rgba(18, 18, 18, 0.7);
  margin-left: 56px;
}

.form_checkbox_container {
  margin-left: 4vw;
}

.backContainer {
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid rgb(220, 213, 213);
}

.backContainer > h6 {
  font-weight: 500;
  color: #121212 !important;
  font-size: 0.9rem !important;
  margin-bottom: 0 !important;
}

.backContainer > img {
  height: 1rem;
  cursor: pointer;
}

.toggles {
  padding: 1rem;
}
