.calender {
  padding: 1vw 2vw;
}

.calenderheader {
  display: flex;
  justify-content: space-between;
  padding: 0 1vw;
}
.calenderheader h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.3vw;
  line-height: 25px;
  /* identical to box height */

  /* Black */

  color: #000000;
}
.calenderheader p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.88vw;
  line-height: 25px;
  /* identical to box height */

  margin-top: -0.5vw;

  color: #000000;
}

.yearmonth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.monthbtn {
  height: 2vw;
  width: 2vw;
  background: #ffffff;
  /* Gray Light */
  display: grid;
  place-items: center;
  border: 1px solid #dddddd;
  border-radius: 5px;
  cursor: pointer;
}

.monthbtn:hover {
  background: #eae7e7;
}

.weekdays {
  margin-top: 1vw;
  display: flex;
}
.weekdays > div {
  width: calc(52vw / 7);
}
.weekdays h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 16px;
  /* identical to box height */

  text-align: center;

  /* Gray */

  color: #9c9d9f;
}

.dates {
  display: flex;
  width: 100%;

  flex-wrap: wrap;
  /* padding: 1vw; */
  margin-top: 1vw;
  justify-content: flex-start;

  /* margin-left: 1vw; */
}

.dates div {
  width: calc(21.9vw / 7);
  height: 2vw;
  margin: 0.3rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.dates div:hover {
  border: 0.2px solid grey;
  border-radius: 6px;
}

.prevDate,
.nextDate {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 16px;
  /* identical to box height */

  text-align: center;

  /* Gray */

  color: #9c9d9f;
}

.date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 16px;
  /* identical to box height */
  cursor: pointer;
  text-align: center;

  place-items: center;
  /* Gray */

  color: #000;
}
.datediv {
  height: 2vw;
  width: 2vw;
  display: grid;
  place-items: center;
}

.today {
  background-color: rgb(229, 233, 237);
  font-weight: 600;
  font-size: 1.1vw;
  /* border-radius: 6px;
    border: 0.2px solid rgb(185, 179, 179); */
}
.day {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 16px;

  text-align: center;

  color: #9c9d9f !important;
}

.in-prev-month,
.in-next-month {
  opacity: 0.5;
}

.clicked {
  border-radius: 6px;
  border: 0.2px solid rgb(185, 179, 179);
}

table,
thead,
td,
tr {
  border: none !important;
}

.clicked {
  border-radius: 6px !important;
  border: 0.2px solid rgb(185, 179, 179) !important;
}

.aaji {
  background: #ffffff !important;
  border: 1px solid #002bbe !important;
  border-radius: 8px !important;
  color: #002bbe !important;
}

.holiday {
  background-color: #002bbe !important;
  border-radius: 6px !important;
  color: white !important;
}

.present {
  background-color: rgb(115, 228, 115) !important;
  border-radius: 6px !important;
  color: white !important;
}

.absent {
  background-color: #ee3833 !important;
  border-radius: 6px !important;
  color: white !important;
}

.leave {
  background-color: #ffc107 !important;
  border-radius: 6px !important;
  color: white !important;
}
