.photoMain {
  position: relative;
  height: 6vw;
  width: 6vw;
}
.photoLabel {
  position: absolute;
  right: 1px;
  bottom: 5px;
}
.photoLabel img {
  height: 2vw !important;
  width: 2vw !important;
  cursor: pointer;
}
