.mainbody {
  display: flex;
  padding: 3vh 9.5vw 0 9vw;
  background-color: #f5f5f5;
  height: auto;
  padding-bottom: 2vh;
  gap: 1vw;
}

.sidebar {
  width: 26%;
}

.rightbody {
  width: 100%;
  position: relative;
}

.groupInfo {
  width: 40%;
}

.menu {
  border: 0.3px solid #d9d9d9;
  border-radius: 6px;
  background-color: white;
  box-shadow: -4px 0px 21px -9px rgba(0, 0, 0, 0.75);
  width: 60%;
  position: absolute;
  left: 20%;
  z-index: 20;
  max-height: 25vw;
  overflow-y: scroll;
  scroll-behavior: auto;
}

.menuItem {
  padding: 0.3vw 3vw;
  display: flex;
  justify-content: flex-start;
  gap: 1vw;
  width: 100%;
  cursor: pointer;
  margin-bottom: 0.2vw;
}

.menuTriangle {
  position: absolute;
  left: 30%;
  top: 1vw;
}

.menuItem:hover {
  background: rgba(75, 26, 133, 0.1);
}
@media only screen and (max-width: 1140px) {
  .mainbody {
    padding: 3vh 1vw 0 1vw;
  }
}

/* @media only screen and (max-width: 1024px) {
  .mainbody {
    padding: 3vh 5vw 0 5vw;
  }
} */

/* @media only screen and (max-width: 920px) {
  .mainbody {
    padding: 3vh 5vw 0 5vw;
  }
}
@media only screen and (max-width: 820px) {
  .mainbody {
    padding: 3vh 0 0 0;
  }
} */

/* ------------------Select Dropdown------------------------------- */
select:focus {
  box-shadow: none !important;
  outline: none !important;
}

.formSelect {
  position: sticky;
  top: 80px;
  z-index: 2;
  text-align: center !important;
  background-color: #1c023b !important;
  color: white !important;
  width: 100%;
  padding: 0.7vw;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.formSelect:focus {
  border-color: rgb(151, 145, 145) !important;
}

.formSelect > option {
  background-color: white !important;
  color: #1c023b !important;
}

.formSelect > option:hover {
  background-color: #1c023b !important;
  color: white !important;
}

.formSelect img {
  margin-top: -0.5vw;
}

.disabled {
  background: rgba(75, 26, 133, 0.1) !important;
  border-bottom: none;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.disabled h6 {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.45) !important;
}

.bottomborder {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.menuItemImg {
  height: 1.6rem;
}

.menuItemImgg {
  height: 1.4rem;
}
