select:focus {
  box-shadow: none !important;
  outline: none !important;
}

.form-select {
  text-align: center !important;
  background-color: #1c023b !important;
  color: white !important;
}

.form-select:focus {
  border-color: rgb(151, 145, 145) !important;
}

.form-select > option {
  background-color: white !important;
  color: #1c023b !important;
}

.form-select > option:hover {
  background-color: #1c023b !important;
  color: white !important;
}

option:hover {
  background-color: red !important;
}
