/* -------------Search------------------- */
.searchContainerr {
  padding: 1vw 2rem;
  border-bottom: 0.073vw solid rgba(0, 0, 0, 0.15);
  display: flex;
  gap: 2%;
}

.searchContainer {
  width: 79%;
  height: 2.782vw;
  background-color: #ffffff;
  border: 0.029vw solid rgba(0, 0, 0, 0.15);
  box-shadow: 0.073vw 0.146vw 2.343vw rgba(0, 0, 0, 0.04);
  border-radius: 0.439vw;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  /* margin: -1.025vw 7.028vw 3.148vw 7.028vw; */
}
.searchContainer input,
.searchContainer input:focus {
  outline: none;
  width: 100%;
  height: 2.5vw;
  border: none;
  margin-left: 0.073vw;
  padding-left: 3.075vw;
  margin-bottom: 0;
}

.searchContainer > img {
  position: absolute;
  margin-left: 0.878vw;
}

.newBtn {
  padding: 0.6vw;
  display: grid;
  place-items: center;
  background: #001a72;
  border-radius: 0.293vw;
  width: 19%;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 19px;

  color: #ffffff;
}

.remainingFees {
  background: #ffffff;

  width: 100%;
}

.remainingFeesBottom {
  padding: 2rem;
}

.itemsContainer {
  min-height: 60vh;
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.collctLogItem {
  background: #ffffff;
  width: 100%;
  border: 0.5px solid rgba(18, 18, 18, 0.12);
  box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.04);
  border-radius: 0.5rem;
  height: fit-content;

  cursor: pointer;
}

.bookItemImg {
  height: 4rem;
}

.collectLogItemTopRight {
  width: 100%;
}

.collectLogItemTopRight > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0.3rem;
  color: #121212;
}

.collectLogItemTopRight > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 18px;
  /* identical to box height, or 150% */
  margin-bottom: 0 !important;
  text-align: left;

  color: #121212;
}

.collectLogItemTop {
  padding: 0.75rem 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}

.collectLogItemTop > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0.3rem;
  color: #121212;
}
.collectLogItemTop > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 15px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: #121212;
}
.collectLogItemBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
}

.collectLogItemBottomleft > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 12px;
  margin-bottom: 0.4rem !important;
  color: #121212;
}

.collectLogItemBottomleft > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0.3rem;
  color: #121212;
}

.fullwidth {
  width: 100% !important;
}

.itemsRef {
  width: 49%;
}

.loader {
  display: grid;
  place-items: center;
  width: 100%;
}

.loader > img {
  height: 4rem;
}

.noData > img {
  width: 100%;
}
.noData {
  display: grid;
  place-items: center;
  width: 100%;
}

.disabled {
  cursor: context-menu !important;
}
