.insFund {
  width: 100%;
}

.insFundTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}

.insFundTopLeft {
  flex: 1;
  padding: 0.5vw;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  position: relative;
  cursor: pointer;
}

.insFundTopLeft img {
  position: absolute;
  height: 2vw !important;
  top: 0.5vw;
  right: 1vw;
  width: 1.3vw !important;
}
.blueTabs {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.backBtn {
  background-color: #436dfa;
  color: #ffffff;
  padding: 0.5vw 2vw;
  border-radius: 0.3vw;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.insFundTop img {
  width: 11vw;
  height: 2.75vw;
  cursor: pointer;
}
