.DModal {
  background: #fafafa;
  border-radius: 12px;
  width: 500px;
  padding: 2vw;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1px solid rgb(204, 198, 198);
  padding-bottom: 1vw;
}
.title h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #121212;
}
.input {
  margin-top: 1.5vw;
  width: 100%;
}
.input h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.8);
}
.input input {
  width: 100%;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 0.5vw;
  outline: none;
}
.title img {
  cursor: pointer;
}

.input input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.5);
}

.mid {
  width: 100%;
  margin-top: 1.7vw;
  display: flex;
  gap: 1vw;
  cursor: pointer;
}

.mid img {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
}

.text h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: #121212;
}

.text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 15px;
  color: rgba(18, 18, 18, 0.6);
}

.btn {
  width: 100%;
  background: rgba(75, 26, 133, 0.1);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4vw;
  margin-top: 3vw;
  cursor: pointer;
  outline: none;
  border: none;
}

.btn > div {
  margin-top: 10px;
}
.btn:hover {
  background-color: #1c023b;
  color: #ffffff;
}
.btn:hover p {
  color: white;
}
.btn p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 24px;
  margin-bottom: 7px;
  margin-top: 7px;
  color: rgba(18, 18, 18, 0.6);
}

.notFound {
  color: red;
}

.item {
  width: 100%;
  margin-top: 2vw;
}
.item h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.8);
}

.item .select {
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

.select p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height */
  margin-top: 10px;

  color: rgba(18, 18, 18, 0.5);
}

.tooltip {
  position: absolute;
  top: 5vw;
  right: 5vw;
}

/* ------------OPtions---------------- */

.profileToolTip {
  position: absolute;
  top: 105px;
  right: -48px;
  width: 400px;
  height: auto;
  background: white;
  z-index: 5;
  border-radius: 6px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.triangle {
  position: absolute;
  top: -10px;
  right: 3%;
  z-index: 0;
  border-bottom: 15px solid #fff;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
.triangleDisplay {
  display: none;
}

.profilelist {
  width: 100%;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profilelist div {
  list-style: none;
  width: 100%;
  padding: 8px;
  padding-left: 20px;
  cursor: pointer;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.8);
}

.profilelist div:hover {
  background: rgba(75, 26, 133, 0.1);
}

.input {
  margin-top: 30px;
  width: 100%;
}
.input h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.8);
}
.input input {
  width: 100%;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 0.5vw;
  outline: none;
  padding-left: 1vw;
}

.input input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.5);
}

.mid {
  width: 100%;
  margin-top: 1.7vw;
  display: flex;
  gap: 1vw;
}

.mid img {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
}

.text h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #121212;
}

.text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.6);
}

@media only screen and (max-width: 1140px) {
  .profileToolTip {
    top: 105px;
    right: -38px;
  }
}

@media only screen and (max-width: 1024px) {
  .profileToolTip {
    top: 105px;
    right: -25px;
  }
}
