* {
  user-select: none;
}

.studentMCQTop {
  padding: 1vw 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.examName {
  background: #436dfa;
  padding: 0.5vw 2vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.15vw;
  line-height: 22px;
  /* identical to box height */
  margin-bottom: 0;
  text-align: center;
  border-radius: 0.25vw;

  color: #ffffff;
}

.examTime {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  margin-bottom: 0;
  color: #ff8f28;
}

.studentMCQTop2 {
  padding: 0.3vw 2vw;
  background-color: rgb(241 238 238);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subNamep {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 01vw;
  line-height: 19px;
  text-transform: capitalize;
  margin-bottom: 0 !important;
  color: rgba(18, 18, 18, 0.8);
}

.subImg {
  height: 2vw;
  cursor: pointer;
}

.studentMCQBody {
  display: flex;
}

.studentMCQBodyLeft {
  width: 75%;
  padding: 1vw 2vw;
  height: 85vh;
  overflow-y: scroll;
}

.studentMCQBodyRight {
  width: 25%;
  border: 0.2vw solid grey;
}
.studentMCQProfile {
  display: flex;
  border-bottom: 0.2vw solid grey;
}

.studentMCQProfileLeft {
  display: grid;
  place-items: center;
}

.studentMCQProfileLeft img {
  height: 8vw;
}

.studentMCQProfileRight {
  padding: 1vw;
}

.studentMCQProfileRighth6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1vw;
  line-height: 19px;
  text-transform: capitalize;

  color: #121212;
}

.studentMCQProfileRighthp {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 19px;
  text-transform: capitalize;

  color: #121212;
}

.studentMCQButtons {
  padding: 1vw;
  display: flex;
  gap: 2vw;
  flex-wrap: wrap;
  height: 67vh;
  overflow-y: scroll;
}

.studentMCQButtons::-webkit-scrollbar,
.studentMCQBodyLeft::-webkit-scrollbar {
  width: 4px !important;
}

.studentMCQButtons::-webkit-scrollbar-track,
.studentMCQBodyLeft::-webkit-scrollbar-track {
  background-color: transparent !important;
  box-shadow: none !important;
}

.qButton {
  width: 2.003vw;
  height: 2.003vw;
  border-radius: 50%;
  background: #eaeaea;
  border: 0.037vw solid rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
  cursor: pointer;
}

.qButtonActive {
  width: 2.003vw;
  height: 2.003vw;
  border-radius: 50%;
  background: #20b038;
  border: 0.037vw solid rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
  cursor: pointer;
  color: #fff;
}

.qButtonActiveBlue {
  width: 2.003vw;
  height: 2.003vw;
  border-radius: 50%;
  background: #436dfa;
  border: 0.037vw solid rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
  cursor: pointer;
  color: #fff;
}
.qTop {
  display: flex;
  justify-content: space-between;
}

.qtext {
  margin-top: 1vw;
  margin-bottom: 1.5vw;
}

.qOption {
  margin-bottom: 1vw;
  display: flex;
  gap: 1.5vw;
  padding: 0.5vw;
  cursor: pointer;
}

.qOption > p,
.qOptionActive > p {
  margin-bottom: 0 !important;
}

.qImg {
  max-height: 20vw;
  margin-bottom: 1vw;
}

.qOptionActive {
  margin-bottom: 1vw;
  display: flex;
  gap: 1.5vw;
  background: rgba(32, 176, 56, 0.1);
  border-radius: 0.146vw;
  padding: 0.5vw;
  cursor: pointer;
}

.noQImg {
  margin-bottom: 10vw;
}

.prevNextBtns {
  display: flex;
  justify-content: space-between;
}

.prevNextBtns > p {
  padding: 0.5vw 1vw;
  cursor: pointer;
  color: #ffffff;
  background-color: #ffac33;
  border-radius: 6px;
  opacity: 0.8;
}

.prevNextBtns > p:hover {
  opacity: 1;
}

.submitMCQButtonContainer {
  display: flex;
  justify-content: center;
}

.submitMCQButtons {
  padding: 0.5vw 1vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 22px;
  /* identical to box height */
  cursor: pointer;
  text-align: center;
  background: #436dfa;
  border-radius: 0.439vw;
  color: #ffffff;
}

.show_question {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  color: #121212;
  outline: none;
  border: none;
  display: block;
  width: 100%;
  min-height: 2vw;
  height: fit-content;
  line-height: 2vw;
  white-space: break-spaces;
}
