.election_apply_form_container {
  background-color: #ffffff;
  padding: 1rem;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
}
.add_supporting_member {
  display: flex;
  justify-content: flex-start;
  gap: 2vw;
  align-items: center;
}
.add_supporting_member > img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.add_supporting_heading,
.add_supporting_member_heading,
.add_supporting_paragraph,
.vote_result_heading > h6,
.vote_result_heading > p,
.vote_candidate,
.vote_time,
.vote_casted,
.vote_tagline,
.supporting_member {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
}

.add_supporting_heading {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-14);
  line-height: 17px;
  color: var(--color-black-text);
  margin: 1.5vw 0;
}
.add_supporting_member_heading {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-14);
  line-height: 17px;
  color: rgba(18, 18, 18, 1);
}
.add_supporting_paragraph {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: 17px;
  color: rgba(18, 18, 18, 0.8);
}

.apply_elections_btn {
  width: 100%;
  background: rgba(75, 26, 133, 0.1);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4vw;
  margin-top: 3vw;
  outline: none;
  border: none;
  gap: 1vw;
}

.apply_elections_btn > div {
  margin-top: 7px;
}
.apply_elections_btn:hover {
  background-color: #1c023b;
  color: #ffffff;
}
.apply_elections_btn:hover > p {
  color: white;
}
.apply_elections_btn > p {
  font-size: var(--font-size-16);
  line-height: 34px;
  margin-bottom: 0 !important;
  color: rgba(18, 18, 18, 0.6);
}

.vote_result_wrapper {
  width: 100%;
  min-height: 100px;
  height: fit-content;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  padding: 1vw;
  margin-bottom: 0.87vw;
}

.vote_result_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vote_result_heading > h6 {
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-16);
}
.vote_result_heading > p {
  margin-bottom: 0 !important;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-12);
  color: #002bbe;
  padding: 5px 12px;
  border: 0.805556px solid #002bbe;
  border-radius: 4px;
  cursor: pointer;
}

.vote_time {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  color: rgba(18, 18, 18, 0.8);
}
.vote_candidate,
.vote_casted {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-14);
}
.vote_candidate {
  color: #121212;
  margin: 0;
}
.vote_casted {
  color: rgba(18, 18, 18, 0.8);
}

.vote_member {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;
  margin-bottom: 1rem;
}
.vote_tagline {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  color: rgba(18, 18, 18, 0.5);
  margin: 0;
}

.supporting_member {
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-14);
  color: #121212;
}

.vaote_detail_requirement {
  margin-bottom: 0;
  padding-left: 1.1vw;
}

.give_feedback_btn,
.give_feedback_btn:focus {
  width: 113px;
  height: 30px;
  border: 0.805556px solid #002bbe;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11.2778px;
  line-height: 14px;
  color: #002bbe;
  outline: transparent;
  background-color: #ffffff;
  position: absolute;
  right: 2%;
}
