/* .standerds {
  height: 100%;
  width: 100%;
} */

.standerdItem {
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.75rem;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.standerdsleft {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.standerdsheading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 19px;
  margin-bottom: 1rem;
  color: rgba(18, 18, 18, 0.9);
}
.standerdsImg {
  height: 2rem;
}

.standerdsh6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 17px;
  /* identical to box height */
  color: #121212;
  margin-bottom: 0.2rem;
}

.standerdsp {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 15px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: rgba(18, 18, 18, 0.5);
}

.BacklogStudentsbody {
  margin-top: 1rem;
}

.studentImgcontainer {
  height: 3rem;
  width: 3rem;
  border-radius: 0.3rem;
  padding: 0.1rem;
  display: grid;
  place-items: center;
}

.studentImg {
  height: 100%;
  width: 100%;
  border-radius: 0.3rem;
}

.studentp1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 15px;
  /* identical to box height */
  margin-bottom: 0.2rem !important;
  color: rgba(18, 18, 18, 0.5);
}

.studentRightp {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 15px;
  /* identical to box height */
  margin-bottom: 0.2rem !important;
  color: rgba(0, 0, 0, 0.8);
}
.standerdsrright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dotsImg {
  height: 1.3rem;
  cursor: pointer;
  margin-bottom: 0.3rem;
}

.examItem {
  cursor: auto !important;
}

.studentModal {
  width: 30rem;
  background-color: rgba(250, 250, 250, 1);
  border-radius: 1rem;
}

.backItem {
  display: flex;
  gap: 1rem;
  align-items: center;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 0.5rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.backItem:hover {
  background-color: #d5d8e6;
}

.backItem > img {
  height: 2rem;
}

.backItemRight > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0.2rem;
  color: #121212;
}
.modalbody {
  padding: 1.5rem;
}
.backItemRight > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 15px;
  margin-bottom: 0 !important;
  color: rgba(18, 18, 18, 0.5);
}

.confirmbutton {
  background: rgba(0, 26, 114, 0.15);
  border: 1px solid #1c023b;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 0.3rem;
  padding: 0.75rem 1rem;
  display: grid;
  place-items: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 24px;
  cursor: pointer;
  color: #1c023b;
}

.standerdItemm {
  justify-content: flex-start !important;
}

.back_fees_container {
  width: 100%;
  min-height: 66px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px #002bbe;
  border-radius: 6px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-self: flex-start;
  gap: 1.3rem;
  font-family: "Inter";
  font-style: normal;
  margin-top: 0.8rem;
}
.back_fees_container_inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.back_fees_container_inner > h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
}
.back_fees_container_inner > p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: rgba(18, 18, 18, 0.5);
  margin-bottom: 0 !important;
}

.back_fees_list {
  width: 100%;
  min-height: 66px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-self: flex-start;
  gap: 1.3rem;
  font-family: "Inter";
  font-style: normal;
  margin-top: 0.8rem;
}
.back_fees_list_inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.back_fees_list_text {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.back_fees_list_text > h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
  margin-bottom: 0;
}
.back_fees_list_text > p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: rgba(18, 18, 18, 0.5);
  margin-bottom: 0 !important;
}

.fees_header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  background: #20b038;
  padding: 0.8rem;
  border-radius: 0.2rem;
}

.fees_header > h6,
.fees_header > div > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 0;
}

.fees_table_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  margin-top: 1rem;
}
.fees_table_header > h6 {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #121212;
  margin-bottom: 0;
}
