.admissionModal {
  background: #fafafa;
  border-radius: 12px;
  width: 450px;
}

.admissionModalhead {
  padding: 1vw;
  display: flex;
  justify-content: space-between;
}
.admissionModalhead img {
  cursor: pointer;
}

.admissionModalbody {
  padding: 1vw;
}
.admissionModalfooter {
  padding: 1vw;
}

.assignManager {
  cursor: pointer;
}

/* -------Searchbar--------- */

.searchbar {
  position: relative;
  width: 100%;
}

.searchbar > input {
  height: 30pxvw;
  background: white;
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.04);
  border: none;
  border-radius: 6px;
  /* width: 18vw; */
  padding-left: 45px;
  position: relative;
  outline: none;
}

.searchbar > input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #888888;
}
.searchbar > img {
  position: absolute;
  left: 3%;
  height: 19px;
  bottom: 22%;
}
.searchbar > img:hover {
  cursor: pointer;
}

.sidebarbottomitem {
  display: flex;
  align-items: center;
  gap: 1vw;
  padding: 1vw;
  cursor: pointer;
}
.sidebarbottomitem p {
  margin-bottom: 0 !important;
}
.sidebarbottomitem img {
  height: 2.3vw;
  width: 2.3vw;
  border-radius: 6px;
}

.namee {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 17px;
  /* identical to box height */

  color: #121212;
}

.desig {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8vw;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.5);
}

.items {
  height: 45vh;
  overflow-y: scroll;
}

.items::-webkit-scrollbar {
  width: 4px !important;
}

.items::-webkit-scrollbar-track {
  background-color: transparent !important;
  box-shadow: none !important;
}

.items::-webkit-scrollbar {
  width: 0;
}

.financebtn {
  display: grid;
  place-items: center;
  margin-top: 2vw;
  background: rgba(75, 26, 133, 0.1);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  padding: 0.4vw;
  cursor: pointer;
}

.activebtn {
  display: grid;
  place-items: center;
  margin-top: 2vw;
  background: #1c023b;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  padding: 0.4vw;
  cursor: pointer;
  color: white;
}

.assignDesignation {
  display: flex;
  align-items: center;
  gap: 1vw;
  cursor: pointer;
}

.assignDesignation h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0.3vw;

  color: #121212;
}

.assignDesignation p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  margin-bottom: 0;
  color: rgba(18, 18, 18, 0.6);
}
