.edit_academic_container {
  font-family: Inter;
  font-style: normal;
  padding: 1rem;
}
.academic_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.academic_title_text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.academic_title_text > h6 {
  color: rgba(18, 18, 18, 0.9);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.academic_title_text > img {
  cursor: pointer;
}

.topic_card_container {
  width: 100%;
  padding: 1.2rem 1rem;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topic_card_container_hover:hover,
.topic_card_container_hover_active {
  /* background-color: buttonface; */
  background-color: rgba(75, 26, 133, 0.1);
  cursor: pointer;
}
.topic_card_each {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 1rem; */
  /* border-top: 0.5px solid rgba(0, 0, 0, 0.15); */
}
.topic_card_each > h6 {
  color: #121212;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.3rem;
}

.topic_card_each > p,
.topic_card_each > div > p {
  color: rgba(18, 18, 18, 0.8);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}
.academic_header_container {
  width: 100%;
  min-height: 140px;
  border-radius: 12px;
  border: 1px solid rgba(18, 18, 18, 0.2);
  background: #ffffff;
  padding: 1rem;
  /* margin-bottom: 1rem; */
}
.academic_header_each {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.academic_header_each > h5 {
  color: #001a72;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0;
}

.academic_header_each > h6 {
  color: #008000;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0.5rem;
}
.academic_card_container {
  width: 100%;
  min-height: 50px;
  height: fit-content;
  border-radius: 12px;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  background: #ffffff;
  box-shadow: 2px 4px 32px 0px rgba(0, 0, 0, 0.04);
  margin-top: 1rem;
}
.academic_card_top {
  width: 100%;
  height: 50px;
  background-color: #32478d;
  border: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  filter: drop-shadow(2px 4px 32px rgba(0, 0, 0, 0.04));
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}
.academic_card_top_text {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}
.academic_card_top_text > h6,
.academic_card_top > h6 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
/* // subject teacher */
.subject_edit_academic_container {
  width: 100%;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
  padding-bottom: 2vw;
  min-height: 75vh;
  padding: 1rem;
  font-family: "Inter";
  font-style: normal;
}
.subject_academic_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.subject_academic_title > h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(18, 18, 18, 0.9);
  margin-bottom: 0;
}
.subject_academic_title > img {
  cursor: pointer;
  width: 28px;
  height: 28px;
}
.record_lecture {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.add_record_lecture {
  margin: 0;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: #436dfa;
  display: grid;
  place-items: end;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.aditional_info_container {
  margin-top: 2rem;
  padding-inline: 1rem;
  padding-bottom: 1rem;
}
.aditional_info_container > h6 {
  color: rgba(18, 18, 18, 0.8);
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
}

.aditional_info_container > p {
  color: rgba(18, 18, 18, 0.8);
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  white-space: break-spaces;
}
.aditional_info_images {
  width: 100%;
  min-height: 68px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 0.8rem;
}

.aditional_info_images > img,
.aditional_info_images > a > img,
.aditional_info_images > label > img {
  width: 58px;
  height: 68px;
}
.aditional_info_dates {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aditional_info_dates > p {
  color: rgba(18, 18, 18, 0.8);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0 !important;
}
.aditional_info_dates > h5 {
  color: #121212;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}
.aditional_info_dates > h6 {
  color: #002bbe;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.add_academic_record {
  padding: 1rem;
  min-width: 30rem;
  max-width: 35rem;
  max-height: 35rem;
  min-height: 15rem;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: "Inter";
  font-style: normal;
}
.add_academic_record_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add_academic_record_text {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}
.add_academic_record_text > h6 {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  margin: 0;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
  line-height: var(--line-height-17);
  color: #121212;
}

.add_academic_record_title > button,
.add_academic_record_title > button:focus {
  color: rgba(18, 18, 18, 0.8);
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  outline: transparent;
  border: none;
  background-color: #ffffff;
}
.record_tab_container {
  width: 100%;
  height: 47px;
  border-radius: 6px;
  background: #e9ecf7;
  box-shadow: 1px 2px 32px 0px rgba(0, 0, 0, 0.02),
    -1px -1px 10px 0px rgba(0, 0, 0, 0.02);
  padding: 0.3rem 0.5rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.record_tab {
  width: 33%;
  height: 38px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.record_tab_active,
.record_tab:hover {
  border-radius: 6px;
  background: #fff;
  box-shadow: 1px 2px 32px 0px rgba(0, 0, 0, 0.02),
    -1px -1px 10px 0px rgba(0, 0, 0, 0.02);
}
.record_tab > h6 {
  color: rgba(18, 18, 18, 0.8);
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

/* // student side style  */
.student_view_academic_btn {
  width: 100%;
  min-height: 18px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px #002bbe;
  cursor: pointer;
}
.student_view_academic_btn:hover {
  background-color: buttonface;
}
.student_view_academic_btn > h6 {
  color: rgba(18, 18, 18, 0.9);
  font-family: Inter;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

/* student readmission */
.readmission_take_btn,
.readmission_take_btn:focus {
  margin-top: 5rem;
  width: 100%;
  height: 34px;
  background: #001a72;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
  border: none;
  outline: transparent;
}

.academic_edit_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.academic_edit_btn,
.academic_edit_btn:focus-visible,
.academic_edit_btn:focus {
  width: 100%;
  height: 48px;
  background: #001a72;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  outline: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  border: none;
}

.subject_academic_link {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}

/* // new type button  */

.topic_ongoing,
.topic_ongoing:focus {
  background: rgb(168 169 171 / 15%);
  border: 1px solid rgba(18, 18, 18, 0.5);
  border-radius: 0.3rem;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  cursor: pointer;
  display: grid;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 0.4rem;
  place-items: center;
  outline: transparent;
  margin-bottom: 0.5rem !important;
}
.topic_ongoing_active {
  background: rgba(255, 77, 0, 0.8);
  border: 1px solid rgba(255, 77, 0, 0.8);
}
.topic_completed,
.topic_completed:focus {
  background: rgb(168 169 171 / 15%);
  border: 1px solid rgba(18, 18, 18, 0.5);
  border-radius: 0.3rem;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  color: rgba(18, 18, 18, 0.8);
  cursor: pointer;
  display: grid;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 0.4rem;
  place-items: center;
  outline: transparent;
  margin-bottom: 0 !important;
}

.topic_completed_active {
  background: rgba(0, 128, 0, 0.8);
  border: 1px solid rgba(0, 128, 0, 0.8);
  color: #ffffff !important;
}
.extra_lecture_container {
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  padding: 0.9vw;
  margin-bottom: 0.5vw;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: #121212;
}
.extra_lecture_container:hover,
.extra_lecture_container_active {
  background-color: rgba(75, 26, 133, 0.1);
}
