/* .smc_header_container {
  position: sticky;
  top: 78.5px;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1%;
}
.smc_side_unwrap {
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: #1c023b;
  padding: 1rem;
  width: 3%;
}
.smc_selected_designation_container {
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: #1c023b;
  width: 96%;
  padding: 0.8rem 1rem;
  border-radius: var(--radius-6);
}
.smc_selected_designation_container_inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.smc_selected_designation_container_inner > h6 {
  font-weight: 500;
  font-size: 1.318vw;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
}
.smc_side_unwrap > img,
.smc_selected_designation_container_inner > img {
  height: 1.5rem;
}
.staff_member_config_inner_container {
  margin-block: 1rem;
  width: 100%;
  min-height: 50dvh;
} */

.smc {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
  padding-right: 1rem;
}
.smc_drawer {
  max-width: 14rem;
  flex: 0.7 0.7;
  background-color: rgb(250, 250, 250);
}
.smc_content_main {
  flex: 2 2;
  margin-top: 1rem;
}
.smc_content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.smc_content_main {
  flex: 3 3;
}
.smc_content_profile {
  max-width: 16rem;
  flex: 1 1 fit-content;
}
