.staff_form_container {
  width: 840px;
  min-height: 300px;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.staff_form_header_container {
  width: 840px;
  min-height: 150px;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
  margin-top: 21px;
}
.form_header_container > h6,
.form_header_list > li,
.form_header_code > h6,
.form_toggle_description,
.form_toggle_label > span {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  margin: 0;
}

.form_header_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 15px 18px 11px 18px;
}

.form_header_container > img {
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.form_header_container > h6 {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  line-height: var(--line-height-17);
  color: #121212;
}

.form_header_content {
  padding: 18px 18px 11px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 14px 0 53px;
}

.form_header_list > li {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-14);
  line-height: 30px;
  color: #121212;
}

.form_header_code {
  width: 264px;
  height: 88px;
  background: rgba(28, 2, 59, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.form_header_code > h6 {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-14);
  line-height: 25px;
  color: #121212;
}

.form_header_code > img {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.form_toggle_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 18px 11px 18px;
}
.form_toggle_label {
  flex-direction: row;
  gap: 14px;
}
.form_toggle_label > span {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);

  color: #121212;
}
.form_toggle_description {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-12);
  line-height: var(--line-height-17);
  color: rgba(18, 18, 18, 0.7);
  margin-left: 56px;
}

.form_checkbox_container {
  margin-left: 4vw;
}

.staff_form_header_container_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.staff_header_text {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  margin: 0;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  cursor: pointer;
}
