.exam_card_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 100%;
  min-height: 66px;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  color: #1c023b;
  gap: 1vw;
  width: 100%;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  padding: 0 1rem;
  margin-top: 0.7rem;
}
.exam_card_container:hover,
.exam_active_card {
  background-color: rgba(75, 26, 133, 0.1);
}

.exam_inner_text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3vw;
  margin-top: 0.5rem;
}

.exam_inner_text > h6,
.exam_date > h6 {
  margin-top: -5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 20px;
  margin-bottom: 0 !important;
  color: #1c023b;
}

.exam_inner_text > p,
.exam_date > p {
  margin-bottom: 0 !important;
  margin-top: -5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75vw;
  line-height: 20px;
  color: rgba(18, 18, 18, 0.6);
}

.exam_date > p {
  margin-top: 0.2vw;
}
.exam_date > h6,
.exam_date > p {
  text-align: right;
}
.imagedot {
  display: flex;
}

.imagedot > img {
  height: 2.7vw;
  width: 2.7vw;
  border-radius: 50%;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.blue {
  background-color: #1c023b;
}

.red {
  background-color: #ee3833;
}
