.mainbody {
  display: flex;
  padding: 3vh 1vw 0 1vw;
  background-color: #f5f5f5;

  gap: 1.8vw;
  justify-content: center;
  /* overflow-y: scroll;
  height: 100vh; */
}

.main {
  height: 100vh;
}

.sidebar {
  position: sticky;
  top: 80px;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 19.327vw;
}

.sidebarright {
  width: 25%;
}

.test {
  width: 40%;
}

.newPost {
  top: 80px;
  width: 65%;
}

.loader {
  height: 80vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.loader > img {
  height: 55px;
  width: 55px;
}

@media only screen and (max-width: 1024px) {
  .mainbody {
    padding: 3vh 8vw 0 8vw;
  }
}

@media only screen and (max-width: 920px) {
  .mainbody {
    padding: 3vh 5vw 0 5vw;
  }
}
@media only screen and (max-width: 820px) {
  .mainbody {
    padding: 3vh 0 0 0;
  }
}
