.container {
  width: 36.603vw;
  min-height: 58.565vw;
}

.header {
  height: 4.246vw;
  display: flex;

  border-top-left-radius: 0.439vw;
  border-top-right-radius: 0.439vw;
  background-color: rgba(233, 236, 247, 0.4);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
}
.header p,
.container p {
  margin: 0;
}
.headerText {
  display: flex;
  justify-content: center;
  width: 18.302vw;
  align-items: center;
}
.headerTextActive,
.headerText:hover {
  margin: 5px 5px;
  display: flex;
  justify-content: center;
  width: 18.302vw;
  height: 46px;
  align-items: center;
  background-color: #ffffff;
  box-shadow: -2px 4px 3px rgb(0 0 0 / 6%), 3px 3px 3px rgb(0 0 0 / 3%);
  border-radius: 6px;
  cursor: pointer;
}
.headerLink {
  min-width: 5.051vw;
  height: 1.245vw;
  text-align: -webkit-center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.025vw;
  line-height: 1.245vw;
  color: rgba(18, 18, 18, 0.5);
  cursor: pointer;
}
.headerLinkActive {
  color: #121212 !important;
  font-weight: 500 !important;
  margin-bottom: 0 !important;
}

.headerLinkSearch {
  width: 18.302vw !important;
}

.headerLinkSearch1 {
  width: 18.302vw !important;
  margin-left: 18.302vw !important;
}
