.insFundMid {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.insFundMid p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  padding: 1vw 0;
  color: rgba(18, 18, 18, 0.8);
}

.insFundMid span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 24px;

  color: #121212;
}
.insFundBottom {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1vw;
  gap: 1.7vw;
}
