.profilehead {
  width: 100%;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.profileheadTop {
  width: 100%;
  margin-top: -2rem;
  height: 25rem;
  position: relative;
}
.profileheadTop img {
  width: 100%;
  height: 100%;
}

.profileMenu {
  position: absolute;
  right: 5rem;
  top: 3rem;
  cursor: pointer;
  height: 2rem !important;
  width: 2rem !important;
}
.coverEdit {
  position: absolute;
  right: 2rem;
  cursor: pointer;
  height: 2rem !important;
  width: 2rem !important;
  top: 3rem;
}

.profileheadBottom {
  background-attachment: #fff;
  position: relative;
}

.profileheadBottom {
  position: relative;
  margin-top: -5rem;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 1.8rem 1.8rem 0.375rem 0.375rem;

  /* -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.75); */
}

.profileheadBottomtop {
  padding: 3.5rem 3rem 1rem 3rem;
  position: relative;
}

.insname {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 20px;
  /* identical to box height, or 83% */

  color: #121212;
}
.username {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 22px;
  /* identical to box height, or 138% */
  margin-bottom: 0.3rem;
  color: rgba(18, 18, 18, 0.8);
}
.oneLiner {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
  margin-bottom: 0.3rem;
  color: rgba(18, 18, 18, 0.6);
}

.bio {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 19px;
  /* or 106% */
  margin-bottom: 0;
  color: rgba(18, 18, 18, 0.8);
  width: 24rem;
}

.biofull {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 19px;
  /* or 106% */
  margin-bottom: 1rem !important;
  color: rgba(18, 18, 18, 0.8);
}

.biospan {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 19px;
  color: #002bbe;
  cursor: pointer;
}

.profileheadBottomcounts {
  padding: 0.75rem 3rem;
  background: #ffffff;
  border: 0.5px solid rgba(18, 18, 18, 0.15);
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomOneItem > p {
  margin: 0;
}
.bottomOneItem {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bottomOneItemActive {
  padding: 0.878vw 1.464vw;
  background: rgba(75, 26, 133, 0.1);
}

.bottomCount {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.175rem;
  line-height: 1.977vw;
  color: #121212;
  margin-bottom: 0.2rem !important;
}

.bottomText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.171vw;
  color: #121212;
  margin-bottom: 0 !important;
}

.profileimgcontainer {
  position: absolute;
  z-index: 10;
  bottom: 2rem;
  left: 2.8rem;
  border-radius: 50%;
  border: 0.3rem solid #fff;
  height: 8rem !important;
  width: 8rem !important;
}

.profileimgcontainerbg {
  background-color: #cacaca !important;
  position: absolute;
  z-index: 10;
  bottom: 2rem;
  left: 2.8rem;
  border-radius: 50%;
  border: 0.3rem solid #fff;
  height: 8rem !important;
  width: 8rem !important;
}

.profileimg {
  height: 100% !important;
  width: 100% !important;
  border-radius: 50%;
  border: none;
}

.profileimgg {
  height: 93% !important;
  width: 93% !important;
}

.scanicon {
  position: absolute;
  top: 1rem;
  right: 9rem;
  height: 1.75rem;
  cursor: pointer;
}

.scaniconfollow {
  position: absolute;
  top: 1rem;
  right: 7.5rem;
  height: 1.75rem;
  cursor: pointer;
}

.scaniconsearch {
  position: absolute;
  top: 1rem;
  right: 2rem;
  height: 1.75rem;
  cursor: pointer;
}

.profileedit {
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  background: #1c023b;
  border-radius: 0.25rem;
  padding: 0.2rem 0.55rem;
  cursor: pointer;
}
.profileedit img {
  height: 0.8rem;
}

.profileedit p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 22px;
  /* identical to box height, or 157% */
  margin-bottom: 0 !important;
  text-align: center;

  color: #ffffff;
}

/* .profilephotoEdit {
  display: none;
} */

/* .profileimgcontainer:hover  */
.profilephotoEdit {
  display: block;
  height: 1.5rem !important;
  width: 1.5rem !important;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  bottom: 0.75rem;
  left: 2.8rem;
}
