.admisionApplication {
  margin-top: 01vw;
}

.admisionApplicationTop {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 0.5px solid rgba(0, 0, 0, 0.15); */
  padding-bottom: 1vw;
}

.applicationBody {
  /* background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 0.439vw; */
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5vw;

  width: 100%;
}
