.history {
  padding: 2vw 6.5vw;

  height: 31vw;
  overflow-y: scroll;
}

.history::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

.history h6 {
  margin-bottom: 1vw !important;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 19px;

  color: #121212;
}
