.addDisplay {
  width: 600px;
  border-radius: 12px;
  min-height: fit-content;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 0.4px solid rgba(0, 0, 0, 0.12);
  background: #ffffff;
}

.title h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #121212;
}
.title img {
  cursor: pointer;
}
.content {
  max-height: 80vh;
  overflow-y: scroll;
}

.content1,
.content2 {
  padding: 1rem 2rem;
  background: #fafafa;
}
.content1 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0.3rem !important;
  color: rgba(18, 18, 18, 0.5);
}

.content1 h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.95rem;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 1.5rem;
  color: #121212;
}
.appcontentrow {
  display: flex;
}
.appsubcontentrow {
  width: 50%;
}

.content2 {
  border-top: 0.25rem solid #eaeaea;
  border-bottom: 0.25rem solid #eaeaea;
}

.content2 h6,
.content3 h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 17px;
  /* identical to box height */

  color: #121212;
}

.appinforow,
.appinforow1,
.appinforow2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.appinforowred {
  background: rgba(221, 46, 68, 0.2);
}

.content3 {
  background: #fafafa;
}

.appinforow1 {
  padding: 1rem 2rem;
}
.appinforow2 {
  padding: 0.4rem 2rem;
  align-items: center;
}

.appinforow2 h6 {
  margin-bottom: 0 !important;
}

.completeApplication {
  background: rgba(0, 26, 114, 0.15);
  border: 1px solid #001a72;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 0.3rem;
  padding: 0.4rem 1.5rem;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  cursor: pointer;
  color: #001a72;
}

.completeApplicationcontainer {
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
