.admisionApplication {
  margin-top: 01vw;
}

.admisionApplicationTop {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 1vw;
  margin-bottom: 0.7vw;
}

.admisionApplicationTopLeft {
  display: flex;
  gap: 1vw;
  align-items: center;
}
.fine_heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 17px;
  margin: 1rem;
  margin-bottom: 0;
  cursor: pointer;
  color: #121212;
}
.admisionApplicationTopLeft > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0;
  cursor: pointer;
  color: rgba(18, 18, 18, 0.5);
  margin-right: 3vw;
}

.active {
  color: #121212 !important;
  font-weight: 400 !important;
}

.applicationBody {
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 0.439vw;
}

.searchContainerr {
  padding: 1vw 2.955vw;
  border-bottom: 0.073vw solid rgba(0, 0, 0, 0.15);
  display: flex;
  gap: 2%;
}

.searchContainer {
  width: 79%;
  height: 2.782vw;
  background-color: #ffffff;
  border: 0.029vw solid rgba(0, 0, 0, 0.15);
  box-shadow: 0.073vw 0.146vw 2.343vw rgba(0, 0, 0, 0.04);
  border-radius: 0.439vw;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  /* margin: -1.025vw 7.028vw 3.148vw 7.028vw; */
}
.searchContainer input,
.searchContainer input:focus {
  outline: none;
  width: 100%;
  height: 2.5vw;
  border: none;
  margin-left: 0.073vw;
  padding-left: 3.075vw;
  margin-bottom: 0;
}

.searchContainer > img {
  position: absolute;
  margin-left: 0.878vw;
}

.newBtn {
  padding: 0.6vw;
  display: grid;
  place-items: center;
  background: #001a72;
  border-radius: 0.293vw;
  width: 19%;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 19px;

  color: #ffffff;
}

/* --------------Enquiries--------------------- */
.remainingFees {
  background: #ffffff;

  width: 100%;
}

.itemsContainer {
  min-height: 60vh;
}

.item {
  display: flex;
  gap: 1.5vw;
  align-items: center;
  border-bottom: 0.3px solid rgb(222, 214, 214);
  cursor: pointer;
  padding: 1vw 2.955vw;
  border-bottom: 0.5px solid #eaeaea;
}
.item:hover {
  background: rgba(75, 26, 133, 0.1);
}

.subItem {
  display: flex;
  gap: 1.5vw;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.878vw;
  line-height: 15px;
  /* identical to box height */
  text-align: left;

  color: #121212;
}

.imgContainer {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  padding: 0.2rem;
  display: grid;
  place-items: center;
}

.imgContainer > img {
  height: 90%;
  width: 90%;
}

.text > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0.3vw;
  color: #121212;
  text-align: left;
}

.text > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 15px;
  /* identical to box height */
  margin-bottom: 0.2rem !important;
  color: rgba(18, 18, 18, 0.5);
}

.enquiryDetail {
  margin-top: 01vw;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.enquiryDetailtop {
  padding: 0.75rem 1rem;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.enquiryDetailtopimg {
  height: 1.2rem;
  cursor: pointer;
}

.enquiryDetailtoph6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 19px;
  text-align: right;
  margin-bottom: 0;
  color: rgba(18, 18, 18, 0.9);
}

.enquiryDetailbody {
  background-color: #fcfcfe;
  padding: 1rem 2rem;
  border: 0.4px solid rgba(0, 0, 0, 0.12);
  padding-top: 2rem;
  min-height: 33rem;
}

.enquiryDetailbodyp {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 17px;
  /* identical to box height */
  color: #121212;
}

.itemrow {
  margin-bottom: 2rem;
}

.enquiryDetailbodyspan {
  color: rgba(18, 18, 18, 0.5) !important;
}

.enquiryDetailbodyplight {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 17px;

  color: rgba(18, 18, 18, 0.8);
}

.pollTextarea::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.5);
}

.pollTextarea {
  width: 100%;
  padding: 1vw;
  resize: none;
  outline: none;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  overflow-y: scroll;
  min-height: 5rem;

  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 1vw !important;
  line-height: 19px !important;
  color: #121212;
}

.pollTextarea::-webkit-scrollbar {
  width: 0 !important;
}

.admisionApplicationTopRight > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 17px;

  cursor: pointer;
  color: rgba(238, 56, 51, 0.5);
}
.library_out_container {
  min-height: 40rem;
}
.data_container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  padding: 1rem;
}
