/* for notify event  */
.notify_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background: transparent;
}
.notify_overlay,
.notify_hide_overlay {
  position: fixed;
  z-index: 1100;
  width: fit-content;
  height: fit-content;
}
.notify_overlay {
  bottom: -5%;
  right: -10%;
  animation: notify_overlay_animation 500ms ease-in 50ms 1 forwards;
}
.notify_hide_overlay {
  bottom: 2%;
  right: 2%;
  animation: notify_hide_overlay_animation 490ms ease-in 10ms 1 forwards;
}
@keyframes notify_overlay_animation {
  from {
    bottom: -5%;
    right: -10%;
  }
  to {
    bottom: 2%;
    right: 2%;
  }
}
@keyframes notify_hide_overlay_animation {
  from {
    bottom: 2%;
    right: 2%;
  }
  to {
    bottom: -6%;
    right: -12%;
  }
}
.notify_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: fit-content;
  height: fit-content;
  box-shadow: -2px 0px 12px rgba(0, 0, 0, 0.15),
    2px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: var(--radius-5);
  background-color: var(--notify-bg-color);
  padding: 1rem;
}
.notify_message {
  font-weight: 400;
  font-size: var(--font-12);
  line-height: var(--line-15);
  color: var(--color-white);
}
.notify_close {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  opacity: 0.8;
  transition: opacity ease-in-out 150ms 50ms;
}
.notify_close:hover {
  opacity: 1;
}
/* for modal layer  */
.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.75);
}
.modal_overlay,
.modal_hide_overlay,
.navbar_modal_hide_overlay,
.navbar_modal_overlay {
  position: fixed;
  z-index: 1001;
  min-width: 100px;
  min-height: 100px;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 10px;
  box-shadow: -2px 0px 12px rgba(0, 0, 0, 0.15),
    2px 4px 12px rgba(0, 0, 0, 0.15);
}
.modal_overlay {
  top: 50%;
  left: 50%;
  /* top: var(--modal-cleint-y);
  left: var(--modal-cleint-x); */
  /* animation: modal_overlay_animation 500ms ease-in 10ms 1 forwards; */
  transform: translate(-50%, -50%);
}
.modal_hide_overlay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: modal_hide_overlay_animation 500ms ease-in 10ms 1 forwards;
}
@keyframes modal_overlay_animation {
  from {
    top: var(--modal-cleint-y);
    left: var(--modal-cleint-x);
  }
  to {
    top: 50%;
    left: 50%;
  }
}
@keyframes modal_hide_overlay_animation {
  from {
    top: 50%;
    left: 50%;
  }
  to {
    top: var(--modal-cleint-y);
    left: var(--modal-cleint-x);
  }
}
/* for language modal  */
.navbar_modal_overlay {
  top: -10%;
  right: -10%;
  animation: navbar_modal_overlay_animation 500ms ease-in 10ms 1 forwards;
}
.navbar_modal_hide_overlay {
  top: 12%;
  right: 24.5%;
  animation: navbar_modal_hide_overlay_animation 500ms ease-in 10ms 1 forwards;
}
@keyframes navbar_modal_overlay_animation {
  from {
    top: -10%;
    right: -10%;
  }
  to {
    top: 8%;
    right: 24.5%;
  }
}
@keyframes navbar_modal_hide_overlay_animation {
  from {
    top: 8%;
    right: 24.5%;
  }
  to {
    top: -10%;
    right: -10%;
  }
}

.empty_container {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.empty_container > h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(18, 18, 18, 0.9);
}

.empty_container > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(18, 18, 18, 0.5);
}
