.remainingFees {
  background: #ffffff;

  width: 100%;
}

.remainingFeesBottom {
}

.itemsContainer {
  /* min-height: 60vh; */
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* -------------Search------------------- */
.searchContainerr {
  padding: 1vw 2rem;
  border-bottom: 0.073vw solid rgba(0, 0, 0, 0.15);
  display: flex;
  gap: 2%;
}

.searchContainer {
  width: 79%;
  height: 2.782vw;
  background-color: #ffffff;
  border: 0.029vw solid rgba(0, 0, 0, 0.15);
  box-shadow: 0.073vw 0.146vw 2.343vw rgba(0, 0, 0, 0.04);
  border-radius: 0.439vw;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  /* margin: -1.025vw 7.028vw 3.148vw 7.028vw; */
}
.searchContainer input,
.searchContainer input:focus {
  outline: none;
  width: 100%;
  height: 2.5vw;
  border: none;
  margin-left: 0.073vw;
  padding-left: 3.075vw;
  margin-bottom: 0;
}

.searchContainer > img {
  position: absolute;
  margin-left: 0.878vw;
}

.newBtn {
  padding: 0.6vw;
  display: grid;
  place-items: center;
  background: #001a72;
  border-radius: 0.293vw;
  width: 19%;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 19px;

  color: #ffffff;
}

/* -------------Members----------------- */

.completeApplicationSplit {
  display: flex;
}

.remainingFeesBottom {
  width: 100%;
}

.half {
  width: 60% !important;
  animation: slide-effect 3s linear forwards;
}
@keyframes slide-effect {
  0% {
    width: 100%;
  }
  100% {
    width: 60%;
  }
}

.itemsDetails {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  width: 100%;
}

/* --------------Member Item------------------- */

.memberItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: fit-content;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 1rem 2rem;
  cursor: pointer;
}

.memberItem:hover {
  background: rgba(50, 71, 141, 0.15);
}

.imgcontainer {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  /* border: 0.2px solid rgba(0, 0, 0, 0.15); */
}

.imgcontainer > img {
  height: 95%;
  width: 95%;
  border-radius: 50%;
}

.issuedBookItemMidright > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0.3rem;
  color: #121212;
}

.issuedBookItemMidright > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: rgba(18, 18, 18, 0.5);
}

/* -----------------Members Details---------------------- */
.memberdetails {
}

.memberdetailstop {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tabs {
  width: 100%;
}

.membersContainer {
  padding: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.loader {
  display: grid;
  place-items: center;
  width: 100%;
}

.loader > img {
  height: 4rem;
}

.noData > img {
  width: 100%;
}
.noData {
  display: grid;
  place-items: center;
  width: 100%;
}

.limember {
  width: 100%;
  margin-top: 0.7rem;
}

.itemsRef {
  width: 100%;
}

.memberItemactive {
  background: rgba(50, 71, 141, 0.15);
}
