.election_card_container {
  min-width: 343px;
  min-height: 148px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  margin-bottom: 12px;
  padding: 15px;
}

.elections_container {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
}

.create_new_elections {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-16);
  line-height: 19px;
  color: var(--color-black-text);
  margin: 10px 0 20px 0;
}

.create_new_elections_hr {
  margin-left: -15px;
  margin-right: -15px;
  /* border: 0 solid #c4c4c4; */
}

.election_input,
.election_input:focus {
  min-width: 100%;
  height: 3.441vw;
  background-color: #ffffff;
  padding-left: 1.098vw;
  padding-right: 1.098vw;
  border: 0.037vw solid rgba(0, 0, 0, 0.12);
  box-shadow: 0.073vw 0.146vw 2.343vw rgba(0, 0, 0, 0.05);
  border-radius: 0.439vw;
  outline: none;
  margin-top: 1.7vw;
}
.election_info {
  margin-top: 3vw;
}
.election_info > h6,
.election_info > p,
.take_elections_btn > p {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-400);
  line-height: 19px;
}

.election_info > h6 {
  color: rgba(18, 18, 18, 0.9);
  font-size: var(--font-size-16);
  margin-bottom: 0.8vw;
}

.election_info > p {
  font-size: var(--font-size-14);
  color: var(--color-black-text);
  margin-bottom: 0.3vw !important;
}

.take_elections_btn {
  width: 100%;
  background: rgba(75, 26, 133, 0.1);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4vw;
  margin-top: 3vw;
  outline: none;
  border: none;
  gap: 1vw;
}

.take_elections_btn > div {
  margin-top: 7px;
}
.take_elections_btn:hover {
  background-color: #1c023b;
  color: #ffffff;
}
.take_elections_btn:hover > p {
  color: white;
}
.take_elections_btn > p {
  font-size: var(--font-size-16);
  line-height: 34px;
  margin-bottom: 0 !important;
  color: rgba(18, 18, 18, 0.6);
}
.election_card_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2vw;
  cursor: pointer;
}
.election_card_info {
  display: flex;
  flex-direction: column;
  gap: 0.7vw;
  align-items: flex-start;
  justify-content: flex-start;
}
.election_card_title > img,
.candidate_member > img,
.candidate_member_normal > img,
.candidate_member_result > img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.election_card_info > p {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  color: rgba(18, 18, 18, 0.8);
  margin-bottom: 0 !important;
}

.election_card_info > p > span {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-14);
  color: rgba(18, 18, 18, 1);
}

.create_new_elections_hr1 {
  border: 3px solid #c4c4c4;
}
.candidate {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-14);
  color: #121212;
}
.candidate_container {
  padding: 0.3vw 1vw 1vw 1vw;
}
.candidate_member {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2vw;
  margin-top: 1.5vw;
  cursor: pointer;
}
.candidate_member:hover {
  background-color: rgba(50, 71, 141, 0.15);
  margin: 0 -2.1vw;
  padding: 0.4vw 2vw;
}
.candidate_member_selected {
  background-color: rgba(50, 71, 141, 0.15);
  margin: 0 -2.1vw;
  padding: 0.4vw 2vw;
}
.candidate_member_normal,
.candidate_member_result {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2vw;
  margin-top: 1.5vw;
}
.candidate_member_active_normal {
  background-color: rgba(50, 71, 141, 0.15);
  margin: 0 -1.1vw;
  padding: 0.4vw 1vw;
  margin-bottom: 1.5vw;
}
.candidate_gr {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  color: rgba(18, 18, 18, 0.5);
  margin-bottom: 0 !important;
}
/* .candidate_member_info{
display: flex;
fle
} */

.candiate_heading,
.candiate_paragraph,
.result_count,
.result_count_paragraph,
.result_candidate,
.result_vote_count {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
}

.candiate_heading {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-14);
  line-height: 17px;
  color: var(--color-black-text);
}
.candiate_paragraph {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: 17px;
  color: rgba(18, 18, 18, 0.8);
}

.candidate_action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 637dd3cf67a8d395cdcec96e */
.candidate_action > button {
  border: 1px solid #001a72;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8vw 3.5vw;
  outline: none;
  margin-top: 36px;
}
.candidate_action > button:focus {
  outline: none;
}

.candidate_action > button:first-child {
  background: rgba(75, 26, 133, 0.1);
  color: #001a72;
}

.candidate_action > button:last-child {
  background: #001a72;
  color: #ffffff;
}

.result_container {
  width: 343px;
}

.result_container_box {
  width: 100%;
  height: 77px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.result_container_box_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result_container_box_vertical {
  height: 45px;
  width: 0.9px;
  background-color: rgba(0, 0, 0, 0.15);
}
.result_count {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-18);
  line-height: 22px;
  color: #121212;
}

.result_count_paragraph {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-12);
  line-height: 15px;
  color: rgba(18, 18, 18, 0.8);
}

.result_candidate {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-14);
  line-height: 17px;
  color: #121212;
  margin-top: 18px;
  margin-bottom: 30px;
}
.candidate_alignment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.candidate_name {
  width: 100%;
}
.result_vote_count {
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-14);
  line-height: 17px;
  color: #121212;
}

.extra_skill_election_detail_container {
  width: 100%;
  min-height: 300px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
}
.extra_skill_election_detail_container_padding {
  padding: 1vw;
}
.extra_skill_election_result {
  width: 100%;
  height: 73px;
  background: #1e80b8;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 0px 0px 12px 12px;
  padding: 0.8vw;
  margin-top: 1vw;
}

.extra_skill_election_result_winner {
  width: 100%;
  height: 73px;
  background: #20b038;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 0px 0px 12px 12px;
  padding: 0.8vw;
  margin-top: 1vw;
}
.extra_skill_election_result > h6:first-child,
.extra_skill_election_result_winner > h6:first-child {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.3px;
}

.extra_skill_election_result > h6:last-child,
.extra_skill_election_result_winner > h6:last-child {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
}

.set_fees_structure_btn,
.set_fees_structure_btn:focus {
  width: 100%;
  height: 47px;
  background: rgba(0, 26, 114, 0.15);
  border: 1px solid #001a72;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #001a72;
  outline: none;
  padding: 15px 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.electionsContainer {
  width: 100%;
  display: flex;
  gap: 2%;
}

.electionleftFull {
  width: 100%;
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
}

.electionleftHalf {
  width: 49%;
  display: flex;
  flex-direction: column;
}
.electionsRight {
  width: 49%;
}
