.mainContainer {
  width: 61.493vw;
  margin-top: -2.57vw;
  margin-bottom: 1vw;
  min-height: 32.943vw;
  background-color: #ffffff;
  border: 0.037vw solid #cacaca;
  border-radius: 0.439vw;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
}
