.newPost {
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
  padding: 1rem;
  width: 100%;
  position: sticky;
  top: 12vh;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header h4 {
  font-family: "Inter";
  user-select: none;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1vw;
  line-height: 22px;
  /* identical to box height, or 110% */

  color: #121212;
}
.header img {
  cursor: pointer;
}

.imgContainer {
  width: 3vw;
  height: 3vw;
}

.imgContainer img {
  width: 100%;
  border-radius: 100%;
  height: 100%;
}

.title {
  display: flex;
  gap: 1.5vw;
}

.public {
  display: flex;
  align-items: center;
  margin-top: -7px;
  gap: 0.7vw;
}
.privacyIcon {
  height: 1vw;
}
.select select {
  font-size: 1vw;
  margin-top: -0.5vw;
}

.select {
  position: relative;
}

.arrow {
  background-color: white;
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.arrowIcon {
  position: absolute;
  top: 45%;
  right: 8%;
  height: 0.4vw;
}
select::-ms-expand {
  display: none;
}
.select:hover {
  cursor: pointer;
}

.select select {
  width: 75px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  color: #888888;
}

.select select option {
  margin-top: 1px;
}
hr {
  border: 0.1px solid rgba(0, 0, 0, 0.01px);
}

.hr {
  width: 104.4%;
  margin-top: 1vw;
  margin-left: -2.1%;
}

.userName h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.8);
}

.postTitle {
  margin-top: 2vw;
}
.postTitle input {
  border: none;
  outline: none;
  border-bottom: 0.5px solid rgba(18, 18, 18, 0.3);
  padding-bottom: 1vw;
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 800 !important;
  font-size: 1vw !important;
  line-height: 19px !important;
  color: rgba(18, 18, 18, 0.8);
  width: 100%;
}
.postTitle input::placeholder {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 1vw !important;
  line-height: 19px !important;

  color: rgba(18, 18, 18, 0.8) !important;
}

.QAns {
  margin-top: 1vw;
}
.QAns h6,
.length p {
  margin-top: 0.5vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.8);
}

.postDesc {
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.pollTextarea::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.5);
}

.pollTextarea {
  width: 100%;
  padding: 1vw;
  resize: none;
  outline: none;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;

  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 1vw !important;
  line-height: 19px !important;
  color: #121212;
}

.validBorder {
  border: 0.8px solid red !important;
}

.validcolor {
  color: red !important;
}

.pollInput {
  width: 100%;
  padding: 0.5vw;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  outline: none;

  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 1vw !important;
  line-height: 19px !important;
  color: #121212;
}

.pollInput::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw !important;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.5);
}

.pollTextarea::-webkit-scrollbar {
  width: 0;
}

.duration {
  width: 100%;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 0.7vw;
  outline: none;

  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.5);
}

.length {
  display: flex;
  justify-content: flex-end;
}
.length p {
  margin-bottom: 0 !important;
}

.addOption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  margin-bottom: 1vw;
  /* identical to box height */

  color: #436dfa;
  cursor: pointer;
  margin-top: 0.5vw;
}

.btn {
  margin-top: 5vw;
  background: #f1f1f1;
  border-radius: 6px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-bottom: 2vw;
  cursor: pointer;
  outline: none;
  border: none;
}
.btn > div {
  margin-top: 6px;
}

.upload {
  display: none;
}

.Container {
  margin-top: 2vw;
  width: 100%;
}

.selectedImg {
  width: 100% !important;
  height: 30vh !important;
}

/* .selectedImage {
      height: 5vh;
      width: 100%;
    } */

.btn:hover {
  background: #1c023b;
}
.addfiles {
  cursor: pointer;
}
.btn:hover p {
  color: white;
}

.btn p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2vw;
  line-height: 24px;
  margin-bottom: 7px;
  margin-top: 7px;

  color: rgba(18, 18, 18, 0.6);
}

.iconsContainer {
  display: flex;
  justify-content: space-between;
}

.icons {
  display: flex;
  gap: 1.5vw;
}

.icons img {
  height: 1.4vw;
  margin-bottom: 0.5vw;
  cursor: pointer;
}

.iconsContainer p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.8);
}

.tille {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1vw;
  line-height: 19px;

  color: #000000;
}

.description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 23px;
  /* or 144% */

  color: rgba(18, 18, 18, 0.8);
}

.afterbtn {
  margin-top: 1vw;
}

.hashtag {
  display: flex;
  flex-wrap: wrap;
}

/* -----------Document/Announcement------------------------------ */
.listContainer {
  width: 100% !important;
  max-height: 40vh !important;
  margin-bottom: 1vw;
  overflow-y: scroll;
}
.documentList,
.pdfList {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 1vw;
}
.documentList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 !important;
  gap: 2vw;
}

.documentList img {
  max-height: 20vh;
  max-width: 100%;
}

.pdfList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
}

.pdfPreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-top: 1vw;
  background-color: #f2f6f9;
  height: 12vw !important;
  width: 20%;
  word-wrap: break-word;
  border-radius: 6px;
}
.pdfPreview img {
  height: 7vh;
}
.pdfPreview p {
  margin-bottom: 0 !important;
  font-size: 1vw;
  text-align: center;
}

/* -----------Icon Border------------------------- */
.border2 {
  height: 1.8px;
  width: 1.4vw;
  background-color: #f48603;
}

.border1 {
  height: 1.8px;
  width: 1.4vw;
  background-color: #e33d3d;
}
.border3 {
  height: 1.8px;

  width: 1.4vw;
  background-color: #14ab50;
}
.border4 {
  height: 1.8px;

  width: 1.4vw;
  background-color: #047ed6;
}

.border5 {
  height: 1.8px;

  width: 1.4vw;
  background-color: #ecb903;
}

@media only screen and (max-width: 1024px) {
  .public {
    margin-top: -8px;
    gap: 0.7vw;
  }
  .privacyIcon {
    height: 1.3vw;
  }
  .userName h6 {
    font-size: 1.3vw;
  }
  .select select {
    font-size: 1.3vw;
    margin-top: -0.3vw;
    width: 50px;
  }
  .imgContainer {
    width: 3.5vw;
    height: 3.5vw;
  }
  .arrowIcon {
    margin-top: 1px;
  }
  .postTitle input {
    font-size: 1.1vw !important;
  }
  .hashTag p {
    font-size: 1.1vw;
  }

  .btn p {
    font-size: 1.6vw;
  }
}

@media only screen and (max-width: 920px) {
  .mainbody {
    padding: 3vh 0 0 0;
  }
  .postTitle input {
    font-size: 1.2vw !important;
  }
}

.optionDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
}

.optionDiv > p {
  color: #436dfa;
  cursor: pointer;
}
