.string_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: var(--tab-color);
  margin-top: 0.3rem;
}

.mark_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: var(--tab-color);
  margin-top: 0.3rem;
  color: red;
}
