.umdw,
.umpw,
.umg {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--bg-color-white);
  height: 40px;
  border: 0.5px solid var(--border-color-1);
  border-top-left-radius: var(--radius-4);
  border-top-right-radius: var(--radius-4);
  cursor: pointer;
}
.umg {
  max-width: 3.5rem;
  flex: 1 1 fit-content;
  gap: 0.3rem;
  padding: 0.2rem 1rem;
}
.umdw {
  gap: 1rem;
  flex: 3 3;
  padding: 0.2rem 2rem;
}
.um_main_wrapper {
  flex: 3 3;
  margin-top: 1rem;
}
.ump_inner_w {
  max-width: 18rem;
  flex: 1 1 fit-content;
  margin-top: 1rem;
}
.umpw {
  max-width: 16rem;
  gap: 1rem;
  flex: 1 1 fit-content;
  padding: 0.2rem 1rem;
}
.umdw > h6,
.umpw > h6,
.umg > h6 {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 22px;
  color: var(--t-color);
  margin: 0;
}
.umdw > img {
  height: 1.5rem;
  width: auto;
}
.umg > img {
  height: 1.2rem;
  width: auto;
}
.umpw > img {
  height: 2rem;
  width: auto;
  border-radius: 50%;
}
