.examForm {
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-radius: 6px;
  min-height: 59vh;
}
.item {
  width: 100%;
  margin-top: 1vw;
  position: relative;
}
.item h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.8);
}

.item .select {
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

.select p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height */
  margin-top: 10px;

  color: rgba(18, 18, 18, 0.5);
}

.tooltip {
  position: absolute;
  top: 2.5vw;
  /* left: 15%; */
  right: 49%;
}

.selectclass {
  height: 1.2vw;
}

/* ------------OPtions---------------- */

.profileToolTip {
  position: absolute;

  width: 223px;
  height: auto;
  background: white;
  z-index: 5;
  border-radius: 6px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.triangle {
  position: absolute;
  top: -10px;
  right: 0.9%;
  z-index: 0;
  border-bottom: 15px solid #fff;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
.triangleDisplay {
  display: none;
}

.profilelist {
  width: 100%;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profilelist div {
  list-style: none;
  width: 100%;
  padding: 8px;
  padding-left: 20px;
  cursor: pointer;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.8);
}

.profilelist div:hover {
  background: rgba(75, 26, 133, 0.1);
}

.schedulebtn {
  background: rgba(75, 26, 133, 0.1);
  border-radius: 8px;
  margin-top: 3vw;
  /* padding: 0.5vw; */
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  /* color: #ffffff; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.schedulebtn > div {
  margin-top: 10px;
}
.schedulebtn:hover {
  background-color: #1c023b;
  color: #ffffff;
}
.schedulebtn:hover p {
  color: white;
}
.schedulebtn p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 24px;
  margin-bottom: 7px;
  margin-top: 7px;
  color: rgba(18, 18, 18, 0.6);
}
/* -------------------------------------- */

.selectBtn {
  padding: 0.3vw 1vw;
  background-color: #436dfa;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 19px;
  margin-top: 0.2vw;
  margin-bottom: 0 !important;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.classdiv {
  width: 90%;

  overflow-x: scroll;
  display: flex;
  gap: 0.3vw;
}

.classdiv::-webkit-scrollbar {
  width: 1px;
  height: 2px;
}
