.avatar_image {
  min-height: 2.635vw;
  min-width: 2.635vw;
  border-radius: 50%;
}

.custom_avatar_container {
  width: 37rem;
  height: 35rem;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
}

.custom_avatar_one > img,
.custom_avatar_one {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  cursor: pointer;
}
.custom_avatar_one > img:hover,
.custom_avatar_one:hover {
  background-color: #d5d8e6;
}
.custom_avatar_content {
  width: 100%;
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-16);
  line-height: var(--line-height-17);
  color: var(--tab-color);
}
