.aboutMain {
  padding: 2rem;
}
.aboutMain p {
  margin-bottom: 0;
}
.aboutNamePlace1,
.aboutQualification {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* width: 47.438vw; */
  margin-bottom: 2.196vw;
}

.aboutValue {
  min-width: 10.029vw;
  height: 1.245vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.025vw;
  line-height: 1.245vw;
  color: rgba(18, 18, 18, 0.9);
}
.aboutOneRow {
  display: flex;
  align-items: center;
  margin-bottom: 2.196vw;
}
.aboutNamePlace {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 15.373vw;
}
.aboutPlace {
  min-width: 2.855vw;
  height: 1.245vw;
  margin-bottom: 0.293vw !important;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.025vw;
  line-height: 1.245vw;
  color: rgba(18, 18, 18, 0.5);
}
