.sidebarBottom {
  margin-top: 1.171vw;
  width: 19.327vw;
  min-height: 10.305vw;
  background-color: #ffffff;
  border: 0.037vw solid #cacaca;
  border-radius: 0.439vw;
  margin-bottom: 1vw;
}
.about {
  display: flex;
  justify-content: center;
  max-width: 14vw;
  height: 1.245vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.025vw;
  line-height: 1.245vw;
  color: #121212;
  margin: 1.354vw auto 1.354vw auto;
}

.sidebarBottom p {
  margin-bottom: 0;
}
.bottomBorder {
  width: 19.327vw;
  height: 0px;
  border: 0.037vw solid rgba(0, 0, 0, 0.15);
  margin-bottom: 1.757vw !important;
}
.oneList {
  height: 3.075vw;
  display: flex;
  align-items: center;
  margin-left: 1.757vw;
  margin-bottom: 2.343vw;
}
.oneListimage,
.oneListimage img {
  width: 3.075vw;
  height: 3.075vw;
  border-radius: 50%;
}

.oneListText {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 0.878vw;
}
.oneListText p {
  margin-bottom: 0;
}
.oneListName {
  height: 1.245vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.025vw;
  line-height: 1.245vw;
  color: #121212;
  margin-bottom: 0.293vw !important;
}
.oneListLabel {
  width: 8.419vw;
  height: 1.098vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.878vw;
  line-height: 1.098vw;
  color: rgba(18, 18, 18, 0.5);
  margin-bottom: 0.293vw !important;
}
