.events {
}

.cardContainer {
  padding: 1vw 4vw;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.cardContainer:hover {
  background: rgba(75, 26, 133, 0.1) !important;
}

.card {
  display: flex;
  gap: 1vw;

  margin-bottom: 0.5vw;
}

.card img {
  height: 4vw;
  width: 4.5vw;
  border-radius: 0.3vw;
}

.card p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */
  text-align: left;

  margin-bottom: 0.35vw;
  color: rgba(18, 18, 18, 0.8);
}

.span1 {
  font-weight: 600 !important;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */

  text-transform: capitalize;

  color: rgba(18, 18, 18, 0.9) !important;
}

.span2 {
  font-weight: 500 !important;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */

  text-transform: capitalize;

  color: rgba(18, 18, 18, 0.8) !important;
}

.span3 {
  color: #e95f28;
}
