.container {
  width: 61.493vw;
  min-height: 51.772vw;
  background-color: #ffffff;
  border: 0.037vw solid #cacaca;
  margin: auto;
  margin-top: 1.1vw;
  margin-bottom: 1vw;
  padding-bottom: 1vw;
}

.labelContainer {
  margin: 1.5vw 3.028vw 0 3.028vw;
}
.label label {
  width: 11.127vw;
  height: 1.245vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.025vw;
  line-height: 1.245vw;
}

.inputBox {
  margin-top: 0.878vw;
}
.inputBox,
.inputBox > p {
  position: relative;
  width: 100%;
  height: 3.441vw;
  background-color: #ffffff;
  cursor: pointer;
  margin-bottom: 0 !important;
  display: flex;
  align-items: center;
}

.inputBox > p {
  padding-left: 1.098vw;
  border: 0.037vw solid rgba(0, 0, 0, 0.12);
  box-shadow: 0.073vw 0.146vw 2.343vw rgba(0, 0, 0, 0.05);
  border-radius: 0.439vw;
}
.inputBox > img {
  position: absolute;
  right: 10px;
}
.inputBox > p:focus {
  outline: none;
}

.add_supporting_member {
  display: flex;
  justify-content: flex-start;
  gap: 2vw;
  align-items: center;
  margin-top: 1.5vw;
}
.add_supporting_member > img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.add_supporting_member_heading {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
}

.add_supporting_member_heading {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-14);
  line-height: 17px;
  color: rgba(18, 18, 18, 1);
}

.containerhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5vw 3.028vw 0 3.028vw;
}

.containerhead > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #121212;
}

.containerhead > img {
  cursor: pointer;
}

.flexItem50 {
  margin: 1.5vw 3.028vw 0 3.028vw;
}

.fileinputflexContainer > h6,
.input_label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 17px;
  margin-bottom: 0.3rem;
  color: rgba(18, 18, 18, 0.8);
}

.labelspan {
  color: #ed4a4a;
}

.formselect {
  position: relative;
  background: #ffffff;
  border: 0.037vw solid rgba(0, 0, 0, 0.12);
  box-shadow: 0.073vw 0.146vw 2.343vw rgb(0 0 0 / 5%);
  border-radius: 0.3rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 17px;
  color: rgba(18, 18, 18, 0.8);
  padding: 0.75rem;
  cursor: pointer;
}
.input_border_active {
  border: 1px solid #1c023b !important;
}

/* .formselectactive {
  border: 0.5px solid rgba(0, 0, 0, 0.42) !important;
} */

.genderh {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 17px;
  color: rgba(18, 18, 18, 0.8);
  margin-bottom: 0 !important;
}
.genderplaceholder {
  color: rgba(18, 18, 18, 0.5) !important;
}

.upIcon {
  height: 0.45rem;
  position: absolute;
  right: 0.75rem;
  top: 1rem;
}

.downIcon {
  height: 0.95rem;
  position: absolute;
  right: 0.75rem;
  top: 0.65rem;
}
