.scheduleModal {
  width: 400px;

  background: #fafafa;
  border-radius: 12px;
}
.modalTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}

.modalTitle img {
  height: 14px;
  cursor: pointer;
}

.modalTitle h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  margin-bottom: 0 !important;
  color: #121212;
}

.item {
  padding: 0.8vw 2vw;
  display: flex;
  gap: 1.5vw;
  align-items: center;
  border-bottom: 0.3px solid rgb(222, 214, 214);
  cursor: pointer;
}
.item:hover {
  background: rgba(75, 26, 133, 0.1);
}
.item img {
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
}

.item p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: #121212;
}

.index {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw !important;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.8) !important;
}

.searchContainer {
  width: 20px;

  background-color: #ffffff;
  border: 0.029vw solid rgba(0, 0, 0, 0.15);
  box-shadow: 0.073vw 0.146vw 2.343vw rgb(0 0 0 / 4%);
  border-radius: 0.439vw;
  display: flex;
  align-items: center;
  /* margin: -1.025vw 7.028vw 3.148vw 7.028vw; */
  margin: -1.025vw 7.028vw -0.8519999999999999vw 7.028vw;
}
.searchContainer input {
  outline: none;
  width: 90%;

  border: none;
  margin-left: 0.073vw;
  padding-left: 3.075vw;
}

.search {
  height: 17px !important;
}

.modalBody {
  height: 400px;
  overflow-y: scroll;
}

.modalBody::-webkit-scrollbar {
  width: 4px !important;
}

.modalBody::-webkit-scrollbar-track {
  background-color: transparent !important;
  box-shadow: none !important;
}

.row {
  width: 100%;
  margin-bottom: 1vw;
  padding: 15px;
}

.row h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.8);
}

.row input {
  outline: 0.5px solid rgba(0, 0, 0, 0.12);
  width: 100%;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgb(0 0 0 / 5%);
  border-radius: 6px;
  padding: 0.7vw;
  height: 3vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  /* font-size: 1px; */
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.5);
}

.row input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.5);
}

.btnContainer {
  width: 100%;
  padding: 15px;
}

.btn {
  width: 100%;
  padding: 10px;
  display: grid;
  place-items: center;
  background-color: rgb(220, 211, 211);
  border-radius: 6px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.active {
  background: #1c023b !important;
  color: #fff !important;
}

.row1 {
  width: 100%;
  margin-bottom: 1vw;
}

.row1 h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 17px;
  /* identical to box height */

  color: #121212;
}

.input {
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 0.8vw;
  cursor: pointer;
  margin-bottom: 2vw;
  position: relative;
}

.input h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: rgba(18, 18, 18, 0.5);
}

.down {
  position: absolute;
  top: 1.3vw;
  right: 1vw;
}

.options {
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  width: 20vw;
}

.option {
  width: 100%;
  padding: 0.5vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  color: #121212;
}

.option:hover {
  background: rgba(0, 26, 114, 0.15);
}

.modalBody1 {
  padding: 15px;
  height: 400px;
  overflow-y: scroll;
}

.row2 {
  margin-bottom: 10px;
}

.row2 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 2px !important;
  color: rgba(18, 18, 18, 0.5);
}
.row2 h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height */

  color: #121212;
}

.modalBody1::-webkit-scrollbar {
  width: 4px !important;
}

.modalBody1::-webkit-scrollbar-track {
  background-color: transparent !important;
  box-shadow: none !important;
}

.btnContainerr {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btnContainerr > .btn {
  width: 49% !important;
}

.btnContainerr > .active {
  cursor: pointer;
}

/* ------------------------------ */

.assign_search_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  position: relative;
}
.assign_search_container > img {
  position: absolute;
  top: 8px;
  left: 30px;
  width: 1.3vw;
  height: 1.3vw;
}

.assign_search_input {
  background: white;
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.04);
  border: none;
  border-radius: 6px;
  padding-left: 45px;
  position: relative;
  outline: none;
  width: 100%;
  height: 30px;
  margin: 0 20px;
}

.assign_search_input::placeholder,
.assign_search_input {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: 17px;
  color: #888888;
}
