.moderator_container {
  margin-top: 1.5rem;
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
}
.moderator_container_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}
.moderator_container_title > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(18, 18, 18, 0.9);
  margin-bottom: 0;
}
.add_new_moderator {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  margin-top: 0.7rem;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: #436dfa;
  display: grid;
  place-items: end;
  cursor: pointer;
}
.menu_icon {
  cursor: pointer;
  position: absolute;
  right: 3%;
}

.scholarship_card_container {
  min-height: 83px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}

.assign_role_container {
  width: 30rem;
  max-height: 35rem;
  min-height: 17rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.assign_role_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  padding: 0.8rem;
}

.assign_role_title > img {
  cursor: pointer;
}
.applicable_to_btn {
  width: 100%;
  height: 47px;
  background: rgba(0, 26, 114, 0.15);
  border: 1px solid #001a72;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #001a72;
}

.category_card {
  width: 100%;
  height: 48px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  padding: 14px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.category_card > h6 {
  font-family: var(--font-family);
  font-style: var(--font-style-normal);
  margin: 0;
}
.category_card > img {
  width: 24px;
  height: 24px;
}
.category_card > h6 {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-14);
  line-height: var(--line-height-17);
  color: rgba(18, 18, 18, 0.8);
}

.category_card:hover {
  background-color: #d5d8e6;
}

.category_card_hover_active {
  background-color: #d5d8e6;
  cursor: pointer;
}

.scholar_preview_container > h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
}
.scholar_preview_container > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(18, 18, 18, 0.8);
}

.scholarship_card_container > h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(18, 18, 18, 0.8);
}

.candidate_card_container {
  width: 100%;
  height: 84px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  gap: 1rem;
}
.candidate_card_container > img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
.candidate_card_container_text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.candidate_card_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.candidate_card_row > h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
  margin-bottom: 0.2rem;
}
.candidate_card_row > p {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: rgba(18, 18, 18, 0.5);
  margin-bottom: 0.3rem !important;
}

.student_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  font-family: "Inter";
  font-style: normal;
  cursor: pointer;
  padding-bottom: 0.6rem;
  margin-top: 0.6rem;
  border-bottom: 1px solid rgba(18, 18, 18, 0.1);
}
.route_container {
  width: 100%;
  min-height: 70px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  font-family: "Inter";
  font-style: normal;
  cursor: pointer;
  padding: 1rem;
  margin-top: 0.6rem;
}
.route_container > img {
  width: 52px;
  height: 52px;
}
.student_container_text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

.student_container > img,
.student_container_text > img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
.student_container_name {
  display: flex;
  flex-direction: column;
}

.student_container_name > h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
}
.student_container_name > p {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: rgba(18, 18, 18, 0.5);
  margin-bottom: 0.2rem !important;
}

.search_container {
  margin: 0;
  display: flex;
  margin-top: 1rem;
}

.search_container_text,
.search_container_input {
  position: relative;
  display: flex;
  align-items: center;
}
.search_container_text > input,
.search_container_text > input:focus {
  width: 610px;
  height: 40px;
  background: #ffffff;
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  border: none;
  padding-left: 3.075vw;
  outline: none;
}
.search_container_input > input,
.search_container_input > input:focus {
  min-width: 200px;
  height: 40px;
  background: #ffffff;
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  border: none;
  padding-left: 3.075vw;
  outline: none;
}

.searchIcon {
  position: absolute;
  margin-left: 1.3vw;
  width: 1.5vw;
  top: 20%;
}

.allot_container {
  padding: 1rem;
}

.unused_container {
  width: 100%;
  min-height: 66px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  padding: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.unused_container_text {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.unused_container_text_inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.unused_container_text_inner > h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #121212;
  margin-bottom: 0.4rem;
}

.unused_container_text_inner > p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: rgba(18, 18, 18, 0.5);
  margin-bottom: 0.4rem !important;
}

.intake_history {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #121212;
  margin-top: 1rem;
}
.corpus_card {
  width: 100%;
  min-height: 143px;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  padding: 0.8rem;
  margin-bottom: 1rem;
}

.corpus_card > h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #121212;
}
.corpus_card > p:last-child {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: rgba(18, 18, 18, 0.5);
  margin-bottom: 0.1rem !important;
}
.recieve_from {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
  color: rgba(18, 18, 18, 0.6);
  margin-bottom: 0.4rem !important;
}

.save_entry,
.save_entry:focus {
  width: 100%;
  height: 50px;
  background: #002bbe;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  border: none;
  outline: none;
}

.row_search {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #001a72;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.with_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.with_search > h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(18, 18, 18, 0.9);
  margin-bottom: 0;
}
.search_container_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.edit_btn,
.edit_btn:focus {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #001a72;
  position: absolute;
  border: none;
  outline: transparent;
  right: 3%;
  background-color: #ffffff;
}
.upload_excel_file {
  width: 28px;
  height: 24px;
  cursor: pointer;
}
.upload_excel_file > img {
  height: 100%;
  width: 100%;
}
/* // student table style  */
.student_table {
  width: 100%;
  min-height: 60vh;
  margin-bottom: 1vw;
  background: #ffffff;
  border: 0.037vw solid #cacaca;
  border-radius: 0.439vw;
  margin-top: 1rem;

  /* border-bottom-left-radius: 0.439vw;
  border-bottom-right-radius: 0.439vw; */
}
.student_table_header {
  display: flex;
  align-items: center;
  height: 45px;
}
.student_table_header_label {
  font-family: "Inter";
  font-style: normal;
  width: 15%;
  font-weight: 500;
  font-size: 1.025vw;
  line-height: 1.245vw;
  color: #121212;
  margin-bottom: 0 !important;
  padding: 0.5rem;
}
.student_table_content_card {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.8vw 0;
}
.student_table_content_card:hover {
  background-color: rgba(75, 26, 133, 0.1);
}
.student_table_profile {
  font-family: "Inter";
  font-style: normal;
  width: 15%;
  flex: 3;
  display: flex;
  align-items: center;
}
.student_table_profile > img {
  width: 3.367vw;
  height: 3.367vw;
  border-radius: 50%;
  margin-right: 1.025vw;
}
.student_table_header_name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.025vw;
  line-height: 1.245vw;
  color: #121212;
  margin-bottom: 0.2rem !important;
}
.student_table_header_label_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.878vw;
  line-height: 1.098vw;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0 !important;
}
.student_table_contact {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.student_table_contact > img {
  width: 1.318vw;
  height: 1.318vw;
}
.student_table_contact_email {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.878vw;
  line-height: 1.098vw;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 0 !important;
}
.student_table_contact_number {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.952vw;
  line-height: 1.171vw;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 0 !important;
}
.button_container {
  display: flex;
  align-items: center;
}
.next_btn,
.next_btn:focus,
.next_btn:focus-visible {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #002bbe;
  outline: transparent;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  border: none;
}

.select_hover:hover,
.select_hover_active {
  background-color: rgba(75, 26, 133, 0.1);
}

.os_filter_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.os_filter_container > img {
  cursor: pointer;
}
.os_reminder,
.os_reminder:focus {
  background-color: #1c023b;
  border: none;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 15px;
  color: #ffffff;
}

.next_student_btn,
.next_student_btn:focus,
.next_student_btn:focus-visible {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #002bbe;
  outline: transparent;
  border: 0.5px solid #002bbe;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
}
