.navleft {
  display: flex;
  gap: 3vw;
}

.logo {
  height: 2.6vw;
  cursor: pointer;
}

.searchbar {
  position: relative;
}

.searchbar > input {
  height: 2.8vw;
  background: rgba(28, 2, 59, 0.07);
  box-shadow: 1px 2px 32px rgba(0, 0, 0, 0.04);
  border: none;
  border-radius: 6px;
  width: 18vw;
  padding-left: 45px;
  position: relative;
  outline: none;
}
.searchbar > img {
  position: absolute;
  left: 3%;

  bottom: 27%;
}
.searchbar > img:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1370px) {
  .logo {
    height: 3.2vw;
  }
  .searchbar > input {
    height: 3.2vw;
  }
}

@media only screen and (max-width: 1280px) {
  .logo {
    height: 3.1vw;
  }

  .searchbar > input {
    height: 3.4vw;
  }
}

@media only screen and (max-width: 1140px) {
  .logo {
    height: 3.3vw;
  }
  .searchbar > input {
    height: 3.5vw;
  }
}
