.mainbody {
  display: flex;
  /* padding: 3vh 5vw 0 4vw; */
  padding: 3vh 9.5vw 1vw 9vw;
  background-color: #f5f5f5;

  min-height: 90vh;
  /* overflow-y: scroll;
    height: 100vh; */
  padding-bottom: 2vh;
  gap: 1vw;
  justify-content: center;
}

.sidebar {
  width: 30%;
}

.rightbody {
  width: 100%;
}

.bodytabs {
  display: flex;
  justify-content: space-between;
}

.bodytab {
  width: 49.5%;
  display: grid;
  place-items: center;
  background: rgba(75, 26, 133, 0.1);
  padding: 0.9rem;
  cursor: pointer;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 17px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.8);
}

.bodytabActive {
  background: #1c023b !important;

  color: #ffffff !important;
}

.bodytab0 {
  border-top-left-radius: 0.375rem;
}

.bodytab1 {
  border-top-right-radius: 0.375rem;
}

.departmentContent {
  width: 100%;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  padding-bottom: 2vw;
  border-top: none;

  min-height: 77vh;
}

.items {
  display: flex;
  gap: 2.5rem;
  cursor: pointer;
  justify-content: flex-start;
  padding: 2rem 3rem;
  flex-wrap: wrap;
}

.items p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;
  color: #121212;
}

.itemIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 11vw;
  height: 11vw;
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  gap: 2vw;
}

.itemIcon > img {
  height: 3.5vw;
  width: 3.5vw;
}
.itemIcon:hover {
  background: rgba(75, 26, 133, 0.1);
}
