.fees {
  width: 100%;
  display: flex;
  margin-top: 1vw;
  justify-content: space-between;
}

.feesLeft {
  width: 64%;
}

.feesRight {
  width: 34%;
}

.heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
}

.table {
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
}

.right {
  background: #ffffff;
  border: 0.4px solid rgba(0, 0, 0, 0.15);
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.02),
    1px 2px 32px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  margin-top: 1.5vw;
}

.tableHead {
  padding: 1vw;
  display: flex;
  align-items: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.rightHead {
  width: 100%;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: #20b038;
}

.tableHead h6 {
  margin-bottom: 0 !important;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 15px;
  /* identical to box height, or 107% */

  text-align: center;

  color: #121212;
}

.tableBody {
  padding: 1vw;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 0.8vw;
}

.tableBody p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 18px;
  /* or 129% */
  margin-bottom: 0 !important;
  color: rgba(18, 18, 18, 0.6);
}

.rollno {
  width: 10%;
  display: grid;
  place-items: center;
}

.name {
  width: 45%;
  display: grid;
  place-items: center;
}

.radio {
  width: 15%;
  display: grid;
  place-items: center;
}

input[type="radio"] {
  border: 0px;
  background-color: #1c023b !important;
  color: #1c023b !important;
  height: 1.5em;
}

.radio input {
  display: none;
}

.rightHead h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */

  text-transform: capitalize;
  margin-bottom: 0 !important;
  color: #ffffff;
}

.rightBody {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  padding: 1vw;
  text-transform: capitalize;

  color: #121212;
}

.rightBody h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 17px;
  /* identical to box height */
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  text-transform: capitalize;

  color: #121212;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.btn {
  background: #436dfa;
  box-shadow: inset -2px -3px 12px rgba(0, 0, 0, 0.15);
  border-radius: 3.22222px;
  padding: 0.3vw 1vw;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.85vw;
  line-height: 14px;
  /* identicurcal to box height, or 117% */
  cursor: pointer;
  color: #ffffff;
}

/* ---------------------FeesList------------------ */

.examList {
  width: 100%;
}
.examListItems {
  width: 55%;

  min-height: 50vh;
  /* overflow-y: scroll; */
}

.sidebarheader {
  background: white;
  border-radius: 6px;
  color: #1c023b;
  padding: 1vw;
  display: flex;
  gap: 1vw;
  width: 100%;
  cursor: pointer;
  position: relative;
  margin-top: 0.5vw;
}
.sidebarheader img {
  height: 2.7vw;
  width: 2.7vw;
  border-radius: 50%;
}

.text {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5vw;
}

.text h6,
.date h6 {
  margin-top: -5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9vw;
  line-height: 20px;
  /* identical to box height, or 143% */
  margin-bottom: 0 !important;

  color: #1c023b;
}

.text p,
.date p {
  margin-bottom: 0 !important;
  margin-top: -5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75vw;
  line-height: 20px;
  /* identical to box height */

  color: rgba(18, 18, 18, 0.6);
}

.date p {
  margin-top: 0.2vw;
  color: #121212 !important;
}
.date h6,
.date p {
  text-align: right;
}

.insUserName p {
  color: #121212 !important;
}

.backh {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.05vw;
  line-height: 17px;
  /* identical to box height */
  margin-bottom: 0 !important;

  cursor: pointer;
  color: rgba(238, 56, 51, 0.5);
}

.deestabss {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5vw;
  align-items: center;
}

.save_fees {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 10px;
  color: #ffffff;
  background-color: #436dfa;
  border-radius: 6px;
  margin-bottom: 0.5vw;
  cursor: pointer;
}
