.item {
  width: 100%;

  background-color: #ffffff;
  cursor: pointer;
  padding: 1.7vw 0.5vw 1vw 1vw;
  display: flex;
  gap: 1.5vw;
  align-items: center;
  border-bottom: 0.1px solid rgb(221, 217, 217);
}
.item img {
  height: 2.7vw;
  border-radius: 50%;
}

.text {
  position: relative;

  width: 100%;
  display: flex;
  justify-content: space-between;
}

.text h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.95vw;
  line-height: 17px;
  margin-top: 1vw;
  /* identical to box height 

  text-transform: lowercase;

  color: rgba(18, 18, 18, 0.8);*/
}

.text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 15px;
  /* identical to box height */
  margin-top: -0.5vw;

  /* text-transform: lowercase; */
  margin-bottom: 0 !important;
  color: rgba(18, 18, 18, 0.8);
}
.textlast {
  margin-bottom: 1rem !important;
}

.btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.7vw;
  line-height: 15px;
  /* identical to box height, or 128% */
  padding: 3px;
  color: #1c023b;
  border: 0.805556px solid #1c023b;
  border-radius: 3.22222px;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .text p {
    margin-top: -0.9vw;
    font-size: 0.95vw;
  }
  .text h6 {
    font-size: 1vw;
  }
}

@media only screen and (max-width: 920px) {
  .text p {
    margin-top: -0.9vw;
    font-size: 1vw;
  }
  .text h6 {
    font-size: 1.2vw;
  }
}

.eachItem {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  width: 100%;
}

.eachItem .eachItemleft {
  width: 88%;
  display: flex;
  gap: 1vw;
  align-items: center;
}
.eachItem .text {
  width: 10%;
}
.eachItemleft img {
  height: 2.7vw;
  width: 2.7vw;
  border-radius: 50%;
}
.eachItemleft p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.95vw;
  line-height: 18px;
  margin-top: -0.5vw;
  /* text-transform: lowercase; */
  margin-bottom: 0.3vw !important;
  color: rgba(18, 18, 18, 0.8);
}

.eachItem .text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8vw;
  line-height: 15px;
  /* identical to box height */

  text-transform: lowercase;

  color: rgba(18, 18, 18, 0.5);
}
